In [1]:
import pandas as pd
import numpy as np

In [40]:
yelim = pd.read_csv('merge_tot_data.csv', encoding = 'CP949')
soobin = pd.read_csv('result_0123491011.csv', encoding='utf-8-sig')
ranee = pd.read_csv('연령,스트레스인지율병합.csv', encoding = 'CP949')

In [41]:
soobin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   시도             1250 non-null   object
 1   시군구            1250 non-null   object
 2   행정번호           1250 non-null   int64
 3   년도             1250 non-null   int64
 4   우울증환자수         1250 non-null   int64
 5   코로나확진자수        1250 non-null   object
 6   1인당 정신건강예산(원)  1250 non-null   int64
 7   공공시설개수         1250 non-null   int64
dtypes: int64(5), object(3)
memory usage: 78.3+ KB

In [42]:
ranee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시도       1250 non-null   object
 1   시군구      1250 non-null   object
 2   행정번호     1250 non-null   int64
 3   년도       1250 non-null   int64
 4   평균연령     1250 non-null   float64
 5   스트레스인지율  1250 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 58.7+ KB

In [43]:
yelim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      1250 non-null   object
 1   시군구     1250 non-null   object
 2   행정번호    1250 non-null   int64
 3   년도      1250 non-null   int64
 4   총인구수    1250 non-null   int64
 5   고용률     1250 non-null   float64
dtypes: float64(1), int64(3), object(2)
memory usage: 58.7+ KB

In [44]:
soobin = soobin.sort_values(by=['년도','행정번호'], ascending=True).reset_index(drop=True)
soobin

,시도,시군구,행정번호,년도,우울증환자수,코로나확진자수,1인당 정신건강예산(원),공공시설개수
0,서울특별시,서울종로구,1111000000,2018,14837,0,5326,44
1,서울특별시,서울중구,1114000000,2018,4352,0,5326,42
2,서울특별시,서울용산구,1117000000,2018,2370,0,5326,53
3,서울특별시,서울성동구,1120000000,2018,3657,0,5326,50
4,서울특별시,서울광진구,1121500000,2018,6917,0,5326,47
...,...,...,...,...,...,...,...,...
1245,경상남도,경남함양군,4887000000,2022,283,"15,896",6119,6
1246,경상남도,경남거창군,4888000000,2022,794,"29,267",6119,14
1247,경상남도,경남합천군,4889000000,2022,185,"15,704",6119,1
1248,제주특별자치도,제주제주시,5011000000,2022,11503,"271,444",8662,198
1249,제주특별자치도,제주서귀포시,5013000000,2022,2743,"89,872",8662,54

In [45]:
yelim = yelim.sort_values(by=['년도','행정번호'], ascending=True).reset_index(drop=True)
yelim

           시도     시군구        행정번호    년도    총인구수    고용률
0       서울특별시   서울종로구  1111000000  2018  153065  59.60
1       서울특별시    서울중구  1114000000  2018  125725  59.60
2       서울특별시   서울용산구  1117000000  2018  228999  59.60
3       서울특별시   서울성동구  1120000000  2018  308221  59.60
4       서울특별시   서울광진구  1121500000  2018  355559  59.60
...       ...     ...         ...   ...     ...    ...
1245     경상남도   경남함양군  4887000000  2022   37708  68.85
1246     경상남도   경남거창군  4888000000  2022   60387  67.00
1247     경상남도   경남합천군  4889000000  2022   42142  67.95
1248  제주특별자치도   제주제주시  5011000000  2022  493389  67.15
1249  제주특별자치도  제주서귀포시  5013000000  2022  184770  72.95

[1250 rows x 6 columns]

In [46]:
ranee = ranee.sort_values(by=['년도','행정번호'], ascending=True).reset_index(drop=True)
ranee

           시도     시군구        행정번호    년도  평균연령  스트레스인지율
0       서울특별시   서울종로구  1111000000  2018  44.2     34.2
1       서울특별시    서울중구  1114000000  2018  44.6     28.3
2       서울특별시   서울용산구  1117000000  2018  43.6     20.0
3       서울특별시   서울성동구  1120000000  2018  42.0     31.3
4       서울특별시   서울광진구  1121500000  2018  41.4     29.4
...       ...     ...         ...   ...   ...      ...
1245     경상남도   경남함양군  4887000000  2022  54.5     27.5
1246     경상남도   경남거창군  4888000000  2022  50.4     23.2
1247     경상남도   경남합천군  4889000000  2022  57.8     23.1
1248  제주특별자치도   제주제주시  5011000000  2022  42.5     25.0
1249  제주특별자치도  제주서귀포시  5013000000  2022  45.8     25.0

[1250 rows x 6 columns]

In [47]:
ranee = ranee.iloc[:,[4,5]]
yelim = yelim.iloc[:,[4,5]]

In [49]:
final = pd.concat([soobin, ranee, yelim], axis=1)
final

,시도,시군구,행정번호,년도,우울증환자수,코로나확진자수,1인당 정신건강예산(원),공공시설개수,평균연령,스트레스인지율,총인구수,고용률
0,서울특별시,서울종로구,1111000000,2018,14837,0,5326,44,44.2,34.2,153065,59.60
1,서울특별시,서울중구,1114000000,2018,4352,0,5326,42,44.6,28.3,125725,59.60
2,서울특별시,서울용산구,1117000000,2018,2370,0,5326,53,43.6,20.0,228999,59.60
3,서울특별시,서울성동구,1120000000,2018,3657,0,5326,50,42.0,31.3,308221,59.60
4,서울특별시,서울광진구,1121500000,2018,6917,0,5326,47,41.4,29.4,355559,59.60
...,...,...,...,...,...,...,...,...,...,...,...,...
1245,경상남도,경남함양군,4887000000,2022,283,"15,896",6119,6,54.5,27.5,37708,68.85
1246,경상남도,경남거창군,4888000000,2022,794,"29,267",6119,14,50.4,23.2,60387,67.00
1247,경상남도,경남합천군,4889000000,2022,185,"15,704",6119,1,57.8,23.1,42142,67.95
1248,제주특별자치도,제주제주시,5011000000,2022,11503,"271,444",8662,198,42.5,25.0,493389,67.15
1249,제주특별자치도,제주서귀포시,5013000000,2022,2743,"89,872",8662,54,45.8,25.0,184770,72.95

In [52]:
final.isnull().sum()

시도               0
시군구              0
행정번호             0
년도               0
우울증환자수           0
코로나확진자수          0
1인당 정신건강예산(원)    0
공공시설개수           0
평균연령             0
스트레스인지율          0
총인구수             0
고용률              0
dtype: int64

In [53]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   시도             1250 non-null   object
 1   시군구            1250 non-null   object
 2   행정번호           1250 non-null   int64
 3   년도             1250 non-null   int64
 4   우울증환자수         1250 non-null   int64
 5   코로나확진자수        1250 non-null   object
 6   1인당 정신건강예산(원)  1250 non-null   int64
 7   공공시설개수         1250 non-null   int64
 8   평균연령           1250 non-null   float64
 9   스트레스인지율        1250 non-null   float64
 10  총인구수           1250 non-null   int64
 11  고용률            1250 non-null   float64
dtypes: float64(3), int64(6), object(3)
memory usage: 117.3+ KB

In [58]:
final['코로나확진자수'].unique()

array(['0', ' 574 ', ' 546 ', ' 453 ', ' 500 ', ' 458 ', ' 779 ', ' 800 ',
       ' 718 ', ' 394 ', ' 616 ', ' 780 ', ' 781 ', ' 569 ', ' 635 ',
       ' 751 ', ' 1,341 ', ' 742 ', ' 335 ', ' 839 ', ' 825 ', ' 975 ',
       ' 933 ', ' 1,112 ', ' 1,923 ', ' 613 ', ' 189 ', ' 93 ', ' 236 ',
       ' 24 ', ' 180 ', ' 181 ', ' 103 ', ' 164 ', ' 146 ', ' 75 ',
       ' 69 ', ' 39 ', ' 66 ', ' 120 ', ' 36 ', ' 342 ', ' 834 ', ' 912 ',
       ' 1,693 ', ' 796 ', ' 969 ', ' 1,559 ', ' 696 ', ' 109 ', ' 112 ',
       ' 310 ', ' 515 ', ' 622 ', ' 272 ', ' 518 ', ' 46 ', ' - ',
       ' 124 ', ' 210 ', ' 423 ', ' 212 ', ' 158 ', ' 231 ', ' 256 ',
       ' 76 ', ' 102 ', ' 371 ', ' 62 ', ' 85 ', ' 52 ', ' 149 ', ' 215 ',
       ' 169 ', ' 208 ', ' 360 ', ' 220 ', ' 690 ', ' 351 ', ' 363 ',
       ' 1,166 ', ' 386 ', ' 819 ', ' 67 ', ' 319 ', ' 358 ', ' 593 ',
       ' 557 ', ' 280 ', ' 68 ', ' 250 ', ' 719 ', ' 137 ', ' 470 ',
       ' 448 ', ' 131 ', ' 265 ', ' 144 ', ' 444 ', ' 378 ', ' 507 ',
       ' 168 ', ' 98 ', ' 447 ', ' 398 ', ' 404 ', ' 195 ', ' 296 ',
       ' 115 ', ' 202 ', ' 159 ', ' 117 ', ' 133 ', ' 4 ', ' 55 ', ' 7 ',
       ' 14 ', ' 29 ', ' 19 ', ' 182 ', ' 16 ', ' 9 ', ' 37 ', ' 2 ',
       ' 6 ', ' 95 ', ' 154 ', ' 84 ', ' 255 ', ' 3 ', ' 15 ', ' 22 ',
       ' 72 ', ' 170 ', ' 348 ', ' 349 ', ' 86 ', ' 91 ', ' 209 ', ' 49 ',
       ' 12 ', ' 151 ', ' 27 ', ' 50 ', ' 51 ', ' 26 ', ' 226 ', ' 184 ',
       ' 1 ', ' 81 ', ' 8 ', ' 43 ', ' 191 ', ' 40 ', ' 78 ', ' 11 ',
       ' 10 ', ' 121 ', ' 125 ', ' 145 ', ' 238 ', ' 54 ', ' 799 ',
       ' 160 ', ' 21 ', ' 63 ', ' 204 ', ' 25 ', ' 104 ', ' 205 ', ' 53 ',
       ' 45 ', ' 56 ', ' 20 ', ' 346 ', ' 70 ', ' 5,476 ', ' 7,401 ',
       ' 5,007 ', ' 5,451 ', ' 7,031 ', ' 10,069 ', ' 7,794 ', ' 8,423 ',
       ' 6,425 ', ' 6,055 ', ' 8,239 ', ' 9,025 ', ' 5,635 ', ' 6,142 ',
       ' 7,306 ', ' 9,483 ', ' 10,583 ', ' 5,811 ', ' 10,753 ', ' 8,157 ',
       ' 9,559 ', ' 10,197 ', ' 13,692 ', ' 13,423 ', ' 8,973 ',
       ' 2,011 ', ' 1,251 ', ' 982 ', ' 538 ', ' 1,419 ', ' 1,745 ',
       ' 1,527 ', ' 1,507 ', ' 2,193 ', ' 1,414 ', ' 1,494 ', ' 943 ',
       ' 936 ', ' 2,545 ', ' 957 ', ' 768 ', ' 2,047 ', ' 2,237 ',
       ' 1,430 ', ' 2,351 ', ' 1,886 ', ' 2,952 ', ' 1,652 ', ' 2,060 ',
       ' 938 ', ' 5,329 ', ' 4,865 ', ' 4,834 ', ' 6,096 ', ' 3,298 ',
       ' 5,749 ', ' 710 ', ' 478 ', ' 1,456 ', ' 924 ', ' 1,614 ',
       ' 2,473 ', ' 1,701 ', ' 2,402 ', ' 3,313 ', ' 2,761 ', ' 1,228 ',
       ' 1,401 ', ' 1,893 ', ' 992 ', ' 1,164 ', ' 750 ', ' 1,993 ',
       ' 2,640 ', ' 3,059 ', ' 3,216 ', ' 3,040 ', ' 3,525 ', ' 3,587 ',
       ' 5,738 ', ' 6,376 ', ' 3,599 ', ' 3,933 ', ' 11,253 ', ' 4,643 ',
       ' 8,590 ', ' 2,387 ', ' 4,178 ', ' 6,680 ', ' 5,844 ', ' 3,678 ',
       ' 3,414 ', ' 891 ', ' 3,793 ', ' 9,237 ', ' 2,197 ', ' 6,783 ',
       ' 3,540 ', ' 1,777 ', ' 4,270 ', ' 3,127 ', ' 3,939 ', ' 4,127 ',
       ' 4,991 ', ' 3,183 ', ' 1,779 ', ' 6,302 ', ' 8,756 ', ' 5,140 ',
       ' 3,071 ', ' 1,738 ', ' 1,140 ', ' 629 ', ' 1,404 ', ' 1,859 ',
       ' 2,760 ', ' 1,568 ', ' 663 ', ' 290 ', ' 1,080 ', ' 185 ',
       ' 673 ', ' 221 ', ' 262 ', ' 148 ', ' 326 ', ' 206 ', ' 178 ',
       ' 107 ', ' 225 ', ' 266 ', ' 1,082 ', ' 1,399 ', ' 1,389 ',
       ' 907 ', ' 1,517 ', ' 698 ', ' 166 ', ' 1,099 ', ' 192 ',
       ' 1,237 ', ' 2,013 ', ' 3,772 ', ' 455 ', ' 645 ', ' 2,767 ',
       ' 950 ', ' 1,068 ', ' 224 ', ' 1,622 ', ' 490 ', ' 529 ', ' 284 ',
       ' 108 ', ' 803 ', ' 267 ', ' 3,110 ', ' 207 ', ' 1,449 ',
       ' 1,343 ', ' 313 ', ' 350 ', ' 420 ', ' 80 ', ' 60 ', ' 269 ',
       ' 525 ', ' 993 ', ' 866 ', ' 452 ', ' 400 ', ' 132 ', ' 59 ',
       ' 306 ', ' 198 ', ' 110 ', ' 42 ', ' 157 ', ' 273 ', ' 94 ',
       ' 106 ', ' 153 ', ' 77 ', ' 116 ', ' 1,005 ', ' 1,226 ', ' 1,553 ',
       ' 843 ', ' 494 ', ' 2,210 ', ' 504 ', ' 385 ', ' 278 ', ' 1,994 ',
       ' 41 ', ' 252 ', ' 227 ', ' 575 ', ' 666 ', ' 1,976 ', ' 2,089 ',
       ' 802 ', ' 2,263 ', ' 540 ', ' 717 ', ' 3,728 ', ' 441 ',
       ' 1,476 ', ' 2,282 ', ' 73 ', ' 583 ', ' 484 ', ' 254 ', ' 126 ',
       ' 3,279 ', ' 112,225 ', ' 128,865 ', ' 111,690 ', ' 168,233 ',
       ' 193,320 ', ' 185,533 ', ' 193,256 ', ' 216,777 ', ' 154,069 ',
       ' 160,509 ', ' 267,026 ', ' 251,343 ', ' 167,685 ', ' 221,338 ',
       ' 245,201 ', ' 313,326 ', ' 235,649 ', ' 138,537 ', ' 249,860 ',
       ' 201,024 ', ' 252,078 ', ' 251,669 ', ' 370,766 ', ' 385,682 ',
       ' 260,837 ', ' 164,145 ', ' 83,265 ', ' 60,357 ', ' 20,453 ',
       ' 130,818 ', ' 147,209 ', ' 121,188 ', ' 110,763 ', ' 188,235 ',
       ' 63,569 ', ' 111,755 ', ' 76,022 ', ' 47,390 ', ' 126,991 ',
       ' 144,374 ', ' 95,000 ', ' 50,585 ', ' 169,854 ', ' 110,670 ',
       ' 82,681 ', ' 217,198 ', ' 200,261 ', ' 283,783 ', ' 130,658 ',
       ' 94,937 ', ' 46,592 ', ' 208,473 ', ' 250,250 ', ' 274,975 ',
       ' 255,687 ', ' 156,484 ', ' 323,736 ', ' 32,169 ', ' 6,339 ',
       ' 66,554 ', ' 173,767 ', ' 122,385 ', ' 228,112 ', ' 250,208 ',
       ' 123,054 ', ' 126,918 ', ' 261,243 ', ' 237,359 ', ' 87,749 ',
       ' 109,990 ', ' 195,628 ', ' 82,255 ', ' 131,379 ', ' 92,057 ',
       ' 228,054 ', ' 149,240 ', ' 193,450 ', ' 131,632 ', ' 217,157 ',
       ' 128,643 ', ' 106,936 ', ' 299,957 ', ' 252,968 ', ' 126,176 ',
       ' 186,420 ', ' 427,063 ', ' 175,003 ', ' 358,424 ', ' 46,361 ',
       ' 161,084 ', ' 186,436 ', ' 259,332 ', ' 165,970 ', ' 161,166 ',
       ' 45,187 ', ' 112,982 ', ' 381,036 ', ' 144,222 ', ' 302,311 ',
       ' 154,041 ', ' 94,795 ', ' 177,721 ', ' 174,195 ', ' 231,499 ',
       ' 194,903 ', ' 275,811 ', ' 139,796 ', ' 99,064 ', ' 290,440 ',
       ' 564,132 ', ' 192,515 ', ' 123,548 ', ' 76,568 ', ' 57,569 ',
       ' 24,614 ', ' 32,571 ', ' 57,806 ', ' 170,404 ', ' 205,008 ',
       ' 115,513 ', ' 47,787 ', ' 21,770 ', ' 45,886 ', ' 28,749 ',
       ' 35,711 ', ' 19,782 ', ' 15,895 ', ' 15,478 ', ' 13,197 ',
       ' 27,797 ', ' 20,949 ', ' 15,504 ', ' 21,267 ', ' 13,759 ',
       ' 12,973 ', ' 119,361 ', ' 115,280 ', ' 151,830 ', ' 113,752 ',
       ' 117,838 ', ' 70,299 ', ' 14,898 ', ' 23,356 ', ' 21,152 ',
       ' 23,690 ', ' 53,003 ', ' 16,067 ', ' 49,063 ', ' 11,235 ',
       ' 128,554 ', ' 262,714 ', ' 48,641 ', ' 43,699 ', ' 185,757 ',
       ' 96,565 ', ' 73,663 ', ' 25,233 ', ' 91,586 ', ' 23,497 ',
       ' 26,814 ', ' 23,145 ', ' 11,842 ', ' 54,634 ', ' 33,379 ',
       ' 25,935 ', ' 256,216 ', ' 134,510 ', ' 139,978 ', ' 150,255 ',
       ' 50,273 ', ' 40,147 ', ' 38,165 ', ' 53,723 ', ' 9,311 ',
       ' 11,874 ', ' 8,637 ', ' 12,624 ', ' 11,754 ', ' 24,140 ',
       ' 21,640 ', ' 133,198 ', ' 146,930 ', ' 164,479 ', ' 66,381 ',
       ' 78,468 ', ' 19,347 ', ' 12,178 ', ' 11,663 ', ' 25,879 ',
       ' 17,718 ', ' 33,317 ', ' 16,551 ', ' 14,334 ', ' 28,922 ',
       ' 23,429 ', ' 51,761 ', ' 12,805 ', ' 24,117 ', ' 19,474 ',
       ' 19,336 ', ' 11,570 ', ' 9,580 ', ' 137,483 ', ' 132,033 ',
       ' 113,860 ', ' 69,278 ', ' 81,644 ', ' 235,798 ', ' 53,445 ',
       ' 46,255 ', ' 41,192 ', ' 34,779 ', ' 149,474 ', ' 8,163 ',
       ' 19,615 ', ' 10,180 ', ' 5,912 ', ' 15,386 ', ' 16,578 ',
       ' 11,388 ', ' 15,074 ', ' 52,650 ', ' 27,804 ', ' 10,932 ',
       ' 20,336 ', ' 2,133 ', ' 117,499 ', ' 164,171 ', ' 112,409 ',
       ' 75,342 ', ' 105,415 ', ' 184,393 ', ' 56,334 ', ' 58,781 ',
       ' 285,635 ', ' 46,825 ', ' 126,253 ', ' 191,579 ', ' 10,095 ',
       ' 26,424 ', ' 24,709 ', ' 20,498 ', ' 15,445 ', ' 16,356 ',
       ' 13,267 ', ' 15,896 ', ' 29,267 ', ' 15,704 ', ' 271,444 ',
       ' 89,872 '], dtype=object)

In [60]:
final[final['코로나확진자수'] == ' - ']

,시도,시군구,행정번호,년도,우울증환자수,코로나확진자수,1인당 정신건강예산(원),공공시설개수,평균연령,스트레스인지율,총인구수,고용률
558,인천광역시,인천옹진군,2872000000,2020,0,-,4291,0,49.9,29.3,20455,61.3
692,전라남도,전남강진군,4681000000,2020,173,-,6027,11,53.0,17.2,34597,68.4

In [61]:
final['코로나확진자수'] = final['코로나확진자수'].str.replace('-', '0')
final['코로나확진자수'] = final['코로나확진자수'].str.replace(',', '').astype('int64')
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   시도             1250 non-null   object
 1   시군구            1250 non-null   object
 2   행정번호           1250 non-null   int64
 3   년도             1250 non-null   int64
 4   우울증환자수         1250 non-null   int64
 5   코로나확진자수        1250 non-null   int64
 6   1인당 정신건강예산(원)  1250 non-null   int64
 7   공공시설개수         1250 non-null   int64
 8   평균연령           1250 non-null   float64
 9   스트레스인지율        1250 non-null   float64
 10  총인구수           1250 non-null   int64
 11  고용률            1250 non-null   float64
dtypes: float64(3), int64(7), object(2)
memory usage: 117.3+ KB

In [63]:
order = ['시도', '시군구', '행정번호', '년도', '우울증환자수', '평균연령', '총인구수', 
         '스트레스인지율', '고용률', '코로나확진자수', '1인당 정신건강예산(원)', '공공시설개수']
final = final[order]
final

,시도,시군구,행정번호,년도,우울증환자수,평균연령,총인구수,스트레스인지율,고용률,코로나확진자수,1인당 정신건강예산(원),공공시설개수
0,서울특별시,서울종로구,1111000000,2018,14837,44.2,153065,34.2,59.60,0,5326,44
1,서울특별시,서울중구,1114000000,2018,4352,44.6,125725,28.3,59.60,0,5326,42
2,서울특별시,서울용산구,1117000000,2018,2370,43.6,228999,20.0,59.60,0,5326,53
3,서울특별시,서울성동구,1120000000,2018,3657,42.0,308221,31.3,59.60,0,5326,50
4,서울특별시,서울광진구,1121500000,2018,6917,41.4,355559,29.4,59.60,0,5326,47
...,...,...,...,...,...,...,...,...,...,...,...,...
1245,경상남도,경남함양군,4887000000,2022,283,54.5,37708,27.5,68.85,15896,6119,6
1246,경상남도,경남거창군,4888000000,2022,794,50.4,60387,23.2,67.00,29267,6119,14
1247,경상남도,경남합천군,4889000000,2022,185,57.8,42142,23.1,67.95,15704,6119,1
1248,제주특별자치도,제주제주시,5011000000,2022,11503,42.5,493389,25.0,67.15,271444,8662,198
1249,제주특별자치도,제주서귀포시,5013000000,2022,2743,45.8,184770,25.0,72.95,89872,8662,54

In [65]:
final.to_csv('final.csv', encoding = 'CP949', index = False)