## 공공시설 데이터와 공원 데이터 합치기

### 공공시설 데이터

In [20]:
import pandas as pd
data_2018 = pd.read_csv(r'C:\Users\soobin\coding_excuse\공공시설운영현황2018년.csv')
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 813 entries, 0 to 812
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       813 non-null    int64
 1   회계연도     813 non-null    int64
 2   지역명      813 non-null    object
 3   자치단체코드   813 non-null    int64
 4   자치단체명    813 non-null    object
 5   시설유형     813 non-null    object
 6   시설구분     813 non-null    object
 7   시설명      813 non-null    object
 8   건립일      813 non-null    object
 9   운영방식     813 non-null    object
 10  건물면적     813 non-null    float64
 11  토지면적     813 non-null    float64
 12  관리인력     813 non-null    int64
 13  연간이용인원   813 non-null    int64
 14  건립비용     813 non-null    int64
 15  취득가액     813 non-null    int64
 16  감가상각액    813 non-null    int64
 17  감가상각누계액  813 non-null    int64
 18  장부가액     813 non-null    int64
 19  내용연수     813 non-null    int64
 20  비용       813 non-null    int64
 21  수익       813 non-null    int64
 22  순수익      813 non-null    int64
dtypes: float64(2), int64(14), object(7)
memory usage: 146.2+ KB

In [21]:
data2018 = data_2018.copy()
data2018 = data2018.iloc[:, [1,4,5,6,7]]
data2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 813 entries, 0 to 812
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회계연도    813 non-null    int64
 1   자치단체명   813 non-null    object
 2   시설유형    813 non-null    object
 3   시설구분    813 non-null    object
 4   시설명     813 non-null    object
dtypes: int64(1), object(4)
memory usage: 31.9+ KB

In [22]:
data2018['시도'] = data2018['자치단체명'].str[:2]
data2018['시군구'] = data2018['자치단체명'].str[2:]

In [23]:
data2018.drop(columns =  '자치단체명')

     회계연도  시설유형     시설구분           시설명  시도 시군구
0    2018  문화시설   문화예술회관         블루스퀘어  서울  본청
1    2018  문화시설  청소년수련회관      목동청소년수련관  서울  본청
2    2018  체육시설      축구장      서울월드컵경기장  서울  본청
3    2018  문화시설      미술관       서울시립미술관  서울  본청
4    2018  체육시설    육상경기장     잠실올림픽주경기장  서울  본청
..    ...   ...      ...           ...  ..  ..
808  2018  체육시설      축구장  제주종합경기장 주경기장  제주  본청
809  2018  체육시설      수영장     서귀포국민체육센터  제주  본청
810  2018  문화시설      박물관         감귤박물관  제주  본청
811  2018  문화시설      박물관          돌박물관  제주  본청
812  2018  문화시설   문화예술회관      서귀포예술의전당  제주  본청

[813 rows x 6 columns]

In [24]:
data2018.rename(columns={'회계연도': '년도'}, inplace=True)
data2018.drop(columns =  '시설유형')
data2018.drop(columns = '시설구분')
order = ['년도', '시도', '시군구', '시설명']
data2018 = data2018[order]
data2018

       년도  시도 시군구           시설명
0    2018  서울  본청         블루스퀘어
1    2018  서울  본청      목동청소년수련관
2    2018  서울  본청      서울월드컵경기장
3    2018  서울  본청       서울시립미술관
4    2018  서울  본청     잠실올림픽주경기장
..    ...  ..  ..           ...
808  2018  제주  본청  제주종합경기장 주경기장
809  2018  제주  본청     서귀포국민체육센터
810  2018  제주  본청         감귤박물관
811  2018  제주  본청          돌박물관
812  2018  제주  본청      서귀포예술의전당

[813 rows x 4 columns]

In [26]:
# 2019년 데이터
# 데이터 불러오기
data_2019 = pd.read_csv(r'C:\Users\soobin\coding_excuse\공공시설운영현황2019년.csv')

# 필요한 데이터만 추출 (회계연도, 자치단체명, 시설유형, 시설구분, 시설명)
data2019 = data_2019.copy()
data2019 = data2019.iloc[:, [1,4,5,6,7]]

# 서울본청에서 서울과 본청으로 나누기
data2019['시도'] = data2019['자치단체명'].str[:2]
data2019['시군구'] = data2019['자치단체명'].str[2:]

# 컬럼 이름 변경 / 필요한 데이터만 다시 추출하기
data2019.rename(columns={'회계연도': '년도'}, inplace=True)
data2019.drop(columns =  '자치단체명')
data2019.drop(columns =  '시설유형')
data2019.drop(columns = '시설구분')

# 재배열
order = ['년도', '시도', '시군구', '시설명']
data2019 = data2019[order]
data2019

       년도  시도 시군구         시설명
0    2019  서울  본청   잠실올림픽주경기장
1    2019  서울  본청       서울도서관
2    2019  서울  본청       잠실야구장
3    2019  서울  본청   서울에너지드림센터
4    2019  서울  본청     한성백제박물관
..    ...  ..  ..         ...
865  2019  제주  본청    4.3평화기념관
866  2019  제주  본청      제주아트센터
867  2019  제주  본청  제주세계자연유산센터
868  2019  제주  본청    제주월드컵경기장
869  2019  제주  본청      제주돌박물관

[870 rows x 4 columns]

In [27]:
# 2020년 데이터
# 데이터 불러오기
data_2020 = pd.read_csv(r'C:\Users\soobin\coding_excuse\공공시설운영현황2020년.csv')

# 필요한 데이터만 추출 (회계연도, 자치단체명, 시설유형, 시설구분, 시설명)
data2020 = data_2020.copy()
data2020 = data2020.iloc[:, [1,4,5,6,7]]

# 서울본청에서 서울과 본청으로 나누기
data2020['시도'] = data2020['자치단체명'].str[:2]
data2020['시군구'] = data2020['자치단체명'].str[2:]

# 컬럼 이름 변경 / 필요한 데이터만 다시 추출하기
data2020.rename(columns={'회계연도': '년도'}, inplace=True)
data2020.drop(columns =  '자치단체명')
data2020.drop(columns =  '시설유형')
data2020.drop(columns = '시설구분')

# 재배열
order = ['년도', '시도', '시군구', '시설명']
data2020 = data2020[order]
data2020

       년도  시도 시군구        시설명
0    2020  서울  본청   창동청소년수련관
1    2020  서울  본청  서대문청소년수련관
2    2020  서울  본청   보라매안전체험관
3    2020  서울  본청   광나루안전체험관
4    2020  서울  본청  서울도시건축전시관
..    ...  ..  ..        ...
888  2020  제주  본청  서귀포국민체육센터
889  2020  제주  본청      감귤박물관
890  2020  제주  본청   제주별빛누리공원
891  2020  제주  본청    제주안전체험관
892  2020  제주  본청   서귀포예술의전당

[893 rows x 4 columns]

In [28]:
# 2020년 데이터
# 데이터 불러오기
data_2022 = pd.read_csv(r'C:\Users\soobin\coding_excuse\공공시설운영현황2022년.csv')

# 필요한 데이터만 추출 (회계연도, 자치단체명, 시설유형, 시설구분, 시설명)
data2022 = data_2022.copy()
data2022 = data2022.iloc[:, [1,4,5,6,7]]

# 서울본청에서 서울과 본청으로 나누기
data2022['시도'] = data2022['자치단체명'].str[:2]
data2022['시군구'] = data2022['자치단체명'].str[2:]

# 컬럼 이름 변경 / 필요한 데이터만 다시 추출하기
data2022.rename(columns={'회계연도': '년도'}, inplace=True)
data2022.drop(columns =  '자치단체명')
data2022.drop(columns =  '시설유형')
data2022.drop(columns = '시설구분')

# 재배열
order = ['년도', '시도', '시군구', '시설명']
data2022 = data2022[order]
data2022

       년도  시도  시군구        시설명
0    2022  서울   본청      서울도서관
1    2022  서울   본청      서울식물원
2    2022  서울   본청    서울공예박물관
3    2022  서울   본청   보라매안전체험관
4    2022  서울   본청  서울도시건축전시관
..    ...  ..  ...        ...
393  2022  경남  고성군  고성군국민체육센터
394  2022  경남  남해군    남해실내체육관
395  2022  경남  남해군  남해군국민체육센터
396  2022  경남  하동군  해양플랜트연구단지
397  2022  경남  함양군  함양군문화예술회관

[398 rows x 4 columns]

In [35]:
data = pd.concat([data2018, data2019, data2020, data2022], ignore_index=True)
data.to_csv(r'C:\Users\soobin\coding_excuse\공공시설.csv',index=False, encoding='utf-8-sig')
data

        년도  시도  시군구        시설명
0     2018  서울   본청      블루스퀘어
1     2018  서울   본청   목동청소년수련관
2     2018  서울   본청   서울월드컵경기장
3     2018  서울   본청    서울시립미술관
4     2018  서울   본청  잠실올림픽주경기장
...    ...  ..  ...        ...
2969  2022  경남  고성군  고성군국민체육센터
2970  2022  경남  남해군    남해실내체육관
2971  2022  경남  남해군  남해군국민체육센터
2972  2022  경남  하동군  해양플랜트연구단지
2973  2022  경남  함양군  함양군문화예술회관

[2974 rows x 4 columns]

### 공원데이터

In [95]:
import pandas as pd
data = pd.read_csv(r'C:\Users\soobin\coding_excuse\전국도시공원정보표준데이터.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18308 entries, 0 to 18307
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   관리번호          18308 non-null  object
 1   공원명           18308 non-null  object
 2   공원구분          18308 non-null  object
 3   소재지도로명주소      3637 non-null   object
 4   소재지지번주소       18088 non-null  object
 5   위도            18306 non-null  float64
 6   경도            18306 non-null  float64
 7   공원면적          18308 non-null  float64
 8   공원보유시설(운동시설)  5099 non-null   object
 9   공원보유시설(유희시설)  6475 non-null   object
 10  공원보유시설(편익시설)  5095 non-null   object
 11  공원보유시설(교양시설)  735 non-null    object
 12  공원보유시설(기타시설)  2759 non-null   object
 13  지정고시일         15298 non-null  object
 14  관리기관명         16941 non-null  object
 15  전화번호          17177 non-null  object
 16  데이터기준일자       18308 non-null  object
 17  제공기관코드        18308 non-null  object
 18  제공기관명         18308 non-null  object
dtypes: float64(3), object(16)
memory usage: 2.7+ MB

In [125]:
# 공원명, 소재지도로명주소, 소재지지번주소, 지정고시일 컬럼만 선정
data1 = data.copy()
data1 = data1[data1['공원구분'] != '묘지공원']
data1 = data1.iloc[:, [1,3,4,13]]
data1

             공원명          소재지도로명주소                소재지지번주소       지정고시일
0           승지공원  경기도 시흥시 능곡중앙로 85        경기도 시흥시 능곡동 552  2004-11-10
1       광탄2호 소공원               NaN    경기도 양평군 용문면 광탄리 711  1994-02-25
2       광탄3호 소공원               NaN    경기도 양평군 용문면 광탄리 762  1994-02-25
3         공흥 소공원               NaN  경기도 양평군 양평읍 공흥리 885-1  2012-11-22
4      한강아트로드 공원               NaN  경기도 양평군 강하면 운심리 43-25  2012-08-30
...          ...               ...                    ...         ...
18303        꿈돌이               NaN   서울특별시 강서구 화곡동 24-128         NaN
18304        소나무               NaN    서울특별시 강서구 화곡동 29-31         NaN
18305         산새               NaN      서울특별시 강서구 화곡동 772         NaN
18306         박장               NaN    서울특별시 강서구 화곡동 56-25         NaN
18307         참새               NaN   서울특별시 강서구 화곡동 56-638         NaN

[18268 rows x 4 columns]

In [126]:
# 소재지지번주소를 ' '으로 구분해서 각각 시도, 시군구, 동에 저장
data2 = data1.copy()
data2['시도'] = data2['소재지지번주소'].str.split(' ').str[0]
data2['시군구'] = data2['소재지지번주소'].str.split(' ').str[1]
data2['동'] = data2['소재지지번주소'].str.split(' ').str[2]

# 경기도 용인시 수지구 같은 경우는 '동' 컬럼에 수지구가 저장되므로, '동' 컬럼이 구로 끝난다면 시군구에 이어붙이기
for index, row in data2.iterrows():
    if isinstance(row['동'], str) and row['동'].endswith('구'):
        data2.at[index, '시군구'] = row['시군구'] + row['동']
        data2.at[index, '동'] = ''

In [127]:
data2

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
0,승지공원,경기도 시흥시 능곡중앙로 85,경기도 시흥시 능곡동 552,2004-11-10,경기도,시흥시,능곡동
1,광탄2호 소공원,NaN,경기도 양평군 용문면 광탄리 711,1994-02-25,경기도,양평군,용문면
2,광탄3호 소공원,NaN,경기도 양평군 용문면 광탄리 762,1994-02-25,경기도,양평군,용문면
3,공흥 소공원,NaN,경기도 양평군 양평읍 공흥리 885-1,2012-11-22,경기도,양평군,양평읍
4,한강아트로드 공원,NaN,경기도 양평군 강하면 운심리 43-25,2012-08-30,경기도,양평군,강하면
...,...,...,...,...,...,...,...
18303,꿈돌이,NaN,서울특별시 강서구 화곡동 24-128,NaN,서울특별시,강서구,화곡동
18304,소나무,NaN,서울특별시 강서구 화곡동 29-31,NaN,서울특별시,강서구,화곡동
18305,산새,NaN,서울특별시 강서구 화곡동 772,NaN,서울특별시,강서구,화곡동
18306,박장,NaN,서울특별시 강서구 화곡동 56-25,NaN,서울특별시,강서구,화곡동
18307,참새,NaN,서울특별시 강서구 화곡동 56-638,NaN,서울특별시,강서구,화곡동

In [128]:
# '동' 컬럼에 있는 구들 없어진 것 확인 (지번주소가 null인 값들이 있어서 notna로 제외해줌)
data2[data2['시군구'].str.startswith('용인') & data2['시군구'].notna()]

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
10188,동천2근린공원,NaN,경기도 용인시 수지구 동천동 931,2006-07-10,경기도,용인시수지구,
10277,신봉2어린이공원,NaN,경기도 용인시 수지구 신봉동 958,2006-06-29,경기도,용인시수지구,
10278,신봉4어린이공원,NaN,경기도 용인시 수지구 신봉동 984,2006-06-29,경기도,용인시수지구,
10279,신봉5어린이공원,NaN,경기도 용인시 수지구 신봉동 977,2006-06-29,경기도,용인시수지구,
10280,신봉1어린이공원,NaN,경기도 용인시 수지구 신봉동 947,2006-06-29,경기도,용인시수지구,
...,...,...,...,...,...,...,...
10550,소공원,NaN,경기도 용인시 처인구 김량장동 503-1,2009-08-17,경기도,용인시처인구,
10551,소공원,NaN,경기도 용인시 처인구 모현읍 왕산리 523-17,2009-08-17,경기도,용인시처인구,
10552,소공원,NaN,경기도 용인시 처인구 백암면 근창리 101-8,2009-08-17,경기도,용인시처인구,
10553,소공원,NaN,경기도 용인시 처인구 역북동 385-5,2009-08-17,경기도,용인시처인구,
10578,제11호 근린공원(용인중앙공원),경기도 용인시 처인구 백옥대로1081번길 5-2,경기도 용인시 처인구 김량장동 산37-16,1968-06-25,경기도,용인시처인구,

In [129]:
# 소재지지번주소 null값인 열 중 소재지도로명주소 null값 확인
print(data2[data2['시군구'].isna()]['소재지도로명주소'].isnull().sum()) # 0
data2[data2['시군구'].isna()]

0

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
514,백미고을공원,충청남도 공주시 백미고을길 9-4(금성동),NaN,1987-09-15,NaN,NaN,NaN
666,솔빛,광주광역시 광산구 왕버들로132번길 22,NaN,2004-08-27,NaN,NaN,NaN
905,봉곡공원,충청남도 공주시 반포면 원당3길 24,NaN,2009-02-20,NaN,NaN,NaN
913,앵산공원,충청남도 공주시 중앙공원1길 11(중동),NaN,1997-04-19,NaN,NaN,NaN
914,미나리공원,충청남도 공주시 미나리3길 9(금성동),NaN,1987-09-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...
17613,누리빛 문화공원(문화1-2),세종특별자치시 보듬3로 143,NaN,2012-07-04,NaN,NaN,NaN
17614,문화공원(문화1-3),세종특별자치시 다솜1로 183,NaN,2013-12-19,NaN,NaN,NaN
17615,호수공원(문화S-1),세종특별자치시 연기면 다솜로 216,NaN,2010-07-28,NaN,NaN,NaN
18054,달 빛,서울특별시 노원구 노원로 532,NaN,NaN,NaN,NaN,NaN
18055,달맞이,서울특별시 노원구 덕릉로 483 (중계동),NaN,NaN,NaN,NaN,NaN

In [130]:
data3 = data2.copy()
mask = data3['소재지지번주소'].isna() & data3['소재지도로명주소'].notna()
data3.loc[mask, '시도'] = data3.loc[mask, '소재지도로명주소'].str.split(' ').str[0]
data3.loc[mask, '시군구'] = data3.loc[mask, '소재지도로명주소'].str.split(' ').str[1]
data3.loc[mask, '동'] = data3.loc[mask, '소재지도로명주소'].str.split(' ').str[2]


# 경기도 용인시 수지구 같은 경우는 '동' 컬럼에 수지구가 저장되므로, '동' 컬럼이 구로 끝난다면 시군구에 이어붙이기
for index, row in data3.iterrows():
    if isinstance(row['동'], str) and row['동'].endswith('구'):
        data3.at[index, '시군구'] = row['시군구'] + row['동']
        data3.at[index, '동'] = ''

In [131]:
data3[data3['소재지지번주소'].isna()]

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
514,백미고을공원,충청남도 공주시 백미고을길 9-4(금성동),NaN,1987-09-15,충청남도,공주시,백미고을길
666,솔빛,광주광역시 광산구 왕버들로132번길 22,NaN,2004-08-27,광주광역시,광산구,왕버들로132번길
905,봉곡공원,충청남도 공주시 반포면 원당3길 24,NaN,2009-02-20,충청남도,공주시,반포면
913,앵산공원,충청남도 공주시 중앙공원1길 11(중동),NaN,1997-04-19,충청남도,공주시,중앙공원1길
914,미나리공원,충청남도 공주시 미나리3길 9(금성동),NaN,1987-09-15,충청남도,공주시,미나리3길
...,...,...,...,...,...,...,...
17613,누리빛 문화공원(문화1-2),세종특별자치시 보듬3로 143,NaN,2012-07-04,세종특별자치시,보듬3로,143
17614,문화공원(문화1-3),세종특별자치시 다솜1로 183,NaN,2013-12-19,세종특별자치시,다솜1로,183
17615,호수공원(문화S-1),세종특별자치시 연기면 다솜로 216,NaN,2010-07-28,세종특별자치시,연기면,다솜로
18054,달 빛,서울특별시 노원구 노원로 532,NaN,NaN,서울특별시,노원구,노원로
18055,달맞이,서울특별시 노원구 덕릉로 483 (중계동),NaN,NaN,서울특별시,노원구,덕릉로

In [132]:
# 시도, 시군구, 동 null값 없는 것 확인
data3.isnull().sum()

공원명             0
소재지도로명주소    14642
소재지지번주소       219
지정고시일        3007
시도              0
시군구             0
동               0
dtype: int64

In [133]:
data3['시도'].unique()

array(['경기도', '대구광역시', '충청남도', '대전광역시', '광주광역시', '인천광역시', '서울특별시', '경상북도',
       '부산광역시', '전라남도', '울산광역시', '경상남도', '전라북도', '강원도', '충청북도', '강원특별자치도',
       '영월군', '제주특별자치도', '세종특별자치시', '강원특별자치도양구군', '영덕군', '수원시', '인천'],
      dtype=object)

In [134]:
data3[data3['시도']=='수원시']

          공원명 소재지도로명주소            소재지지번주소 지정고시일   시도  시군구    동
10049  53호소공원      NaN  수원시 권선구 서둔동 321-4   NaN  수원시  권선구  서둔동

In [135]:
data3.loc[data3['시도'] == '수원시', '시도'] = '경기'
data3.loc[data3['시도'] == '수원시', '시군구'] = '수원시권선구'

In [136]:
data3[data3['시도']=='영덕군']

                 공원명 소재지도로명주소              소재지지번주소       지정고시일   시도  시군구    동
9844            화개공원      NaN       영덕군 영덕읍 화개리 산9  1999-12-16  영덕군  영덕읍  화개리
9996            강구공원      NaN  영덕군 강구면 강구면 강구리 산67  1999-12-10  영덕군  강구면  강구면
10025           괴시공원      NaN      영덕군 영해면 괴시리 340  1974-06-10  영덕군  영해면  괴시리
10026        남석어린이공원      NaN     영덕군 영덕읍 남석리 18-1  2012-08-06  영덕군  영덕읍  남석리
10027           성내공원      NaN    영덕군 영해면 성내리 산49-3  2015-09-30  영덕군  영해면  성내리
10028           축산공원      NaN      영덕군 축산면 축산리 산25  2015-09-30  영덕군  축산면  축산리
10029     장사2호 어린이공원      NaN    영덕군 남정면 장사리 295-1  2015-09-30  영덕군  남정면  장사리
10030     장사1호 어린이공원      NaN    영덕군 남정면 장사리 67-69  2015-09-30  영덕군  남정면  장사리
10031   백석 1공원(백석지구)      NaN    영덕군 병곡면 백석리 298-6  2015-09-30  영덕군  병곡면  백석리
10032     병곡1호 어린이공원      NaN     영덕군 병곡면 병곡리 34-4  2015-09-30  영덕군  병곡면  병곡리
10033      덕곡제1어린이공원      NaN   영덕군 영덕읍 덕곡리 129-13  2015-09-30  영덕군  영덕읍  덕곡리
10034      우곡제1어린이공원      NaN      영덕군 영덕읍 우곡리 574  2015-09-30  영덕군  영덕읍  우곡리
10035     신기1호 어린이공원      NaN     영덕군 창수면 신기리 63-1  2015-09-30  영덕군  창수면  신기리
10036         부흥3호공원      NaN    영덕군 남정면 부흥리 153-3  2015-09-30  영덕군  남정면  부흥리
10117         부흥2호공원      NaN     영덕군 남정면 부흥리 96-1  2015-09-30  영덕군  남정면  부흥리
10276         부흥1호공원      NaN      영덕군 남정면 장사리 2-1  2015-09-30  영덕군  남정면  장사리
10554   백석 4공원(백석지구)      NaN      영덕군 병곡면 병곡리 1-3  2015-09-30  영덕군  병곡면  병곡리
10555  소공원1(로하스농공단지)      NaN     영덕군 강구면 금호리 1402  2015-09-30  영덕군  강구면  금호리
10556   백석 3공원(백석지구)      NaN    영덕군 병곡면 백석리 472-1  2015-09-30  영덕군  병곡면  백석리
10557   백석 2공원(백석지구)      NaN    영덕군 병곡면 백석리 727-2  2015-09-30  영덕군  병곡면  백석리
10558       우곡 제1소공원      NaN      영덕군 영덕읍 우곡리 525  2015-09-30  영덕군  영덕읍  우곡리
10559       우곡 제2소공원      NaN      영덕군 영덕읍 우곡리 575  2015-09-30  영덕군  영덕읍  우곡리
10560   소공원1(제2농공단지)      NaN     영덕군 영덕읍 매정리 1175  2020-04-13  영덕군  영덕읍  매정리
10561      산림생태 문화공원      NaN      영덕군 영해면 창포리 산29  2020-11-27  영덕군  영해면  창포리
10562        강구제2소공원      NaN      영덕군 강구면 강구리 302  2021-07-22  영덕군  강구면  강구리
10563        강구제1소공원      NaN      영덕군 강구면 강구리 산45  2021-07-22  영덕군  강구면  강구리

In [137]:
data3.loc[data3['시도'] == '영덕군', '시도'] = '경북'
data3.loc[data3['시도'] == '영덕군', '시군구'] = '영덕군'

In [138]:
data3[data3['시도']=='영월군']

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
2114,삼거리소공원,영월군 산솔면 영월로 3836,영월군 산솔면 연상리 434-4,2018-08-02,영월군,산솔면,연상리
2115,누비어린이공원,영월군 영월읍 중리1길 108,영월군 영월읍 덕포리 505-12,1984-10-06,영월군,영월읍,덕포리
2116,옥수정어린이공원,영월군 상동읍 구래로 39,영월군 상동읍 구래리 산1-37,2004-08-13,영월군,상동읍,구래리
2117,별빛폭포어린이공원,영월군 영월읍 영월로 1909-9,영월군 영월읍 하송리 217-4,2010-11-26,영월군,영월읍,하송리
2118,해찬솔어린이공원,영월군 영월읍 덕포하리3길 34-7,영월군 영월읍 덕포리 646,1984-10-06,영월군,영월읍,덕포리
2119,별바라기어린이공원,영월군 영월읍 중리1길 204-7,영월군 영월읍 덕포리 429,1984-10-06,영월군,영월읍,덕포리
2120,꽃가람어린이공원,영월군 주천면 주천로89번길 33-14,영월군 주천면 주천리 897-9,1996-09-30,영월군,주천면,주천리
2121,하송어린이공원,영월군 영월읍 하송로 146-10,영월군 영월읍 하송리 363-2,2008-10-31,영월군,영월읍,하송리
2122,은행나무어린이공원,영월군 영월읍 은행나무길 69-5,영월군 영월읍 하송리 127,2003-06-28,영월군,영월읍,하송리
2123,가온어린이공원,영월군 영월읍 영모전길 136,영월군 영월읍 영흥리 1033-33,2003-06-28,영월군,영월읍,영흥리
2124,새내어린이공원,영월군 한반도면 신천길 4,영월군 한반도면 신천리 471,1984-12-27,영월군,한반도면,신천리
2125,마차어린이공원,영월군 북면 밤재로 221,영월군 북면 마차리 14-22,2005-04-22,영월군,북면,마차리
2126,연상어린이공원,영월군 산솔면 영월로 3791-70,영월군 산솔면 연상리 67-9,2005-03-11,영월군,산솔면,연상리
2127,덕포리어린이공원,영월군 영월읍 영월로 2061-13,영월군 영월읍 덕포리 574-151,2020-12-04,영월군,영월읍,덕포리
2128,하송공원,영월군 영월읍 단종로 161-6,영월군 영월읍 영흥리 1097-2,1979-04-30,영월군,영월읍,영흥리
2129,금강공원,영월군 영월읍 동강로 95-86,영월군 영월읍 영흥리 산59,1979-04-30,영월군,영월읍,영흥리
2130,동강생태공원,영월군 영월읍 동강로 716,영월군 영월읍 삼옥리 897,2007-03-16,영월군,영월읍,삼옥리
2131,상동1공원,영월군 상동읍 구래로 233-18,영월군 상동읍 구래리 산61,2004-08-13,영월군,상동읍,구래리
2132,덕포공원,NaN,영월군 영월읍 덕포리 585,1979-04-30,영월군,영월읍,덕포리
2155,북면문곡리공원,영월군 북면 영월로 1315,영월군 북면 문곡리 1740,2007-08-17,영월군,북면,문곡리

In [139]:
data3.loc[data3['시도'] == '영월군', '시도'] = '강원'
data3.loc[data3['시도'] == '영월군', '시군구'] = '영월군'

In [140]:
data3[data3['시도']=='강원특별자치도양구군']

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
7428,상리공원,NaN,강원특별자치도양구군 양구읍 상리 531,1995-12-27,강원특별자치도양구군,양구읍,상리
7429,정림공원1,NaN,강원특별자치도양구군 양구읍 상리 587,2009-09-25,강원특별자치도양구군,양구읍,상리
7430,정림공원2,NaN,강원특별자치도양구군 양구읍 상리 604-6,2009-09-25,강원특별자치도양구군,양구읍,상리
7431,하리수변공원,NaN,강원특별자치도양구군 양구읍 하리 643,2010-03-19,강원특별자치도양구군,양구읍,하리
7432,상리공원3,NaN,강원특별자치도양구군 양구읍 상리 275-5,2012-07-06,강원특별자치도양구군,양구읍,상리

In [141]:
data3.loc[data3['시도'] == '강원특별자치도양구군', '시도'] = '강원'
data3.loc[data3['시도'] == '강원특별자치도양구군', '시군구'] = '양구군'

In [142]:
data3['시도'].unique()

array(['경기도', '대구광역시', '충청남도', '대전광역시', '광주광역시', '인천광역시', '서울특별시', '경상북도',
       '부산광역시', '전라남도', '울산광역시', '경상남도', '전라북도', '강원도', '충청북도', '강원특별자치도',
       '강원', '제주특별자치도', '세종특별자치시', '경북', '경기', '인천'], dtype=object)

In [143]:
data3.loc[data3['시도'] == '경기도', '시도'] = '경기'
data3.loc[data3['시도'] == '대구광역시', '시도'] = '대구'
data3.loc[data3['시도'] == '충청남도', '시도'] = '충남'
data3.loc[data3['시도'] == '대전광역시', '시도'] = '대전'
data3.loc[data3['시도'] == '광주광역시', '시도'] = '광주'
data3.loc[data3['시도'] == '인천광역시', '시도'] = '인천'
data3.loc[data3['시도'] == '서울특별시', '시도'] = '서울'
data3.loc[data3['시도'] == '경상북도', '시도'] = '경북'
data3.loc[data3['시도'] == '부산광역시', '시도'] = '부산'
data3.loc[data3['시도'] == '전라남도', '시도'] = '전남'
data3.loc[data3['시도'] == '울산광역시', '시도'] = '울산'
data3.loc[data3['시도'] == '경상남도', '시도'] = '경남'
data3.loc[data3['시도'] == '전라북도', '시도'] = '전북'
data3.loc[data3['시도'] == '강원도', '시도'] = '강원'
data3.loc[data3['시도'] == '충청북도', '시도'] = '충북'
data3.loc[data3['시도'] == '강원특별자치도', '시도'] = '강원'
data3.loc[data3['시도'] == '제주특별자치도', '시도'] = '제주'
data3.loc[data3['시도'] == '세종특별자치시', '시도'] = '세종'

In [144]:
data3['시도'].unique()

array(['경기', '대구', '충남', '대전', '광주', '인천', '서울', '경북', '부산', '전남', '울산',
       '경남', '전북', '강원', '충북', '제주', '세종'], dtype=object)

In [145]:
data3['시군구'].unique()

array(['시흥시', '양평군', '달서구', '당진시', '유성구', '구리시', '광산구', '하남시', '서구', '중구',
       '금천구', '안동시', '노원구', '양천구', '기장군', '나주시', '남구', '창원시성산구', '완주군',
       '여수시', '구미시', '창원시마산회원구', '보령시', '은평구진관동', '은평구', '공주시', '부천시',
       '논산시', '춘천시', '청주시청원구', '강서구', '창원시마산합포구', '광명시', '남동구', '성남시중원구',
       '성남시분당구', '원주시', '수영구', '해남군', '강남구', '고성군', '동구', '안산시단원구', '이천시',
       '순천시', '군포시', '영도구', '강북구', '안성시', '오산시', '남양주시', '평택시', '홍천군',
       '홍천군북방면', '목포시', '태안군', '홍성군', '천안시서북구', '청양군', '연수구', '천안시동남구',
       '금산군', '청주시흥덕구', '의령군', '영등포구', '화천군', '곡성군', '은평구구산동',
       '은평구진관동13-2,', '광양시', '구로구', '가평군', '양산시', '인제군', '청주시서원구', '산솔면',
       '영월읍', '상동읍', '주천면', '한반도면', '북면', '마포구', '사하구', '북구', '용산구',
       '종로구', '순창군', '연제구', '울주군', '서귀포시', '단양군', '익산시', '고령군', '봉화군',
       '횡성군', '동두천시', '동래구', '통영시', '진천군', '보은군', '영월군', '성남시수정구',
       '창원시의창구', '안산시상록구', '장성군', '광주시', '의성군', '태백시', '청도군', '진주시',
       '계양구', '은평구응암동', '의정부시', '예산군', '관악구', '강릉시', '칠곡군', '장수군', '서초구',
       '마음로', '고운서2길', '만남1북로', '만남로3길', '만남로2길', '보듬7로', '바른2길', '도움1로',
       '방축1길', '다솜로', '달빛1로', '누리로', '노을3로', '노을1로', '강서구염창동', '강서구가양동',
       '강서구마곡동', '화성시', '조치원읍', '마음안로', '고운북6길', '마음안1로', '부여군', '안양시만안구',
       '안양시동안구', '정선군', '철원군', '보람로', '도움3로', '도움8로', '도움6로', '한누리대로',
       '가름로', '금남면', '부평구', '미추홀구', '경산시', '성동구', '정읍시', '하동군', '부안군',
       '절재로', '아산시', '영천시', '정릉동', '성북동', '영암군', '의왕시', '성북구', '완도군',
       '울진군', '부산진구', '여주시', '창원시진해구', '김천시', '계룡시', '서천군', '청주시상당구',
       '동작구', '성주군', '서산시', '양구군', '제천시', '광진구', '전주시덕진구', '전주시완산구',
       '밀양시', '군위군', '양구읍', '거제시', '문경시', '제주시', '파주시', '포항시남구', '수성구',
       '달성군', '담양군', '중랑구', '사천시', '신안군', '상주시', '포항시북구', '무안군', '양양군',
       '포천시', '증평군', '속초시', '동대문구', '연천군', '수원시영통구', '영덕읍', '수원시장안구',
       '수원시권선구', '수원시팔달구', '강구면', '영해면', '축산면', '남정면', '병곡면', '창수면',
       '권선구', '용인시수지구', '용인시기흥구', '용인시처인구', '군산시', '울릉군', '양주시', '충주시',
       '도봉구', '송파구', '사상구', '함평군', '경주시', '합천군', '고창군', '결성면', '구례군',
       '옥천군', '삼척시', '창녕군', '김해시', '영주시', '진안군', '강동구', '대덕구', '진도군',
       '괴산군', '보성군', '거창군', '남원시', '고양시일산동구', '고양시덕양구', '강진군', '동해시',
       '김포시', '고양시일산서구', '장흥군', '함양군', '예천군', '산청군', '남해군', '서대문구',
       '남동구남동구', '임실군', '음성군', '평창군', '청송군', '고흥군', '금정구', '무주군', '부석면',
       '대산읍', '화순군', '해운대구', '바른6길', '부강면', '만남로', '나리로', '다솜3로', '보듬3로',
       '다솜1로', '연기면', '강화군', '과천시', '영광군', '함안군', '영양군', '영동군'],
      dtype=object)

In [148]:
data3[data3['시도'] == '서울']['시군구'].unique()

array(['금천구', '노원구', '양천구', '은평구진관동', '은평구', '강서구', '강남구', '강북구', '영등포구',
       '은평구구산동', '은평구진관동13-2,', '중구', '구로구', '마포구', '용산구', '종로구',
       '은평구응암동', '관악구', '서초구', '강서구염창동', '강서구가양동', '강서구마곡동', '성동구', '정릉동',
       '성북동', '성북구', '동작구', '광진구', '중랑구', '동대문구', '도봉구', '송파구', '강동구',
       '서대문구'], dtype=object)

In [158]:
data3.loc[(data3['시도'] == '서울') & (data3['시군구'] == '은평구진관동'), '시군구'] = '은평구'
data3.loc[(data3['시도'] == '서울') & (data3['시군구'] == '은평구구산동'), '시군구'] = '은평구'
data3.loc[(data3['시도'] == '서울') & (data3['시군구'] == '은평구진관동13-2,'), '시군구'] = '은평구'
data3.loc[(data3['시도'] == '서울') & (data3['시군구'] == '은평구응암동'), '시군구'] = '은평구'
data3.loc[(data3['시도'] == '서울') & (data3['시군구'] == '강서구염창동'), '시군구'] = '은평구'
data3.loc[(data3['시도'] == '서울') & (data3['시군구'] == '강서구가양동'), '시군구'] = '은평구'
data3.loc[(data3['시도'] == '서울') & (data3['시군구'] == '강서구마곡동'), '시군구'] = '은평구'

In [153]:
data3[data3['시군구'] == '정릉동']

      공원명 소재지도로명주소          소재지지번주소       지정고시일  시도  시군구      동
5933  북한산      NaN  서울특별시 정릉동 산12-1  2020-06-29  서울  정릉동  산12-1

In [154]:
data3[data3['시군구'] == '성북동']

      공원명 소재지도로명주소              소재지지번주소       지정고시일  시도  시군구       동
5934   삼청      NaN     서울특별시 성북동 산25-52  2020-06-29  서울  성북동  산25-52
6083  북악산      NaN  서울특별시 성북동 산 25-52일대  2020-06-29  서울  성북동       산

In [155]:
data3.loc[(data3['시도'] == '서울') & (data3['시군구'] == '정릉동'), '시군구'] = '성북구'
data3.loc[(data3['시도'] == '서울') & (data3['시군구'] == '성북동'), '시군구'] = '성북구'

In [162]:
len(data3[data3['시도'] == '서울']['시군구'].unique()) # 서울시 구 25개

25

In [163]:
data3[data3['시도'] == '강원']['시군구'].unique()

array(['춘천시', '원주시', '고성군', '홍천군', '홍천군북방면', '화천군', '인제군', '산솔면', '영월읍',
       '상동읍', '주천면', '한반도면', '북면', '횡성군', '영월군', '태백시', '강릉시', '정선군',
       '철원군', '양구군', '양구읍', '양양군', '속초시', '삼척시', '동해시', '평창군'],
      dtype=object)

In [165]:
data3[(data3['시도'] == '강원') & (data3['시군구'] == '산솔면')]

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
2114,삼거리소공원,영월군 산솔면 영월로 3836,영월군 산솔면 연상리 434-4,2018-08-02,강원,산솔면,연상리
2126,연상어린이공원,영월군 산솔면 영월로 3791-70,영월군 산솔면 연상리 67-9,2005-03-11,강원,산솔면,연상리

In [166]:
data3[(data3['시도'] == '강원') & (data3['시군구'] == '영월읍')]

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
2115,누비어린이공원,영월군 영월읍 중리1길 108,영월군 영월읍 덕포리 505-12,1984-10-06,강원,영월읍,덕포리
2117,별빛폭포어린이공원,영월군 영월읍 영월로 1909-9,영월군 영월읍 하송리 217-4,2010-11-26,강원,영월읍,하송리
2118,해찬솔어린이공원,영월군 영월읍 덕포하리3길 34-7,영월군 영월읍 덕포리 646,1984-10-06,강원,영월읍,덕포리
2119,별바라기어린이공원,영월군 영월읍 중리1길 204-7,영월군 영월읍 덕포리 429,1984-10-06,강원,영월읍,덕포리
2121,하송어린이공원,영월군 영월읍 하송로 146-10,영월군 영월읍 하송리 363-2,2008-10-31,강원,영월읍,하송리
2122,은행나무어린이공원,영월군 영월읍 은행나무길 69-5,영월군 영월읍 하송리 127,2003-06-28,강원,영월읍,하송리
2123,가온어린이공원,영월군 영월읍 영모전길 136,영월군 영월읍 영흥리 1033-33,2003-06-28,강원,영월읍,영흥리
2127,덕포리어린이공원,영월군 영월읍 영월로 2061-13,영월군 영월읍 덕포리 574-151,2020-12-04,강원,영월읍,덕포리
2128,하송공원,영월군 영월읍 단종로 161-6,영월군 영월읍 영흥리 1097-2,1979-04-30,강원,영월읍,영흥리
2129,금강공원,영월군 영월읍 동강로 95-86,영월군 영월읍 영흥리 산59,1979-04-30,강원,영월읍,영흥리
2130,동강생태공원,영월군 영월읍 동강로 716,영월군 영월읍 삼옥리 897,2007-03-16,강원,영월읍,삼옥리
2132,덕포공원,NaN,영월군 영월읍 덕포리 585,1979-04-30,강원,영월읍,덕포리

In [167]:
data3[(data3['시도'] == '강원') & (data3['시군구'] == '상동읍')]

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
2116,옥수정어린이공원,영월군 상동읍 구래로 39,영월군 상동읍 구래리 산1-37,2004-08-13,강원,상동읍,구래리
2131,상동1공원,영월군 상동읍 구래로 233-18,영월군 상동읍 구래리 산61,2004-08-13,강원,상동읍,구래리

In [168]:
data3[(data3['시도'] == '강원') & (data3['시군구'] == '주천면')]

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
2120,꽃가람어린이공원,영월군 주천면 주천로89번길 33-14,영월군 주천면 주천리 897-9,1996-09-30,강원,주천면,주천리

In [169]:
data3[(data3['시도'] == '강원') & (data3['시군구'] == '한반도면')]

          공원명        소재지도로명주소           소재지지번주소       지정고시일  시도   시군구    동
2124  새내어린이공원  영월군 한반도면 신천길 4  영월군 한반도면 신천리 471  1984-12-27  강원  한반도면  신천리

In [170]:
data3[(data3['시도'] == '강원') & (data3['시군구'] == '북면')]

          공원명         소재지도로명주소           소재지지번주소       지정고시일  시도 시군구    동
2125  마차어린이공원   영월군 북면 밤재로 221  영월군 북면 마차리 14-22  2005-04-22  강원  북면  마차리
2155  북면문곡리공원  영월군 북면 영월로 1315   영월군 북면 문곡리 1740  2007-08-17  강원  북면  문곡리

In [171]:
data3[(data3['시도'] == '강원') & (data3['시군구'] == '양구읍')]

         공원명 소재지도로명주소                  소재지지번주소       지정고시일  시도  시군구   동
7428    상리공원      NaN    강원특별자치도양구군 양구읍 상리 531  1995-12-27  강원  양구읍  상리
7429   정림공원1      NaN    강원특별자치도양구군 양구읍 상리 587  2009-09-25  강원  양구읍  상리
7430   정림공원2      NaN  강원특별자치도양구군 양구읍 상리 604-6  2009-09-25  강원  양구읍  상리
7431  하리수변공원      NaN    강원특별자치도양구군 양구읍 하리 643  2010-03-19  강원  양구읍  하리
7432   상리공원3      NaN  강원특별자치도양구군 양구읍 상리 275-5  2012-07-06  강원  양구읍  상리

In [172]:
data3.loc[(data3['시도'] == '강원') & (data3['시군구'] == '홍천군북방면'), '시군구'] = '홍천군'
data3.loc[(data3['시도'] == '강원') & (data3['시군구'] == '산솔면'), '시군구'] = '영월군'
data3.loc[(data3['시도'] == '강원') & (data3['시군구'] == '영월읍'), '시군구'] = '영월군'
data3.loc[(data3['시도'] == '강원') & (data3['시군구'] == '상동읍'), '시군구'] = '영월군'
data3.loc[(data3['시도'] == '강원') & (data3['시군구'] == '주천면'), '시군구'] = '영월군'
data3.loc[(data3['시도'] == '강원') & (data3['시군구'] == '한반도면'), '시군구'] = '영월군'
data3.loc[(data3['시도'] == '강원') & (data3['시군구'] == '북면'), '시군구'] = '영월군'
data3.loc[(data3['시도'] == '강원') & (data3['시군구'] == '양구읍'), '시군구'] = '양구군'

In [173]:
data3[data3['시도'] == '강원']['시군구'].unique()

array(['춘천시', '원주시', '고성군', '홍천군', '화천군', '인제군', '영월군', '횡성군', '태백시',
       '강릉시', '정선군', '철원군', '양구군', '양양군', '속초시', '삼척시', '동해시', '평창군'],
      dtype=object)

In [174]:
len(data3[data3['시도'] == '강원']['시군구'].unique()) # 강원도 시군 18개

18

In [175]:
data3[data3['시도'] == '경기']['시군구'].unique()

array(['시흥시', '양평군', '구리시', '하남시', '부천시', '광명시', '성남시중원구', '성남시분당구',
       '안산시단원구', '이천시', '군포시', '안성시', '오산시', '남양주시', '평택시', '가평군', '동두천시',
       '성남시수정구', '안산시상록구', '광주시', '의정부시', '화성시', '안양시만안구', '안양시동안구',
       '의왕시', '여주시', '파주시', '포천시', '연천군', '수원시영통구', '수원시장안구', '수원시권선구',
       '수원시팔달구', '권선구', '용인시수지구', '용인시기흥구', '용인시처인구', '양주시', '고양시일산동구',
       '고양시덕양구', '김포시', '고양시일산서구', '과천시'], dtype=object)

In [176]:
len(data3[data3['시도'] == '경기']['시군구'].unique())

43

In [179]:
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '권선구'), '시군구'] = '수원시권선구'

In [181]:
data3[data3['시도'] == '경기']['시군구'].unique()

array(['시흥시', '양평군', '구리시', '하남시', '부천시', '광명시', '성남시중원구', '성남시분당구',
       '안산시단원구', '이천시', '군포시', '안성시', '오산시', '남양주시', '평택시', '가평군', '동두천시',
       '성남시수정구', '안산시상록구', '광주시', '의정부시', '화성시', '안양시만안구', '안양시동안구',
       '의왕시', '여주시', '파주시', '포천시', '연천군', '수원시영통구', '수원시장안구', '수원시권선구',
       '수원시팔달구', '용인시수지구', '용인시기흥구', '용인시처인구', '양주시', '고양시일산동구', '고양시덕양구',
       '김포시', '고양시일산서구', '과천시'], dtype=object)

In [182]:
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '성남시분당구'), '시군구'] = '성남분당구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '안산시단원구'), '시군구'] = '안산단원구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '성남시수정구'), '시군구'] = '성남수정구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '성남시중원구'), '시군구'] = '성남중원구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '안산시상록구'), '시군구'] = '안산상록구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '안양시만안구'), '시군구'] = '안양만안구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '안양시동안구'), '시군구'] = '안양동안구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '수원시영통구'), '시군구'] = '수원영통구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '수원시장안구'), '시군구'] = '수원장안구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '수원시권선구'), '시군구'] = '수원권선구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '수원시팔달구'), '시군구'] = '수원팔달구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '용인시수지구'), '시군구'] = '용인수지구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '용인시기흥구'), '시군구'] = '용인기흥구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '용인시처인구'), '시군구'] = '용인처인구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '고양시일산동구'), '시군구'] = '고양일산동구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '고양시덕양구'), '시군구'] = '고양덕양구'
data3.loc[(data3['시도'] == '경기') & (data3['시군구'] == '고양시일산서구'), '시군구'] = '고양일산서구'

In [183]:
data3[data3['시도'] == '경기']['시군구'].unique()

array(['시흥시', '양평군', '구리시', '하남시', '부천시', '광명시', '성남중원구', '성남분당구',
       '안산단원구', '이천시', '군포시', '안성시', '오산시', '남양주시', '평택시', '가평군', '동두천시',
       '성남수정구', '안산상록구', '광주시', '의정부시', '화성시', '안양만안구', '안양동안구', '의왕시',
       '여주시', '파주시', '포천시', '연천군', '수원영통구', '수원장안구', '수원권선구', '수원팔달구',
       '용인수지구', '용인기흥구', '용인처인구', '양주시', '고양일산동구', '고양덕양구', '김포시',
       '고양일산서구', '과천시'], dtype=object)

In [184]:
len(data3[data3['시도'] == '경기']['시군구'].unique()) # 경기도 시군구 42개

42

In [185]:
data3[data3['시도'] == '경남']['시군구'].unique()

array(['창원시성산구', '창원시마산회원구', '창원시마산합포구', '의령군', '양산시', '통영시', '창원시의창구',
       '진주시', '하동군', '창원시진해구', '밀양시', '거제시', '사천시', '합천군', '창녕군', '고성군',
       '김해시', '거창군', '함양군', '산청군', '남해군', '함안군'], dtype=object)

In [186]:
len(data3[data3['시도'] == '경남']['시군구'].unique()) # 경남 시군구 22개

22

In [252]:
data3.loc[(data3['시도'] == '경남') & (data3['시군구'] == '창원시성산구'), '시군구'] = '창원성산구'
data3.loc[(data3['시도'] == '경남') & (data3['시군구'] == '창원시마산회원구'), '시군구'] = '창원마산회원구'
data3.loc[(data3['시도'] == '경남') & (data3['시군구'] == '창원시마산합포구'), '시군구'] = '창원마산합포구'
data3.loc[(data3['시도'] == '경남') & (data3['시군구'] == '창원시의창구'), '시군구'] = '창원의창구'
data3.loc[(data3['시도'] == '경남') & (data3['시군구'] == '창원시진해구'), '시군구'] = '창원진해구'

In [188]:
data3[data3['시도'] == '경북']['시군구'].unique()

array(['안동시', '구미시', '고령군', '봉화군', '의성군', '청도군', '칠곡군', '경산시', '영천시',
       '울진군', '김천시', '성주군', '문경시', '포항시남구', '상주시', '포항시북구', '영덕읍', '강구면',
       '영해면', '축산면', '남정면', '병곡면', '창수면', '울릉군', '경주시', '영주시', '예천군',
       '청송군', '영양군'], dtype=object)

In [189]:
data3[(data3['시도'] == '경북') & (data3['시군구'] == '영덕읍')]

                공원명 소재지도로명주소             소재지지번주소       지정고시일  시도  시군구    동
9844           화개공원      NaN      영덕군 영덕읍 화개리 산9  1999-12-16  경북  영덕읍  화개리
10026       남석어린이공원      NaN    영덕군 영덕읍 남석리 18-1  2012-08-06  경북  영덕읍  남석리
10033     덕곡제1어린이공원      NaN  영덕군 영덕읍 덕곡리 129-13  2015-09-30  경북  영덕읍  덕곡리
10034     우곡제1어린이공원      NaN     영덕군 영덕읍 우곡리 574  2015-09-30  경북  영덕읍  우곡리
10558      우곡 제1소공원      NaN     영덕군 영덕읍 우곡리 525  2015-09-30  경북  영덕읍  우곡리
10559      우곡 제2소공원      NaN     영덕군 영덕읍 우곡리 575  2015-09-30  경북  영덕읍  우곡리
10560  소공원1(제2농공단지)      NaN    영덕군 영덕읍 매정리 1175  2020-04-13  경북  영덕읍  매정리

In [190]:
data3[(data3['시도'] == '경북') & (data3['시군구'] == '강구면')]

                 공원명 소재지도로명주소              소재지지번주소       지정고시일  시도  시군구    동
9996            강구공원      NaN  영덕군 강구면 강구면 강구리 산67  1999-12-10  경북  강구면  강구면
10555  소공원1(로하스농공단지)      NaN     영덕군 강구면 금호리 1402  2015-09-30  경북  강구면  금호리
10562        강구제2소공원      NaN      영덕군 강구면 강구리 302  2021-07-22  경북  강구면  강구리
10563        강구제1소공원      NaN      영덕군 강구면 강구리 산45  2021-07-22  경북  강구면  강구리

In [191]:
data3[(data3['시도'] == '경북') & (data3['시군구'] == '영해면')]

             공원명 소재지도로명주소            소재지지번주소       지정고시일  시도  시군구    동
10025       괴시공원      NaN    영덕군 영해면 괴시리 340  1974-06-10  경북  영해면  괴시리
10027       성내공원      NaN  영덕군 영해면 성내리 산49-3  2015-09-30  경북  영해면  성내리
10561  산림생태 문화공원      NaN    영덕군 영해면 창포리 산29  2020-11-27  경북  영해면  창포리

In [192]:
data3[(data3['시도'] == '경북') & (data3['시군구'] == '축산면')]

        공원명 소재지도로명주소          소재지지번주소       지정고시일  시도  시군구    동
10028  축산공원      NaN  영덕군 축산면 축산리 산25  2015-09-30  경북  축산면  축산리

In [194]:
data3[(data3['시도'] == '경북') & (data3['시군구'] == '남정면')]

              공원명 소재지도로명주소            소재지지번주소       지정고시일  시도  시군구    동
10029  장사2호 어린이공원      NaN  영덕군 남정면 장사리 295-1  2015-09-30  경북  남정면  장사리
10030  장사1호 어린이공원      NaN  영덕군 남정면 장사리 67-69  2015-09-30  경북  남정면  장사리
10036      부흥3호공원      NaN  영덕군 남정면 부흥리 153-3  2015-09-30  경북  남정면  부흥리
10117      부흥2호공원      NaN   영덕군 남정면 부흥리 96-1  2015-09-30  경북  남정면  부흥리
10276      부흥1호공원      NaN    영덕군 남정면 장사리 2-1  2015-09-30  경북  남정면  장사리

In [195]:
data3[(data3['시도'] == '경북') & (data3['시군구'] == '병곡면')]

                공원명 소재지도로명주소            소재지지번주소       지정고시일  시도  시군구    동
10031  백석 1공원(백석지구)      NaN  영덕군 병곡면 백석리 298-6  2015-09-30  경북  병곡면  백석리
10032    병곡1호 어린이공원      NaN   영덕군 병곡면 병곡리 34-4  2015-09-30  경북  병곡면  병곡리
10554  백석 4공원(백석지구)      NaN    영덕군 병곡면 병곡리 1-3  2015-09-30  경북  병곡면  병곡리
10556  백석 3공원(백석지구)      NaN  영덕군 병곡면 백석리 472-1  2015-09-30  경북  병곡면  백석리
10557  백석 2공원(백석지구)      NaN  영덕군 병곡면 백석리 727-2  2015-09-30  경북  병곡면  백석리

In [196]:
data3[(data3['시도'] == '경북') & (data3['시군구'] == '창수면')]

              공원명 소재지도로명주소           소재지지번주소       지정고시일  시도  시군구    동
10035  신기1호 어린이공원      NaN  영덕군 창수면 신기리 63-1  2015-09-30  경북  창수면  신기리

In [199]:
data3.loc[(data3['시도'] == '경북') & (data3['시군구'] == '영덕읍'), '시군구'] = '영덕군'
data3.loc[(data3['시도'] == '경북') & (data3['시군구'] == '강구면'), '시군구'] = '영덕군'
data3.loc[(data3['시도'] == '경북') & (data3['시군구'] == '영해면'), '시군구'] = '영덕군'
data3.loc[(data3['시도'] == '경북') & (data3['시군구'] == '창수면'), '시군구'] = '영덕군'
data3.loc[(data3['시도'] == '경북') & (data3['시군구'] == '병곡면'), '시군구'] = '영덕군'
data3.loc[(data3['시도'] == '경북') & (data3['시군구'] == '남정면'), '시군구'] = '영덕군'
data3.loc[(data3['시도'] == '경북') & (data3['시군구'] == '축산면'), '시군구'] = '영덕군'
data3.loc[(data3['시도'] == '경북') & (data3['시군구'] == '포항시남구'), '시군구'] = '포항남구'
data3.loc[(data3['시도'] == '경북') & (data3['시군구'] == '포항시북구'), '시군구'] = '포항북구'

In [200]:
data3[data3['시도'] == '경북']['시군구'].unique()

array(['안동시', '구미시', '고령군', '봉화군', '의성군', '청도군', '칠곡군', '경산시', '영천시',
       '울진군', '김천시', '성주군', '문경시', '포항남구', '상주시', '포항북구', '영덕군', '울릉군',
       '경주시', '영주시', '예천군', '청송군', '영양군'], dtype=object)

In [201]:
len(data3[data3['시도'] == '경북']['시군구'].unique()) 
# 2022년도까지는 군위군이 경북이었는데, 2023년부터 대구로 편입되었다고합니다. (군위군 제외 경북 시군구 23개)

23

In [202]:
data3[data3['시도'] == '광주']['시군구'].unique()

array(['광산구', '서구', '동구', '북구', '남구'], dtype=object)

In [203]:
data3.loc[(data3['시도'] == '광주') & (data3['시군구'] == '광산구'), '시군구'] = '광주광산구'
data3.loc[(data3['시도'] == '광주') & (data3['시군구'] == '서구'), '시군구'] = '광주서구'
data3.loc[(data3['시도'] == '광주') & (data3['시군구'] == '동구'), '시군구'] = '광주동구'
data3.loc[(data3['시도'] == '광주') & (data3['시군구'] == '북구'), '시군구'] = '광주북구'
data3.loc[(data3['시도'] == '광주') & (data3['시군구'] == '남구'), '시군구'] = '광주남구'

In [204]:
data3[data3['시도'] == '광주']['시군구'].unique()

array(['광주광산구', '광주서구', '광주동구', '광주북구', '광주남구'], dtype=object)

In [205]:
len(data3[data3['시도'] == '광주']['시군구'].unique()) # 광주 구 5개

5

In [206]:
data3[data3['시도'] == '대구']['시군구'].unique()

array(['달서구', '북구', '동구', '서구', '군위군', '중구', '남구', '수성구', '달성군'],
      dtype=object)

In [207]:
data3.loc[(data3['시도'] == '대구') & (data3['시군구'] == '달서구'), '시군구'] = '대구달서구'
data3.loc[(data3['시도'] == '대구') & (data3['시군구'] == '서구'), '시군구'] = '대구서구'
data3.loc[(data3['시도'] == '대구') & (data3['시군구'] == '동구'), '시군구'] = '대구동구'
data3.loc[(data3['시도'] == '대구') & (data3['시군구'] == '북구'), '시군구'] = '대구북구'
data3.loc[(data3['시도'] == '대구') & (data3['시군구'] == '남구'), '시군구'] = '대구남구'
data3.loc[(data3['시도'] == '대구') & (data3['시군구'] == '중구'), '시군구'] = '대구중구'
data3.loc[(data3['시도'] == '대구') & (data3['시군구'] == '수성구'), '시군구'] = '대구수성구'
data3.loc[(data3['시도'] == '대구') & (data3['시군구'] == '달성군'), '시군구'] = '대구달성군'
data3.loc[(data3['시도'] == '대구') & (data3['시군구'] == '군위군'), '시도'] = '경북'

In [208]:
data3[data3['시도'] == '대구']['시군구'].unique()

array(['대구달서구', '대구북구', '대구동구', '대구서구', '대구중구', '대구남구', '대구수성구', '대구달성군'],
      dtype=object)

In [209]:
len(data3[data3['시도'] == '대구']['시군구'].unique())

8

In [210]:
len(data3[data3['시도'] == '경북']['시군구'].unique())

24

In [211]:
data3[data3['시도'] == '경북']['시군구'].unique() # 군위군 경북으로 옮김

array(['안동시', '구미시', '고령군', '봉화군', '의성군', '청도군', '칠곡군', '경산시', '영천시',
       '울진군', '김천시', '성주군', '군위군', '문경시', '포항남구', '상주시', '포항북구', '영덕군',
       '울릉군', '경주시', '영주시', '예천군', '청송군', '영양군'], dtype=object)

In [212]:
data3[data3['시도'] == '대전']['시군구'].unique()

array(['유성구', '중구', '동구', '서구', '대덕구'], dtype=object)

In [213]:
data3.loc[(data3['시도'] == '대전') & (data3['시군구'] == '유성구'), '시군구'] = '대전유성구'
data3.loc[(data3['시도'] == '대전') & (data3['시군구'] == '중구'), '시군구'] = '대전중구'
data3.loc[(data3['시도'] == '대전') & (data3['시군구'] == '동구'), '시군구'] = '대전동구'
data3.loc[(data3['시도'] == '대전') & (data3['시군구'] == '서구'), '시군구'] = '대전서구'
data3.loc[(data3['시도'] == '대전') & (data3['시군구'] == '대덕구'), '시군구'] = '대전대덕구'

In [214]:
data3[data3['시도'] == '대전']['시군구'].unique()

array(['대전유성구', '대전중구', '대전동구', '대전서구', '대전대덕구'], dtype=object)

In [215]:
len(data3[data3['시도'] == '대전']['시군구'].unique()) # 대전 구 5개

5

In [216]:
data3[data3['시도'] == '부산']['시군구'].unique()

array(['기장군', '수영구', '영도구', '사하구', '연제구', '동구', '동래구', '중구', '부산진구',
       '강서구', '북구', '사상구', '서구', '남구', '금정구', '해운대구'], dtype=object)

In [254]:
data3.loc[(data3['시도'] == '부산') & (data3['시군구'] == '부산부산진구'), '시군구'] = '부산진구'

In [218]:
len(data3[data3['시도'] == '부산']['시군구'].unique()) # 부산 구 16개

16

In [219]:
data3.loc[data3['시도'] == '부산', '시군구'] = '부산' + data3.loc[data3['시도'] == '부산', '시군구']
data3[data3['시도'] == '부산']['시군구'].unique()

array(['부산기장군', '부산수영구', '부산영도구', '부산사하구', '부산연제구', '부산동구', '부산동래구',
       '부산중구', '부산부산진구', '부산강서구', '부산북구', '부산사상구', '부산서구', '부산남구',
       '부산금정구', '부산해운대구'], dtype=object)

In [220]:
data3[data3['시도'] == '세종']['시군구'].unique()

array(['마음로', '고운서2길', '만남1북로', '만남로3길', '만남로2길', '보듬7로', '바른2길', '도움1로',
       '방축1길', '다솜로', '달빛1로', '누리로', '노을3로', '노을1로', '조치원읍', '마음안로',
       '고운북6길', '마음안1로', '보람로', '도움3로', '도움8로', '도움6로', '한누리대로', '가름로',
       '금남면', '절재로', '바른6길', '부강면', '만남로', '나리로', '다솜3로', '보듬3로', '다솜1로',
       '연기면'], dtype=object)

In [256]:
data3.loc[data3['시도'] == '세종', '시군구'] = '세종시'
data3[data3['시도'] == '세종']['시군구'].unique()

array(['세종시'], dtype=object)

In [222]:
data3[data3['시도'] == '울산']['시군구'].unique()

array(['남구', '중구', '동구', '울주군', '북구'], dtype=object)

In [223]:
data3.loc[data3['시도'] == '울산', '시군구'] = '울산' + data3.loc[data3['시도'] == '울산', '시군구']
data3[data3['시도'] == '울산']['시군구'].unique()

array(['울산남구', '울산중구', '울산동구', '울산울주군', '울산북구'], dtype=object)

In [224]:
data3[data3['시도'] == '인천']['시군구'].unique()

array(['중구', '남동구', '연수구', '계양구', '서구', '부평구', '미추홀구', '동구', '남동구남동구',
       '강화군'], dtype=object)

In [225]:
data3[(data3['시도'] == '인천') & (data3['시군구'] == '남동구남동구')]

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
15007,호구포공원,인천광역시 남동구 논현고잔로 211-21 (논현동),인천광역시 남동구 남동구 논현2동 641-1,2000-03-31,인천,남동구남동구,

In [226]:
data3.loc[(data3['시도'] == '인천') & (data3['시군구'] == '남동구남동구'), '시군구'] = '남동구'

In [227]:
data3.loc[data3['시도'] == '인천', '시군구'] = '인천' + data3.loc[data3['시도'] == '인천', '시군구']
data3[data3['시도'] == '인천']['시군구'].unique()

array(['인천중구', '인천남동구', '인천연수구', '인천계양구', '인천서구', '인천부평구', '인천미추홀구',
       '인천동구', '인천강화군'], dtype=object)

In [228]:
len(data3[data3['시도'] == '인천']['시군구'].unique()) # 옹진군 공원 데이터 없음

9

In [231]:
print(len(data3[data3['시도'] == '전남']['시군구'].unique()))
data3[data3['시도'] == '전남']['시군구'].unique()

22

array(['나주시', '여수시', '해남군', '순천시', '목포시', '곡성군', '광양시', '장성군', '영암군',
       '완도군', '담양군', '신안군', '무안군', '함평군', '구례군', '진도군', '보성군', '강진군',
       '장흥군', '고흥군', '화순군', '영광군'], dtype=object)

In [232]:
print(len(data3[data3['시도'] == '전북']['시군구'].unique()))
data3[data3['시도'] == '전북']['시군구'].unique()

14

array(['완주군', '순창군', '익산시', '장수군', '정읍시', '부안군', '전주시덕진구', '전주시완산구',
       '군산시', '고창군', '진안군', '남원시', '임실군', '무주군'], dtype=object)

In [233]:
data3.loc[(data3['시도'] == '전북') & (data3['시군구'] == '전주시덕진구'), '시군구'] = '전주덕진구'
data3.loc[(data3['시도'] == '전북') & (data3['시군구'] == '전주시완산구'), '시군구'] = '전주완산구'

In [234]:
print(len(data3[data3['시도'] == '전북']['시군구'].unique()))
data3[data3['시도'] == '전북']['시군구'].unique() # 김제시 공원 데이터 0개

14

array(['완주군', '순창군', '익산시', '장수군', '정읍시', '부안군', '전주덕진구', '전주완산구', '군산시',
       '고창군', '진안군', '남원시', '임실군', '무주군'], dtype=object)

In [235]:
print(len(data3[data3['시도'] == '제주']['시군구'].unique()))
data3[data3['시도'] == '제주']['시군구'].unique()

2

array(['서귀포시', '제주시'], dtype=object)

In [236]:
print(len(data3[data3['시도'] == '충남']['시군구'].unique()))
data3[data3['시도'] == '충남']['시군구'].unique()

19

array(['당진시', '보령시', '공주시', '논산시', '태안군', '홍성군', '천안시서북구', '청양군',
       '천안시동남구', '금산군', '예산군', '부여군', '아산시', '계룡시', '서천군', '서산시', '결성면',
       '부석면', '대산읍'], dtype=object)

In [238]:
data3[(data3['시도'] == '충남') & (data3['시군구'] == '결성면')]

        공원명 소재지도로명주소            소재지지번주소       지정고시일  시도  시군구    동
11442  만해공원      NaN  충청남도 결성면 성곡리 20-1  2020-01-20  충남  결성면  성곡리
14476  만해공원      NaN  충청남도 결성면 성곡리 20-1  2020-01-20  충남  결성면  성곡리

In [241]:
data3[(data3['시도'] == '충남') & (data3['시군구'] == '부석면')]

                    공원명 소재지도로명주소             소재지지번주소       지정고시일  시도  시군구    동
16045  비도시-어린이공원14(미조성)      NaN  충청남도 부석면 취평리 353-3  2009-01-12  충남  부석면  취평리

In [242]:
data3[(data3['시도'] == '충남') & (data3['시군구'] == '대산읍')]

            공원명 소재지도로명주소              소재지지번주소       지정고시일  시도  시군구    동
16213  대산-소공원36      NaN  충청남도 대산읍 대죽리 640-16  2014-07-22  충남  대산읍  대죽리
16214  대산-소공원41      NaN  충청남도 대산읍 대죽리 640-16  2014-07-22  충남  대산읍  대죽리

In [243]:
data3.loc[(data3['시도'] == '충남') & (data3['시군구'] == '결성면'), '시군구'] = '홍성군'
data3.loc[(data3['시도'] == '충남') & (data3['시군구'] == '부석면'), '시군구'] = '서산시'
data3.loc[(data3['시도'] == '충남') & (data3['시군구'] == '대산읍'), '시군구'] = '서산시'

data3.loc[(data3['시도'] == '충남') & (data3['시군구'] == '천안시서북구'), '시군구'] = '천안서북구'
data3.loc[(data3['시도'] == '충남') & (data3['시군구'] == '천안시동남구'), '시군구'] = '천안동남구'

In [244]:
print(len(data3[data3['시도'] == '충남']['시군구'].unique()))
data3[data3['시도'] == '충남']['시군구'].unique()

16

array(['당진시', '보령시', '공주시', '논산시', '태안군', '홍성군', '천안서북구', '청양군', '천안동남구',
       '금산군', '예산군', '부여군', '아산시', '계룡시', '서천군', '서산시'], dtype=object)

In [245]:
print(len(data3[data3['시도'] == '충북']['시군구'].unique()))
data3[data3['시도'] == '충북']['시군구'].unique()

14

array(['청주시청원구', '청주시흥덕구', '청주시서원구', '단양군', '진천군', '보은군', '청주시상당구', '제천시',
       '증평군', '충주시', '옥천군', '괴산군', '음성군', '영동군'], dtype=object)

In [246]:
data3.loc[(data3['시도'] == '충북') & (data3['시군구'] == '청주시청원구'), '시군구'] = '청주청원구'
data3.loc[(data3['시도'] == '충북') & (data3['시군구'] == '청주시흥덕구'), '시군구'] = '청주흥덕구'
data3.loc[(data3['시도'] == '충북') & (data3['시군구'] == '청주시서원구'), '시군구'] = '청주서원구'
data3.loc[(data3['시도'] == '충북') & (data3['시군구'] == '청주시상당구'), '시군구'] = '청주상당구'

In [260]:
len(data3['시군구'].unique()) # 250개인데 2개는 공원데이터 없으니까 248 되어야하지만 고성군이 강원도와 경남에 두개 존재

247

In [258]:
print(len(data3[data3['시도'] == '강원']['시군구'].unique()))
print(data3[data3['시도'] == '강원']['시군구'].unique())
print(len(data3[data3['시도'] == '경기']['시군구'].unique()))
print(data3[data3['시도'] == '경기']['시군구'].unique())
print(len(data3[data3['시도'] == '경남']['시군구'].unique()))
print(data3[data3['시도'] == '경남']['시군구'].unique())
print(len(data3[data3['시도'] == '경북']['시군구'].unique()))
print(data3[data3['시도'] == '경북']['시군구'].unique())
print(len(data3[data3['시도'] == '광주']['시군구'].unique()))
print(data3[data3['시도'] == '광주']['시군구'].unique())
print(len(data3[data3['시도'] == '대구']['시군구'].unique()))
print(data3[data3['시도'] == '대구']['시군구'].unique())
print(len(data3[data3['시도'] == '대전']['시군구'].unique()))
print(data3[data3['시도'] == '대전']['시군구'].unique())
print(len(data3[data3['시도'] == '부산']['시군구'].unique()))
print(data3[data3['시도'] == '부산']['시군구'].unique())
print(len(data3[data3['시도'] == '서울']['시군구'].unique()))
print(data3[data3['시도'] == '서울']['시군구'].unique())
print(len(data3[data3['시도'] == '세종']['시군구'].unique()))
print(data3[data3['시도'] == '세종']['시군구'].unique())
print(len(data3[data3['시도'] == '울산']['시군구'].unique()))
print(data3[data3['시도'] == '울산']['시군구'].unique())
print(len(data3[data3['시도'] == '인천']['시군구'].unique()))
print(data3[data3['시도'] == '인천']['시군구'].unique())
print(len(data3[data3['시도'] == '전남']['시군구'].unique()))
print(data3[data3['시도'] == '전남']['시군구'].unique())
print(len(data3[data3['시도'] == '전북']['시군구'].unique()))
print(data3[data3['시도'] == '전북']['시군구'].unique())
print(len(data3[data3['시도'] == '제주']['시군구'].unique()))
print(data3[data3['시도'] == '제주']['시군구'].unique())
print(len(data3[data3['시도'] == '충남']['시군구'].unique()))
print(data3[data3['시도'] == '충남']['시군구'].unique())
print(len(data3[data3['시도'] == '충북']['시군구'].unique()))
print(data3[data3['시도'] == '충북']['시군구'].unique())

18
['춘천시' '원주시' '고성군' '홍천군' '화천군' '인제군' '영월군' '횡성군' '태백시' '강릉시' '정선군' '철원군'
 '양구군' '양양군' '속초시' '삼척시' '동해시' '평창군']
42
['시흥시' '양평군' '구리시' '하남시' '부천시' '광명시' '성남중원구' '성남분당구' '안산단원구' '이천시' '군포시'
 '안성시' '오산시' '남양주시' '평택시' '가평군' '동두천시' '성남수정구' '안산상록구' '광주시' '의정부시' '화성시'
 '안양만안구' '안양동안구' '의왕시' '여주시' '파주시' '포천시' '연천군' '수원영통구' '수원장안구' '수원권선구'
 '수원팔달구' '용인수지구' '용인기흥구' '용인처인구' '양주시' '고양일산동구' '고양덕양구' '김포시' '고양일산서구'
 '과천시']
22
['창원성산구' '창원마산회원구' '창원마산합포구' '의령군' '양산시' '통영시' '창원의창구' '진주시' '하동군' '창원진해구'
 '밀양시' '거제시' '사천시' '합천군' '창녕군' '고성군' '김해시' '거창군' '함양군' '산청군' '남해군' '함안군']
24
['안동시' '구미시' '고령군' '봉화군' '의성군' '청도군' '칠곡군' '경산시' '영천시' '울진군' '김천시' '성주군'
 '군위군' '문경시' '포항남구' '상주시' '포항북구' '영덕군' '울릉군' '경주시' '영주시' '예천군' '청송군' '영양군']
5
['광주광산구' '광주서구' '광주동구' '광주북구' '광주남구']
8
['대구달서구' '대구북구' '대구동구' '대구서구' '대구중구' '대구남구' '대구수성구' '대구달성군']
5
['대전유성구' '대전중구' '대전동구' '대전서구' '대전대덕구']
16
['부산기장군' '부산수영구' '부산영도구' '부산사하구' '부산연제구' '부산동구' '부산동래구' '부산중구' '부산진구'
 '부산강서구' '부산북구' '부산사상구' '부산서구' '부산남구' '부산금정구' '부산해운대구']
25
['금천구' '노원구' '양천구' '은평구' '강서구' '강남구' '강북구' '영등포구' '중구' '구로구' '마포구' '용산구'
 '종로구' '관악구' '서초구' '성동구' '성북구' '동작구' '광진구' '중랑구' '동대문구' '도봉구' '송파구' '강동구'
 '서대문구']
1
['세종시']
5
['울산남구' '울산중구' '울산동구' '울산울주군' '울산북구']
9
['인천중구' '인천남동구' '인천연수구' '인천계양구' '인천서구' '인천부평구' '인천미추홀구' '인천동구' '인천강화군']
22
['나주시' '여수시' '해남군' '순천시' '목포시' '곡성군' '광양시' '장성군' '영암군' '완도군' '담양군' '신안군'
 '무안군' '함평군' '구례군' '진도군' '보성군' '강진군' '장흥군' '고흥군' '화순군' '영광군']
14
['완주군' '순창군' '익산시' '장수군' '정읍시' '부안군' '전주덕진구' '전주완산구' '군산시' '고창군' '진안군'
 '남원시' '임실군' '무주군']
2
['서귀포시' '제주시']
16
['당진시' '보령시' '공주시' '논산시' '태안군' '홍성군' '천안서북구' '청양군' '천안동남구' '금산군' '예산군'
 '부여군' '아산시' '계룡시' '서천군' '서산시']
14
['청주청원구' '청주흥덕구' '청주서원구' '단양군' '진천군' '보은군' '청주상당구' '제천시' '증평군' '충주시' '옥천군'
 '괴산군' '음성군' '영동군']

In [261]:
data3

,공원명,소재지도로명주소,소재지지번주소,지정고시일,시도,시군구,동
0,승지공원,경기도 시흥시 능곡중앙로 85,경기도 시흥시 능곡동 552,2004-11-10,경기,시흥시,능곡동
1,광탄2호 소공원,NaN,경기도 양평군 용문면 광탄리 711,1994-02-25,경기,양평군,용문면
2,광탄3호 소공원,NaN,경기도 양평군 용문면 광탄리 762,1994-02-25,경기,양평군,용문면
3,공흥 소공원,NaN,경기도 양평군 양평읍 공흥리 885-1,2012-11-22,경기,양평군,양평읍
4,한강아트로드 공원,NaN,경기도 양평군 강하면 운심리 43-25,2012-08-30,경기,양평군,강하면
...,...,...,...,...,...,...,...
18303,꿈돌이,NaN,서울특별시 강서구 화곡동 24-128,NaN,서울,강서구,화곡동
18304,소나무,NaN,서울특별시 강서구 화곡동 29-31,NaN,서울,강서구,화곡동
18305,산새,NaN,서울특별시 강서구 화곡동 772,NaN,서울,강서구,화곡동
18306,박장,NaN,서울특별시 강서구 화곡동 56-25,NaN,서울,강서구,화곡동
18307,참새,NaN,서울특별시 강서구 화곡동 56-638,NaN,서울,강서구,화곡동

In [263]:
data4 = data3.copy()
data4 = data4.drop(['소재지도로명주소', '소재지지번주소', '동'], axis=1)
data4

             공원명       지정고시일  시도  시군구
0           승지공원  2004-11-10  경기  시흥시
1       광탄2호 소공원  1994-02-25  경기  양평군
2       광탄3호 소공원  1994-02-25  경기  양평군
3         공흥 소공원  2012-11-22  경기  양평군
4      한강아트로드 공원  2012-08-30  경기  양평군
...          ...         ...  ..  ...
18303        꿈돌이         NaN  서울  강서구
18304        소나무         NaN  서울  강서구
18305         산새         NaN  서울  강서구
18306         박장         NaN  서울  강서구
18307         참새         NaN  서울  강서구

[18268 rows x 4 columns]

In [306]:
data4['지정고시일'] = pd.to_datetime(data4['지정고시일'])
data4['지정고시일'] = data4['지정고시일'].fillna('2018-01-01') # 지정고시일 없다면 2018년도로 채워주기

In [315]:
# 기본 베이스라인 만들기
dep = pd.read_csv(r'C:\Users\soobin\coding_excuse\정신질환통계.csv')
base = pd.DataFrame({'시도': dep[dep['년도'] == 2018]['시도'], '시군구': dep[dep['년도'] == 2018]['시군구']})
base

     시도    시군구
0    강원    강릉시
1    강원    고성군
2    강원    동해시
3    강원    삼척시
4    강원    속초시
..   ..    ...
245  충북  청주상당구
246  충북  청주서원구
247  충북  청주청원구
248  충북  청주흥덕구
249  충북    충주시

[250 rows x 2 columns]

In [433]:
# 2018년도 이전에 고시된 공원 개수 세기
a2018 = data4[data4['지정고시일'].dt.year <= 2018].groupby(['시도', '시군구']).size().reset_index(name='공원개수')
base2018 = base.copy()
base2018 = base2018.merge(a2018, how='left', on=['시도', '시군구']).fillna(0)
base2018['년도'] = 2018
base2018.head(5)

   시도  시군구   공원개수    년도
0  강원  강릉시  160.0  2018
1  강원  고성군   58.0  2018
2  강원  동해시   10.0  2018
3  강원  삼척시   46.0  2018
4  강원  속초시   90.0  2018

In [434]:
a2019 = data4[data4['지정고시일'].dt.year <= 2019].groupby(['시도', '시군구']).size().reset_index(name='공원개수')
base2019 = base.copy()
base2019 = base2019.merge(a2019, how='left', on=['시도', '시군구']).fillna(0)
base2019['년도'] = 2019
print(base2019.head(5))

a2020 = data4[data4['지정고시일'].dt.year <= 2020].groupby(['시도', '시군구']).size().reset_index(name='공원개수')
base2020 = base.copy()
base2020 = base2020.merge(a2020, how='left', on=['시도', '시군구']).fillna(0)
base2020['년도'] = 2020
print(base2020.head(5))

a2021 = data4[data4['지정고시일'].dt.year <= 2021].groupby(['시도', '시군구']).size().reset_index(name='공원개수')
base2021 = base.copy()
base2021 = base2021.merge(a2021, how='left', on=['시도', '시군구']).fillna(0)
base2021['년도'] = 2021
print(base2021.head(5))

a2022 = data4[data4['지정고시일'].dt.year <= 2022].groupby(['시도', '시군구']).size().reset_index(name='공원개수')
base2022 = base.copy()
base2022 = base2022.merge(a2022, how='left', on=['시도', '시군구']).fillna(0)
base2022['년도'] = 2022
print(base2022.head(5))

   시도  시군구   공원개수    년도
0  강원  강릉시  170.0  2019
1  강원  고성군   58.0  2019
2  강원  동해시   10.0  2019
3  강원  삼척시   46.0  2019
4  강원  속초시   90.0  2019
   시도  시군구   공원개수    년도
0  강원  강릉시  172.0  2020
1  강원  고성군   58.0  2020
2  강원  동해시   10.0  2020
3  강원  삼척시   46.0  2020
4  강원  속초시   90.0  2020
   시도  시군구   공원개수    년도
0  강원  강릉시  172.0  2021
1  강원  고성군   58.0  2021
2  강원  동해시   10.0  2021
3  강원  삼척시   46.0  2021
4  강원  속초시   90.0  2021
   시도  시군구   공원개수    년도
0  강원  강릉시  172.0  2022
1  강원  고성군   58.0  2022
2  강원  동해시   10.0  2022
3  강원  삼척시   46.0  2022
4  강원  속초시   90.0  2022

In [435]:
dfs = [base2018, base2019, base2020, base2021, base2022]
park = pd.concat(dfs, axis=0, sort=False).fillna(0)
park

     시도    시군구   공원개수    년도
0    강원    강릉시  160.0  2018
1    강원    고성군   58.0  2018
2    강원    동해시   10.0  2018
3    강원    삼척시   46.0  2018
4    강원    속초시   90.0  2018
..   ..    ...    ...   ...
245  충북  청주상당구   89.0  2022
246  충북  청주서원구   88.0  2022
247  충북  청주청원구  103.0  2022
248  충북  청주흥덕구  152.0  2022
249  충북    충주시  119.0  2022

[1250 rows x 4 columns]

In [436]:
park.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      1250 non-null   object
 1   시군구     1250 non-null   object
 2   공원개수    1250 non-null   float64
 3   년도      1250 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 48.8+ KB

In [437]:
park['공원개수'] = park['공원개수'].astype('int64')

In [438]:
park.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      1250 non-null   object
 1   시군구     1250 non-null   object
 2   공원개수    1250 non-null   int64
 3   년도      1250 non-null   int64
dtypes: int64(2), object(2)
memory usage: 48.8+ KB

In [439]:
park['년도'].unique()

array([2018, 2019, 2020, 2021, 2022], dtype=int64)

In [440]:
new_order = ['시도', '시군구', '년도', '공원개수']
park = park[new_order]
park

     시도    시군구    년도  공원개수
0    강원    강릉시  2018   160
1    강원    고성군  2018    58
2    강원    동해시  2018    10
3    강원    삼척시  2018    46
4    강원    속초시  2018    90
..   ..    ...   ...   ...
245  충북  청주상당구  2022    89
246  충북  청주서원구  2022    88
247  충북  청주청원구  2022   103
248  충북  청주흥덕구  2022   152
249  충북    충주시  2022   119

[1250 rows x 4 columns]

### 공공시설데이터도 공원데이터와 같이 만들기

In [350]:
public = pd.read_csv(r'C:\Users\soobin\coding_excuse\공공시설.csv')
public

        년도  시도  시군구        시설명
0     2018  서울  용산구      블루스퀘어
1     2018  서울  양천구   목동청소년수련관
2     2018  서울  마포구   서울월드컵경기장
3     2018  서울   중구    서울시립미술관
4     2018  서울  송파구  잠실올림픽주경기장
...    ...  ..  ...        ...
2969  2022  경남  고성군  고성군국민체육센터
2970  2022  경남  남해군    남해실내체육관
2971  2022  경남  남해군  남해군국민체육센터
2972  2022  경남  하동군  해양플랜트연구단지
2973  2022  경남  함양군  함양군문화예술회관

[2974 rows x 4 columns]

In [421]:
base_public = base.copy()
base_public = pd.concat([base_public] * 5, ignore_index=True)
base_public['년도'] = 2018
base_public.loc[250:500, '년도'] = 2019
base_public.loc[500:750, '년도'] = 2020
base_public.loc[750:1000, '년도'] = 2021
base_public.loc[1000:1250, '년도'] = 2022

public_test = public.groupby(['년도', '시도', '시군구']).size().reset_index(name='공공시설개수')
base_public = base_public.merge(public_test, how='left', on=['년도', '시도', '시군구']).fillna(0)
base_public

      시도    시군구    년도  공공시설개수
0     강원    강릉시  2018     3.0
1     강원    고성군  2018     1.0
2     강원    동해시  2018     1.0
3     강원    삼척시  2018     3.0
4     강원    속초시  2018     2.0
...   ..    ...   ...     ...
1245  충북  청주상당구  2022     0.0
1246  충북  청주서원구  2022     1.0
1247  충북  청주청원구  2022     1.0
1248  충북  청주흥덕구  2022     0.0
1249  충북    충주시  2022     2.0

[1250 rows x 4 columns]

In [422]:
# 2021년 데이터는 없음
base_public[base_public['년도'] == 2021]

     시도    시군구    년도  공공시설개수
750  강원    강릉시  2021     0.0
751  강원    고성군  2021     0.0
752  강원    동해시  2021     0.0
753  강원    삼척시  2021     0.0
754  강원    속초시  2021     0.0
..   ..    ...   ...     ...
995  충북  청주상당구  2021     0.0
996  충북  청주서원구  2021     0.0
997  충북  청주청원구  2021     0.0
998  충북  청주흥덕구  2021     0.0
999  충북    충주시  2021     0.0

[250 rows x 4 columns]

In [423]:
# 2021년 데이터를 2020년과 2022년도의 평균값으로 대체
replace_2021 = base_public['년도'] == 2021
grouped = base_public[replace_2021].groupby(['시도', '시군구'])

mean_values = base_public[base_public['년도'].isin([2020, 2022])].groupby(['시도', '시군구'])['공공시설개수'].mean().reset_index()
mean_values['공공시설개수'] = mean_values['공공시설개수'].astype('int64')
mean_values['년도'] = 2021

neww_order = ['시도', '시군구', '년도', '공공시설개수']
mean_values = mean_values[neww_order]
mean_values

     시도    시군구    년도  공공시설개수
0    강원    강릉시  2021       4
1    강원    고성군  2021       0
2    강원    동해시  2021       1
3    강원    삼척시  2021       3
4    강원    속초시  2021       1
..   ..    ...   ...     ...
245  충북  청주상당구  2021       2
246  충북  청주서원구  2021       1
247  충북  청주청원구  2021       2
248  충북  청주흥덕구  2021       1
249  충북    충주시  2021       3

[250 rows x 4 columns]

In [424]:
base_public = base_public[base_public['년도'] != 2021].reset_index(drop=True)
base_public

     시도    시군구    년도  공공시설개수
0    강원    강릉시  2018     3.0
1    강원    고성군  2018     1.0
2    강원    동해시  2018     1.0
3    강원    삼척시  2018     3.0
4    강원    속초시  2018     2.0
..   ..    ...   ...     ...
995  충북  청주상당구  2022     0.0
996  충북  청주서원구  2022     1.0
997  충북  청주청원구  2022     1.0
998  충북  청주흥덕구  2022     0.0
999  충북    충주시  2022     2.0

[1000 rows x 4 columns]

In [425]:
base_public = pd.concat([base_public, mean_values], axis=0)
base_public

     시도    시군구    년도  공공시설개수
0    강원    강릉시  2018     3.0
1    강원    고성군  2018     1.0
2    강원    동해시  2018     1.0
3    강원    삼척시  2018     3.0
4    강원    속초시  2018     2.0
..   ..    ...   ...     ...
245  충북  청주상당구  2021     2.0
246  충북  청주서원구  2021     1.0
247  충북  청주청원구  2021     2.0
248  충북  청주흥덕구  2021     1.0
249  충북    충주시  2021     3.0

[1250 rows x 4 columns]

In [429]:
base_public = base_public.sort_values(by=['년도','시도', '시군구'], ascending=True).reset_index(drop=True)
base_public

      시도    시군구    년도  공공시설개수
0     강원    강릉시  2018     3.0
1     강원    고성군  2018     1.0
2     강원    동해시  2018     1.0
3     강원    삼척시  2018     3.0
4     강원    속초시  2018     2.0
...   ..    ...   ...     ...
1245  충북  청주상당구  2022     0.0
1246  충북  청주서원구  2022     1.0
1247  충북  청주청원구  2022     1.0
1248  충북  청주흥덕구  2022     0.0
1249  충북    충주시  2022     2.0

[1250 rows x 4 columns]

In [430]:
base_public.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      1250 non-null   object
 1   시군구     1250 non-null   object
 2   년도      1250 non-null   int64
 3   공공시설개수  1250 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 39.2+ KB

In [432]:
base_public['공공시설개수'] = base_public['공공시설개수'].astype('int64')
base_public

      시도    시군구    년도  공공시설개수
0     강원    강릉시  2018       3
1     강원    고성군  2018       1
2     강원    동해시  2018       1
3     강원    삼척시  2018       3
4     강원    속초시  2018       2
...   ..    ...   ...     ...
1245  충북  청주상당구  2022       0
1246  충북  청주서원구  2022       1
1247  충북  청주청원구  2022       1
1248  충북  청주흥덕구  2022       0
1249  충북    충주시  2022       2

[1250 rows x 4 columns]

### 공공시설과 공원 개수 합치기

In [441]:
base_public

      시도    시군구    년도  공공시설개수
0     강원    강릉시  2018       3
1     강원    고성군  2018       1
2     강원    동해시  2018       1
3     강원    삼척시  2018       3
4     강원    속초시  2018       2
...   ..    ...   ...     ...
1245  충북  청주상당구  2022       0
1246  충북  청주서원구  2022       1
1247  충북  청주청원구  2022       1
1248  충북  청주흥덕구  2022       0
1249  충북    충주시  2022       2

[1250 rows x 4 columns]

In [443]:
park = park.reset_index(drop=True)
park

      시도    시군구    년도  공원개수
0     강원    강릉시  2018   160
1     강원    고성군  2018    58
2     강원    동해시  2018    10
3     강원    삼척시  2018    46
4     강원    속초시  2018    90
...   ..    ...   ...   ...
1245  충북  청주상당구  2022    89
1246  충북  청주서원구  2022    88
1247  충북  청주청원구  2022   103
1248  충북  청주흥덕구  2022   152
1249  충북    충주시  2022   119

[1250 rows x 4 columns]

In [445]:
public_facilities = park.iloc[:, [0,1,2]]
public_facilities

      시도    시군구    년도
0     강원    강릉시  2018
1     강원    고성군  2018
2     강원    동해시  2018
3     강원    삼척시  2018
4     강원    속초시  2018
...   ..    ...   ...
1245  충북  청주상당구  2022
1246  충북  청주서원구  2022
1247  충북  청주청원구  2022
1248  충북  청주흥덕구  2022
1249  충북    충주시  2022

[1250 rows x 3 columns]

In [447]:
public_facilities['공공시설개수'] = park['공원개수'] + base_public['공공시설개수']
public_facilities

      시도    시군구    년도  공공시설개수
0     강원    강릉시  2018     163
1     강원    고성군  2018      59
2     강원    동해시  2018      11
3     강원    삼척시  2018      49
4     강원    속초시  2018      92
...   ..    ...   ...     ...
1245  충북  청주상당구  2022      89
1246  충북  청주서원구  2022      89
1247  충북  청주청원구  2022     104
1248  충북  청주흥덕구  2022     152
1249  충북    충주시  2022     121

[1250 rows x 4 columns]

### 시도, 시군구,  년도, 우울증환자수, 정신건강예산, 공공시설개수 합치기

In [448]:
patients = pd.read_csv(r'C:\Users\soobin\coding_excuse\정신질환통계.csv')
patients

        년도  시도    시군구   환자수
0     2018  강원    강릉시  4360
1     2018  강원    고성군     0
2     2018  강원    동해시  1337
3     2018  강원    삼척시  1059
4     2018  강원    속초시  1459
...    ...  ..    ...   ...
1245  2022  충북  청주상당구  7205
1246  2022  충북  청주서원구  4694
1247  2022  충북  청주청원구  4188
1248  2022  충북  청주흥덕구  5430
1249  2022  충북    충주시  3921

[1250 rows x 4 columns]

In [449]:
budget = pd.read_csv(r'C:\Users\soobin\coding_excuse\정신건강예산.csv')
budget

      년도 시·도        인구수  정신건강예산(천원) 1인당 정신건강예산(원)
0   2018  서울  9,704,546  51,682,760         5,326
1   2019  서울  9,662,041  51,300,286         5,309
2   2020  서울  9,601,693  53,647,039         5,587
3   2021  서울  9,501,528  58,981,416         6,208
4   2022  서울  9,411,443  26,788,626         6,845
..   ...  ..        ...         ...           ...
80  2018  제주    652,693   3,906,437         5,985
81  2019  제주    659,539   4,236,120         6,423
82  2020  제주    670,207   4,062,551         6,062
83  2021  제주    673,189   5,600,120         8,319
84  2022  제주    675,705   5,852,966         8,662

[85 rows x 5 columns]

In [496]:
budgett = budget.copy()

In [497]:
patients_sido = patients['시도'].unique()
patients_sido

array(['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산',
       '인천', '전남', '전북', '제주', '충남', '충북'], dtype=object)

In [498]:
budget_1 = pd.concat([budgett[budgett['시·도'] == '강원']] * 18, ignore_index=True)
budget_2 = pd.concat([budgett[budgett['시·도'] == '경기']] * 42, ignore_index=True)
budget_3 = pd.concat([budgett[budgett['시·도'] == '경남']] * 22, ignore_index=True)
budget_4 = pd.concat([budgett[budgett['시·도'] == '경북']] * 24, ignore_index=True)
budget_5 = pd.concat([budgett[budgett['시·도'] == '광주']] * 5, ignore_index=True)
budget_6 = pd.concat([budgett[budgett['시·도'] == '대구']] * 8, ignore_index=True)
budget_7 = pd.concat([budgett[budgett['시·도'] == '대전']] * 5, ignore_index=True)
budget_8 = pd.concat([budgett[budgett['시·도'] == '부산']] * 16, ignore_index=True)
budget_9 = pd.concat([budgett[budgett['시·도'] == '서울']] * 25, ignore_index=True)
budget_10 = pd.concat([budgett[budgett['시·도'] == '세종']] * 1, ignore_index=True)
budget_11 = pd.concat([budgett[budgett['시·도'] == '울산']] * 5, ignore_index=True)
budget_12 = pd.concat([budgett[budgett['시·도'] == '인천']] * 10, ignore_index=True)
budget_13 = pd.concat([budgett[budgett['시·도'] == '전남']] * 22, ignore_index=True)
budget_14 = pd.concat([budgett[budgett['시·도'] == '전북']] * 15, ignore_index=True)
budget_15 = pd.concat([budgett[budgett['시·도'] == '제주']] * 2, ignore_index=True)
budget_16 = pd.concat([budgett[budgett['시·도'] == '충남']] * 16, ignore_index=True)
budget_17 = pd.concat([budgett[budgett['시·도'] == '충북']] * 14, ignore_index=True)

In [499]:
budgets = pd.concat([budget_1, budget_2, budget_3, budget_4, budget_5, 
                    budget_6, budget_7, budget_8, budget_9, budget_10,
                    budget_11, budget_12, budget_13, budget_14, budget_15,
                    budget_16, budget_17], ignore_index=True)
budgets

        년도 시·도        인구수  정신건강예산(천원) 1인당 정신건강예산(원)
0     2018  강원  1,520,816  10,868,877         7,147
1     2019  강원  1,516,629  12,209,343         8,050
2     2020  강원  1,515,112  11,770,854         7,769
3     2021  강원  1,520,457  15,121,734         9,946
4     2022  강원  1,525,912  18,406,908        12,063
...    ...  ..        ...         ...           ...
1245  2018  충북  1,618,877   9,796,335         6,051
1246  2019  충북  1,625,607  11,414,098         7,021
1247  2020  충북  1,631,549  12,552,301         7,693
1248  2021  충북  1,632,358  14,572,199         8,927
1249  2022  충북  1,633,687  18,518,507        11,335

[1250 rows x 5 columns]

In [500]:
budgets = budgets.sort_values(by=['년도','시·도'], ascending=True).reset_index(drop=True)
budgets

        년도 시·도        인구수  정신건강예산(천원) 1인당 정신건강예산(원)
0     2018  강원  1,520,816  10,868,877         7,147
1     2018  강원  1,520,816  10,868,877         7,147
2     2018  강원  1,520,816  10,868,877         7,147
3     2018  강원  1,520,816  10,868,877         7,147
4     2018  강원  1,520,816  10,868,877         7,147
...    ...  ..        ...         ...           ...
1245  2022  충북  1,633,687  18,518,507        11,335
1246  2022  충북  1,633,687  18,518,507        11,335
1247  2022  충북  1,633,687  18,518,507        11,335
1248  2022  충북  1,633,687  18,518,507        11,335
1249  2022  충북  1,633,687  18,518,507        11,335

[1250 rows x 5 columns]

In [501]:
budgets['시군구'] = patients['시군구']
budgets

        년도 시·도        인구수  정신건강예산(천원) 1인당 정신건강예산(원)    시군구
0     2018  강원  1,520,816  10,868,877         7,147    강릉시
1     2018  강원  1,520,816  10,868,877         7,147    고성군
2     2018  강원  1,520,816  10,868,877         7,147    동해시
3     2018  강원  1,520,816  10,868,877         7,147    삼척시
4     2018  강원  1,520,816  10,868,877         7,147    속초시
...    ...  ..        ...         ...           ...    ...
1245  2022  충북  1,633,687  18,518,507        11,335  청주상당구
1246  2022  충북  1,633,687  18,518,507        11,335  청주서원구
1247  2022  충북  1,633,687  18,518,507        11,335  청주청원구
1248  2022  충북  1,633,687  18,518,507        11,335  청주흥덕구
1249  2022  충북  1,633,687  18,518,507        11,335    충주시

[1250 rows x 6 columns]

In [502]:
budgets.rename(columns={'시·도': '시도'}, inplace=True)
budgets = budgets.drop(['인구수', '정신건강예산(천원)'], axis=1)
order = ['시도', '시군구', '년도', '1인당 정신건강예산(원)']
budgets = budgets[order]
budgets

      시도    시군구    년도 1인당 정신건강예산(원)
0     강원    강릉시  2018         7,147
1     강원    고성군  2018         7,147
2     강원    동해시  2018         7,147
3     강원    삼척시  2018         7,147
4     강원    속초시  2018         7,147
...   ..    ...   ...           ...
1245  충북  청주상당구  2022        11,335
1246  충북  청주서원구  2022        11,335
1247  충북  청주청원구  2022        11,335
1248  충북  청주흥덕구  2022        11,335
1249  충북    충주시  2022        11,335

[1250 rows x 4 columns]

In [503]:
budgets['1인당 정신건강예산(원)'] = budgets['1인당 정신건강예산(원)'].str.replace(',', '').astype('int64')

In [504]:
budgets

      시도    시군구    년도  1인당 정신건강예산(원)
0     강원    강릉시  2018           7147
1     강원    고성군  2018           7147
2     강원    동해시  2018           7147
3     강원    삼척시  2018           7147
4     강원    속초시  2018           7147
...   ..    ...   ...            ...
1245  충북  청주상당구  2022          11335
1246  충북  청주서원구  2022          11335
1247  충북  청주청원구  2022          11335
1248  충북  청주흥덕구  2022          11335
1249  충북    충주시  2022          11335

[1250 rows x 4 columns]

In [695]:
result = patients.copy()
result.rename(columns={'환자수': '우울증환자수'}, inplace=True)
result['1인당 정신건강예산(원)'] = budgets['1인당 정신건강예산(원)']
result['공공시설개수'] = public_facilities['공공시설개수']
result

        년도  시도    시군구  우울증환자수  1인당 정신건강예산(원)  공공시설개수
0     2018  강원    강릉시    4360           7147     163
1     2018  강원    고성군       0           7147      59
2     2018  강원    동해시    1337           7147      11
3     2018  강원    삼척시    1059           7147      49
4     2018  강원    속초시    1459           7147      92
...    ...  ..    ...     ...            ...     ...
1245  2022  충북  청주상당구    7205          11335      89
1246  2022  충북  청주서원구    4694          11335      89
1247  2022  충북  청주청원구    4188          11335     104
1248  2022  충북  청주흥덕구    5430          11335     152
1249  2022  충북    충주시    3921          11335     121

[1250 rows x 6 columns]

In [507]:
result.to_csv(r'C:\Users\soobin\coding_excuse\soobin\0_Data\result_0123910.csv',index=False, encoding='utf-8-sig')

In [696]:
result

        년도  시도    시군구  우울증환자수  1인당 정신건강예산(원)  공공시설개수
0     2018  강원    강릉시    4360           7147     163
1     2018  강원    고성군       0           7147      59
2     2018  강원    동해시    1337           7147      11
3     2018  강원    삼척시    1059           7147      49
4     2018  강원    속초시    1459           7147      92
...    ...  ..    ...     ...            ...     ...
1245  2022  충북  청주상당구    7205          11335      89
1246  2022  충북  청주서원구    4694          11335      89
1247  2022  충북  청주청원구    4188          11335     104
1248  2022  충북  청주흥덕구    5430          11335     152
1249  2022  충북    충주시    3921          11335     121

[1250 rows x 6 columns]

In [697]:
result['시도'] = result['시도'].replace({'강원': '강원도', '경기': '경기도', '경남': '경상남도', '경북': '경상북도', '광주': '광주광역시', 
                             '대구': '대구광역시', '대전': '대전광역시', '부산': '부산광역시', '서울': '서울특별시', 
                             '세종': '세종특별자치시', '울산': '울산광역시', '인천': '인천광역시','전남': '전라남도', 
                             '전북': '전라북도', '제주': '제주특별자치도', '충남': '충청남도', '충북' : '충청북도'})

In [698]:
result['시군구'].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양덕양구', '고양일산동구', '고양일산서구', '과천시', '광명시', '광주시', '구리시',
       '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남분당구', '성남수정구', '성남중원구',
       '수원권선구', '수원영통구', '수원장안구', '수원팔달구', '시흥시', '안산단원구', '안산상록구', '안성시',
       '안양동안구', '안양만안구', '양주시', '양평군', '여주시', '연천군', '오산시', '용인기흥구',
       '용인수지구', '용인처인구', '의왕시', '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시',
       '화성시', '거제시', '거창군', '김해시', '남해군', '밀양시', '사천시', '산청군', '양산시',
       '의령군', '진주시', '창녕군', '창원마산합포구', '창원마산회원구', '창원성산구', '창원의창구',
       '창원진해구', '통영시', '하동군', '함안군', '함양군', '합천군', '경산시', '경주시', '고령군',
       '구미시', '군위군', '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군',
       '영양군', '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군',
       '칠곡군', '포항남구', '포항북구', '광주광산구', '광주남구', '광주동구', '광주북구', '광주서구',
       '대구남구', '대구달서구', '대구달성군', '대구동구', '대구북구', '대구서구', '대구수성구', '대구중구',
       '대전대덕구', '대전동구', '대전서구', '대전유성구', '대전중구', '부산강서구', '부산금정구',
       '부산기장군', '부산남구', '부산동구', '부산동래구', '부산북구', '부산사상구', '부산사하구', '부산서구',
       '부산수영구', '부산연제구', '부산영도구', '부산중구', '부산진구', '부산해운대구', '강남구', '강동구',
       '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구',
       '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구',
       '용산구', '은평구', '종로구', '중구', '중랑구', '세종시', '울산남구', '울산동구', '울산북구',
       '울산울주군', '울산중구', '인천강화군', '인천계양구', '인천남동구', '인천동구', '인천미추홀구',
       '인천부평구', '인천서구', '인천연수구', '인천옹진군', '인천중구', '강진군', '고흥군', '곡성군',
       '광양시', '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군',
       '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군',
       '화순군', '고창군', '군산시', '김제시', '남원시', '무주군', '부안군', '순창군', '완주군',
       '익산시', '임실군', '장수군', '전주덕진구', '전주완산구', '정읍시', '진안군', '서귀포시', '제주시',
       '계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군',
       '아산시', '예산군', '천안동남구', '천안서북구', '청양군', '태안군', '홍성군', '괴산군', '단양군',
       '보은군', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청주상당구', '청주서원구',
       '청주청원구', '청주흥덕구', '충주시'], dtype=object)

In [699]:
result.loc[result['시도'] == '강원도', '시군구'] = '강원' + result.loc[result['시도'] == '강원도', '시군구']
result.loc[result['시도'] == '경기도', '시군구'] = '경기' + result.loc[result['시도'] == '경기도', '시군구']
result.loc[result['시도'] == '경상남도', '시군구'] = '경남' + result.loc[result['시도'] == '경상남도', '시군구']
result.loc[result['시도'] == '경상북도', '시군구'] = '경북' + result.loc[result['시도'] == '경상북도', '시군구']
result.loc[result['시도'] == '서울특별시', '시군구'] = '서울' + result.loc[result['시도'] == '서울특별시', '시군구']
result.loc[result['시도'] == '세종특별자치시', '시군구'] = '세종' + result.loc[result['시도'] == '세종특별자치시', '시군구']
result.loc[result['시도'] == '전라남도', '시군구'] = '전남' + result.loc[result['시도'] == '전라남도', '시군구']
result.loc[result['시도'] == '전라북도', '시군구'] = '전북' + result.loc[result['시도'] == '전라북도', '시군구']
result.loc[result['시도'] == '제주도', '시군구'] = '제주' + result.loc[result['시도'] == '제주도', '시군구']
result.loc[result['시도'] == '충청남도', '시군구'] = '충남' + result.loc[result['시도'] == '충청남도', '시군구']
result.loc[result['시도'] == '충청북도', '시군구'] = '충북' + result.loc[result['시도'] == '충청북도', '시군구']

In [700]:
result

        년도    시도      시군구  우울증환자수  1인당 정신건강예산(원)  공공시설개수
0     2018   강원도    강원강릉시    4360           7147     163
1     2018   강원도    강원고성군       0           7147      59
2     2018   강원도    강원동해시    1337           7147      11
3     2018   강원도    강원삼척시    1059           7147      49
4     2018   강원도    강원속초시    1459           7147      92
...    ...   ...      ...     ...            ...     ...
1245  2022  충청북도  충북청주상당구    7205          11335      89
1246  2022  충청북도  충북청주서원구    4694          11335      89
1247  2022  충청북도  충북청주청원구    4188          11335     104
1248  2022  충청북도  충북청주흥덕구    5430          11335     152
1249  2022  충청북도    충북충주시    3921          11335     121

[1250 rows x 6 columns]

In [701]:
result['시군구'].unique()

array(['강원강릉시', '강원고성군', '강원동해시', '강원삼척시', '강원속초시', '강원양구군', '강원양양군',
       '강원영월군', '강원원주시', '강원인제군', '강원정선군', '강원철원군', '강원춘천시', '강원태백시',
       '강원평창군', '강원홍천군', '강원화천군', '강원횡성군', '경기가평군', '경기고양덕양구', '경기고양일산동구',
       '경기고양일산서구', '경기과천시', '경기광명시', '경기광주시', '경기구리시', '경기군포시', '경기김포시',
       '경기남양주시', '경기동두천시', '경기부천시', '경기성남분당구', '경기성남수정구', '경기성남중원구',
       '경기수원권선구', '경기수원영통구', '경기수원장안구', '경기수원팔달구', '경기시흥시', '경기안산단원구',
       '경기안산상록구', '경기안성시', '경기안양동안구', '경기안양만안구', '경기양주시', '경기양평군',
       '경기여주시', '경기연천군', '경기오산시', '경기용인기흥구', '경기용인수지구', '경기용인처인구',
       '경기의왕시', '경기의정부시', '경기이천시', '경기파주시', '경기평택시', '경기포천시', '경기하남시',
       '경기화성시', '경남거제시', '경남거창군', '경남고성군', '경남김해시', '경남남해군', '경남밀양시',
       '경남사천시', '경남산청군', '경남양산시', '경남의령군', '경남진주시', '경남창녕군', '경남창원마산합포구',
       '경남창원마산회원구', '경남창원성산구', '경남창원의창구', '경남창원진해구', '경남통영시', '경남하동군',
       '경남함안군', '경남함양군', '경남합천군', '경북경산시', '경북경주시', '경북고령군', '경북구미시',
       '경북군위군', '경북김천시', '경북문경시', '경북봉화군', '경북상주시', '경북성주군', '경북안동시',
       '경북영덕군', '경북영양군', '경북영주시', '경북영천시', '경북예천군', '경북울릉군', '경북울진군',
       '경북의성군', '경북청도군', '경북청송군', '경북칠곡군', '경북포항남구', '경북포항북구', '광주광산구',
       '광주남구', '광주동구', '광주북구', '광주서구', '대구남구', '대구달서구', '대구달성군', '대구동구',
       '대구북구', '대구서구', '대구수성구', '대구중구', '대전대덕구', '대전동구', '대전서구', '대전유성구',
       '대전중구', '부산강서구', '부산금정구', '부산기장군', '부산남구', '부산동구', '부산동래구', '부산북구',
       '부산사상구', '부산사하구', '부산서구', '부산수영구', '부산연제구', '부산영도구', '부산중구',
       '부산진구', '부산해운대구', '서울강남구', '서울강동구', '서울강북구', '서울강서구', '서울관악구',
       '서울광진구', '서울구로구', '서울금천구', '서울노원구', '서울도봉구', '서울동대문구', '서울동작구',
       '서울마포구', '서울서대문구', '서울서초구', '서울성동구', '서울성북구', '서울송파구', '서울양천구',
       '서울영등포구', '서울용산구', '서울은평구', '서울종로구', '서울중구', '서울중랑구', '세종세종시',
       '울산남구', '울산동구', '울산북구', '울산울주군', '울산중구', '인천강화군', '인천계양구', '인천남동구',
       '인천동구', '인천미추홀구', '인천부평구', '인천서구', '인천연수구', '인천옹진군', '인천중구',
       '전남강진군', '전남고흥군', '전남곡성군', '전남광양시', '전남구례군', '전남나주시', '전남담양군',
       '전남목포시', '전남무안군', '전남보성군', '전남순천시', '전남신안군', '전남여수시', '전남영광군',
       '전남영암군', '전남완도군', '전남장성군', '전남장흥군', '전남진도군', '전남함평군', '전남해남군',
       '전남화순군', '전북고창군', '전북군산시', '전북김제시', '전북남원시', '전북무주군', '전북부안군',
       '전북순창군', '전북완주군', '전북익산시', '전북임실군', '전북장수군', '전북전주덕진구', '전북전주완산구',
       '전북정읍시', '전북진안군', '서귀포시', '제주시', '충남계룡시', '충남공주시', '충남금산군',
       '충남논산시', '충남당진시', '충남보령시', '충남부여군', '충남서산시', '충남서천군', '충남아산시',
       '충남예산군', '충남천안동남구', '충남천안서북구', '충남청양군', '충남태안군', '충남홍성군', '충북괴산군',
       '충북단양군', '충북보은군', '충북영동군', '충북옥천군', '충북음성군', '충북제천시', '충북증평군',
       '충북진천군', '충북청주상당구', '충북청주서원구', '충북청주청원구', '충북청주흥덕구', '충북충주시'],
      dtype=object)

In [702]:
norder = ['시도','시군구', '년도', '우울증환자수', '1인당 정신건강예산(원)', '공공시설개수']
result = result[norder]
result

        시도      시군구    년도  우울증환자수  1인당 정신건강예산(원)  공공시설개수
0      강원도    강원강릉시  2018    4360           7147     163
1      강원도    강원고성군  2018       0           7147      59
2      강원도    강원동해시  2018    1337           7147      11
3      강원도    강원삼척시  2018    1059           7147      49
4      강원도    강원속초시  2018    1459           7147      92
...    ...      ...   ...     ...            ...     ...
1245  충청북도  충북청주상당구  2022    7205          11335      89
1246  충청북도  충북청주서원구  2022    4694          11335      89
1247  충청북도  충북청주청원구  2022    4188          11335     104
1248  충청북도  충북청주흥덕구  2022    5430          11335     152
1249  충청북도    충북충주시  2022    3921          11335     121

[1250 rows x 6 columns]

In [694]:
result

        년도    시도    시군구  우울증환자수  1인당 정신건강예산(원)  공공시설개수
0     2018   강원도  강원강릉시    4360           7147     163
1     2019   강원도  강원강릉시    4853           8050     173
2     2020   강원도  강원강릉시    5179           7769     178
3     2021   강원도  강원강릉시    5587           9946     176
4     2022   강원도  강원강릉시    5900          12063     175
...    ...   ...    ...     ...            ...     ...
1245  2018  충청북도  충북충주시    3117           6051     119
1246  2019  충청북도  충북충주시    3573           7021     123
1247  2020  충청북도  충북충주시    3867           7693     123
1248  2021  충청북도  충북충주시    3598           8927     122
1249  2022  충청북도  충북충주시    3921          11335     121

[1250 rows x 6 columns]

### 코로나확진자수 데이터 전처리

In [509]:
covid = pd.read_csv(r'C:\Users\soobin\coding_excuse\질병관리청_코로나19 시군구별 월별 확진자 및 사망 발생 현황_20230831.csv')
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 50 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   시도명          269 non-null    object
 1   시군구          269 non-null    object
 2   2020년        270 non-null    object
 3   Unnamed: 3   270 non-null    object
 4   Unnamed: 4   270 non-null    object
 5   Unnamed: 5   270 non-null    object
 6   Unnamed: 6   270 non-null    object
 7   Unnamed: 7   270 non-null    object
 8   Unnamed: 8   270 non-null    object
 9   Unnamed: 9   270 non-null    object
 10  Unnamed: 10  270 non-null    object
 11  Unnamed: 11  270 non-null    object
 12  Unnamed: 12  270 non-null    object
 13  Unnamed: 13  270 non-null    object
 14  Unnamed: 14  270 non-null    object
 15  2021년        270 non-null    object
 16  Unnamed: 16  270 non-null    object
 17  Unnamed: 17  270 non-null    object
 18  Unnamed: 18  270 non-null    object
 19  Unnamed: 19  270 non-null    object
 20  Unnamed: 20  270 non-null    object
 21  Unnamed: 21  270 non-null    object
 22  Unnamed: 22  270 non-null    object
 23  Unnamed: 23  270 non-null    object
 24  Unnamed: 24  270 non-null    object
 25  Unnamed: 25  270 non-null    object
 26  Unnamed: 26  270 non-null    object
 27  Unnamed: 27  270 non-null    object
 28  2022년        270 non-null    object
 29  Unnamed: 29  270 non-null    object
 30  Unnamed: 30  270 non-null    object
 31  Unnamed: 31  270 non-null    object
 32  Unnamed: 32  270 non-null    object
 33  Unnamed: 33  270 non-null    object
 34  Unnamed: 34  270 non-null    object
 35  Unnamed: 35  270 non-null    object
 36  Unnamed: 36  270 non-null    object
 37  Unnamed: 37  270 non-null    object
 38  Unnamed: 38  270 non-null    object
 39  Unnamed: 39  270 non-null    object
 40  Unnamed: 40  270 non-null    object
 41  2023년        270 non-null    object
 42  Unnamed: 42  270 non-null    object
 43  Unnamed: 43  270 non-null    object
 44  Unnamed: 44  270 non-null    object
 45  Unnamed: 45  270 non-null    object
 46  Unnamed: 46  270 non-null    object
 47  Unnamed: 47  270 non-null    object
 48  Unnamed: 48  270 non-null    object
 49  Unnamed: 49  270 non-null    object
dtypes: object(50)
memory usage: 105.6+ KB

In [577]:
covid1 = covid.copy()
covid1 = covid1.iloc[:, [0,1,2,15,28]]
covid1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도명     269 non-null    object
 1   시군구     269 non-null    object
 2   2020년   270 non-null    object
 3   2021년   270 non-null    object
 4   2022년   270 non-null    object
dtypes: object(5)
memory usage: 10.7+ KB

In [578]:
covid1

     시도명   시군구     2020년      2021년        2022년
0    NaN   NaN        전체         전체           전체
1     서울    합계   18,992    206,110    5,436,498
2     서울   강남구    1,112     13,692      370,766
3     서울   강동구      613      8,973      260,837
4     서울   강북구      394      6,425      154,069
..   ...   ...       ...        ...          ...
265   경남   합천군       20        104       15,704
266   제주    합계      416      4,222      361,316
267   제주  서귀포시       70        943       89,872
268   제주   제주시      346      3,279      271,444
269   검역    합계    2,441      4,313        9,954

[270 rows x 5 columns]

In [579]:
covid1 = covid1[covid1['시군구'] != '합계']
covid1

     시도명   시군구    2020년     2021년      2022년
0    NaN   NaN       전체        전체         전체
2     서울   강남구   1,112    13,692    370,766
3     서울   강동구     613     8,973    260,837
4     서울   강북구     394     6,425    154,069
5     서울   강서구   1,341     9,483    313,326
..   ...   ...      ...       ...        ...
263   경남   함안군       6       583     26,424
264   경남   함양군       7       158     15,896
265   경남   합천군      20       104     15,704
267   제주  서귀포시      70       943     89,872
268   제주   제주시     346     3,279    271,444

[252 rows x 5 columns]

In [580]:
covid1[covid1['2020년'] =='전체']

   시도명  시군구 2020년 2021년 2022년
0  NaN  NaN    전체    전체    전체

In [581]:
covid1 = covid1[covid1['2020년'] != '전체']
covid1

    시도명   시군구    2020년     2021년      2022년
2    서울   강남구   1,112    13,692    370,766
3    서울   강동구     613     8,973    260,837
4    서울   강북구     394     6,425    154,069
5    서울   강서구   1,341     9,483    313,326
6    서울   관악구     975     9,559    252,078
..   ..   ...      ...       ...        ...
263  경남   함안군       6       583     26,424
264  경남   함양군       7       158     15,896
265  경남   합천군      20       104     15,704
267  제주  서귀포시      70       943     89,872
268  제주   제주시     346     3,279    271,444

[251 rows x 5 columns]

In [582]:
covid1.rename(columns={'시도명': '시도'}, inplace=True)
covid1 = covid1.sort_values(by=['시도','시군구'], ascending=True).reset_index(drop=True)
covid1

C:\Users\soobin\AppData\Local\Temp\ipykernel_25856\2126745297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid1.rename(columns={'시도명': '시도'}, inplace=True)

     시도      시군구  2020년    2021년      2022년
0    강원      강릉시   117    1,568    115,513
1    강원      고성군     2      225     13,759
2    강원      동해시   133      663     47,787
3    강원      삼척시     7      185     28,749
4    강원      속초시    55    1,080     45,886
..   ..      ...    ...      ...        ...
246  충북  청주시 상당구    95    1,082    119,361
247  충북  청주시 서원구   154    1,399    115,280
248  충북  청주시 청원구    76      907    113,752
249  충북  청주시 흥덕구    98    1,389    151,830
250  충북      충주시    84    1,517    117,838

[251 rows x 5 columns]

In [583]:
covid2020 = covid1.iloc[:,[0,1,2]]
covid2021 = covid1.iloc[:,[0,1,3]]
covid2022 = covid1.iloc[:,[0,1,4]]
covid2020.rename(columns={'2020년': '코로나확진자수'}, inplace=True)
covid2021.rename(columns={'2021년': '코로나확진자수'}, inplace=True)
covid2022.rename(columns={'2022년': '코로나확진자수'}, inplace=True)

C:\Users\soobin\AppData\Local\Temp\ipykernel_25856\131981592.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid2020.rename(columns={'2020년': '코로나확진자수'}, inplace=True)
C:\Users\soobin\AppData\Local\Temp\ipykernel_25856\131981592.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid2021.rename(columns={'2021년': '코로나확진자수'}, inplace=True)
C:\Users\soobin\AppData\Local\Temp\ipykernel_25856\131981592.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid2022.rename(columns={'2022년': '코로나확진자수'}, inplace=True)

In [584]:
covid2020

     시도      시군구 코로나확진자수
0    강원      강릉시    117
1    강원      고성군      2
2    강원      동해시    133
3    강원      삼척시      7
4    강원      속초시     55
..   ..      ...     ...
246  충북  청주시 상당구     95
247  충북  청주시 서원구    154
248  충북  청주시 청원구     76
249  충북  청주시 흥덕구     98
250  충북      충주시     84

[251 rows x 3 columns]

In [654]:
covid2 = pd.concat([covid2020, covid2021, covid2022], axis = 0)
covid2

     시도      시군구    코로나확진자수
0    강원      강릉시       117
1    강원      고성군         2
2    강원      동해시       133
3    강원      삼척시         7
4    강원      속초시        55
..   ..      ...        ...
246  충북  청주시 상당구   119,361
247  충북  청주시 서원구   115,280
248  충북  청주시 청원구   113,752
249  충북  청주시 흥덕구   151,830
250  충북      충주시   117,838

[753 rows x 3 columns]

In [655]:
covid2['시도'].unique()

array(['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산',
       '인천', '전남', '전북', '제주', '충남', '충북'], dtype=object)

In [656]:
covid2['시도'] = covid2['시도'].replace({'강원': '강원도', '경기': '경기도', '경남': '경상남도', '경북': '경상북도', '광주': '광주광역시', 
                             '대구': '대구광역시', '대전': '대전광역시', '부산': '부산광역시', '서울': '서울특별시', 
                             '세종': '세종특별자치시', '울산': '울산광역시', '인천': '인천광역시','전남': '전라남도', 
                             '전북': '전라북도', '제주': '제주특별자치도', '충남': '충청남도', '충북' : '충청북도'})

In [657]:
covid2['시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [658]:
covid2[covid2['시도'] == '강원도']['시군구'].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군'],
      dtype=object)

In [659]:
covid2.loc[covid2['시도'] == '강원도', '시군구'] = '강원' + covid2.loc[covid2['시도'] == '강원도', '시군구']
print(len(covid2[covid2['시도'] == '강원도']['시군구'].unique()))
covid2[covid2['시도'] == '강원도']['시군구'].unique()

18

array(['강원강릉시', '강원고성군', '강원동해시', '강원삼척시', '강원속초시', '강원양구군', '강원양양군',
       '강원영월군', '강원원주시', '강원인제군', '강원정선군', '강원철원군', '강원춘천시', '강원태백시',
       '강원평창군', '강원홍천군', '강원화천군', '강원횡성군'], dtype=object)

In [660]:
covid2[covid2['시도'] == '경기도']['시군구'].unique()
covid2.loc[covid2['시도'] == '경기도', '시군구'] = '경기' + covid2.loc[covid2['시도'] == '경기도', '시군구']
print(len(covid2[covid2['시도'] == '경기도']['시군구'].unique()))
covid2[covid2['시도'] == '경기도']['시군구'].unique()

42

array(['경기가평군', '경기고양시 덕양구', '경기고양시 일산동구', '경기고양시 일산서구', '경기과천시', '경기광명시',
       '경기광주시', '경기구리시', '경기군포시', '경기김포시', '경기남양주시', '경기동두천시', '경기부천시',
       '경기성남시 분당구', '경기성남시 수정구', '경기성남시 중원구', '경기수원시 권선구', '경기수원시 영통구',
       '경기수원시 장안구', '경기수원시 팔달구', '경기시흥시', '경기안산시 단원구', '경기안산시 상록구',
       '경기안성시', '경기안양시 동안구', '경기안양시 만안구', '경기양주시', '경기양평군', '경기여주시',
       '경기연천군', '경기오산시', '경기용인시 기흥구', '경기용인시 수지구', '경기용인시 처인구', '경기의왕시',
       '경기의정부시', '경기이천시', '경기파주시', '경기평택시', '경기포천시', '경기하남시', '경기화성시'],
      dtype=object)

In [661]:
covid2.loc[covid2['시도'] == '경기도', '시군구'] = covid2.loc[covid2['시도'] == '경기도', '시군구'].str.replace('시 ', '')
print(len(covid2[covid2['시도'] == '경기도']['시군구'].unique()))
covid2[covid2['시도'] == '경기도']['시군구'].unique()

42

array(['경기가평군', '경기고양덕양구', '경기고양일산동구', '경기고양일산서구', '경기과천시', '경기광명시',
       '경기광주시', '경기구리시', '경기군포시', '경기김포시', '경기남양주시', '경기동두천시', '경기부천시',
       '경기성남분당구', '경기성남수정구', '경기성남중원구', '경기수원권선구', '경기수원영통구', '경기수원장안구',
       '경기수원팔달구', '경기시흥시', '경기안산단원구', '경기안산상록구', '경기안성시', '경기안양동안구',
       '경기안양만안구', '경기양주시', '경기양평군', '경기여주시', '경기연천군', '경기오산시', '경기용인기흥구',
       '경기용인수지구', '경기용인처인구', '경기의왕시', '경기의정부시', '경기이천시', '경기파주시', '경기평택시',
       '경기포천시', '경기하남시', '경기화성시'], dtype=object)

In [662]:
covid2[covid2['시도'] == '경상남도']['시군구'].unique()
covid2.loc[covid2['시도'] == '경상남도', '시군구'] = '경남' + covid2.loc[covid2['시도'] == '경상남도', '시군구']
print(len(covid2[covid2['시도'] == '경상남도']['시군구'].unique()))
covid2[covid2['시도'] == '경상남도']['시군구'].unique()

22

array(['경남거제시', '경남거창군', '경남고성군', '경남김해시', '경남남해군', '경남밀양시', '경남사천시',
       '경남산청군', '경남양산시', '경남의령군', '경남진주시', '경남창녕군', '경남창원시 마산합포구',
       '경남창원시 마산회원구', '경남창원시 성산구', '경남창원시 의창구', '경남창원시 진해구', '경남통영시',
       '경남하동군', '경남함안군', '경남함양군', '경남합천군'], dtype=object)

In [663]:
covid2.loc[covid2['시도'] == '경상남도', '시군구'] = covid2.loc[covid2['시도'] == '경상남도', '시군구'].str.replace('시 ', '')
print(len(covid2[covid2['시도'] == '경상남도']['시군구'].unique()))
covid2[covid2['시도'] == '경상남도']['시군구'].unique()

22

array(['경남거제시', '경남거창군', '경남고성군', '경남김해시', '경남남해군', '경남밀양시', '경남사천시',
       '경남산청군', '경남양산시', '경남의령군', '경남진주시', '경남창녕군', '경남창원마산합포구',
       '경남창원마산회원구', '경남창원성산구', '경남창원의창구', '경남창원진해구', '경남통영시', '경남하동군',
       '경남함안군', '경남함양군', '경남합천군'], dtype=object)

In [664]:
covid2[covid2['시도'] == '경상북도']['시군구'].unique()
covid2.loc[covid2['시도'] == '경상북도', '시군구'] = '경북' + covid2.loc[covid2['시도'] == '경상북도', '시군구']
print(len(covid2[covid2['시도'] == '경상북도']['시군구'].unique()))
covid2[covid2['시도'] == '경상북도']['시군구'].unique()

24

array(['경북경산시', '경북경주시', '경북고령군', '경북구미시', '경북군위군', '경북김천시', '경북문경시',
       '경북봉화군', '경북상주시', '경북성주군', '경북안동시', '경북영덕군', '경북영양군', '경북영주시',
       '경북영천시', '경북예천군', '경북울릉군', '경북울진군', '경북의성군', '경북청도군', '경북청송군',
       '경북칠곡군', '경북포항시 남구', '경북포항시 북구'], dtype=object)

In [665]:
covid2.loc[covid2['시도'] == '경상북도', '시군구'] = covid2.loc[covid2['시도'] == '경상북도', '시군구'].str.replace('시 ', '')
print(len(covid2[covid2['시도'] == '경상북도']['시군구'].unique()))
covid2[covid2['시도'] == '경상북도']['시군구'].unique()

24

array(['경북경산시', '경북경주시', '경북고령군', '경북구미시', '경북군위군', '경북김천시', '경북문경시',
       '경북봉화군', '경북상주시', '경북성주군', '경북안동시', '경북영덕군', '경북영양군', '경북영주시',
       '경북영천시', '경북예천군', '경북울릉군', '경북울진군', '경북의성군', '경북청도군', '경북청송군',
       '경북칠곡군', '경북포항남구', '경북포항북구'], dtype=object)

In [666]:
covid2[covid2['시도'] == '광주광역시']['시군구'].unique()
covid2.loc[covid2['시도'] == '광주광역시', '시군구'] = '광주' + covid2.loc[covid2['시도'] == '광주광역시', '시군구']
print(len(covid2[covid2['시도'] == '광주광역시']['시군구'].unique()))
covid2[covid2['시도'] == '광주광역시']['시군구'].unique()

5

array(['광주광산구', '광주남구', '광주동구', '광주북구', '광주서구'], dtype=object)

In [667]:
covid2[covid2['시도'] == '대구광역시']['시군구'].unique()
covid2.loc[covid2['시도'] == '대구광역시', '시군구'] = '대구' + covid2.loc[covid2['시도'] == '대구광역시', '시군구']
print(len(covid2[covid2['시도'] == '대구광역시']['시군구'].unique()))
covid2[covid2['시도'] == '대구광역시']['시군구'].unique()

9

array(['대구군위군', '대구남구', '대구달서구', '대구달성군', '대구동구', '대구북구', '대구서구', '대구수성구',
       '대구중구'], dtype=object)

In [668]:
covid2[covid2['시군구'] == '대구군위군']

        시도    시군구 코로나확진자수
111  대구광역시  대구군위군      -
111  대구광역시  대구군위군      -
111  대구광역시  대구군위군      -

In [669]:
covid2 = covid2[covid2['시군구'] != '대구군위군']

In [670]:
covid2[covid2['시도'] == '대구광역시']['시군구'].unique()

array(['대구남구', '대구달서구', '대구달성군', '대구동구', '대구북구', '대구서구', '대구수성구', '대구중구'],
      dtype=object)

In [671]:
covid2[covid2['시도'] == '대전광역시']['시군구'].unique()
covid2.loc[covid2['시도'] == '대전광역시', '시군구'] = '대전' + covid2.loc[covid2['시도'] == '대전광역시', '시군구']
print(len(covid2[covid2['시도'] == '대전광역시']['시군구'].unique()))
covid2[covid2['시도'] == '대전광역시']['시군구'].unique()

5

array(['대전대덕구', '대전동구', '대전서구', '대전유성구', '대전중구'], dtype=object)

In [672]:
covid2[covid2['시도'] == '부산광역시']['시군구'].unique()
covid2.loc[covid2['시도'] == '부산광역시', '시군구'] = '부산' + covid2.loc[covid2['시도'] == '부산광역시', '시군구']
print(len(covid2[covid2['시도'] == '부산광역시']['시군구'].unique()))
covid2[covid2['시도'] == '부산광역시']['시군구'].unique()

16

array(['부산강서구', '부산금정구', '부산기장군', '부산남구', '부산동구', '부산동래구', '부산부산진구',
       '부산북구', '부산사상구', '부산사하구', '부산서구', '부산수영구', '부산연제구', '부산영도구',
       '부산중구', '부산해운대구'], dtype=object)

In [673]:
covid2.loc[(covid2['시도'] == '부산광역시') & (covid2['시군구'] == '부산부산진구'), '시군구'] = '부산진구'
covid2[covid2['시도'] == '부산광역시']['시군구'].unique()

array(['부산강서구', '부산금정구', '부산기장군', '부산남구', '부산동구', '부산동래구', '부산진구', '부산북구',
       '부산사상구', '부산사하구', '부산서구', '부산수영구', '부산연제구', '부산영도구', '부산중구',
       '부산해운대구'], dtype=object)

In [674]:
covid2[covid2['시도'] == '서울특별시']['시군구'].unique()
covid2.loc[covid2['시도'] == '서울특별시', '시군구'] = '서울' + covid2.loc[covid2['시도'] == '서울특별시', '시군구']
print(len(covid2[covid2['시도'] == '서울특별시']['시군구'].unique()))
covid2[covid2['시도'] == '서울특별시']['시군구'].unique()

25

array(['서울강남구', '서울강동구', '서울강북구', '서울강서구', '서울관악구', '서울광진구', '서울구로구',
       '서울금천구', '서울노원구', '서울도봉구', '서울동대문구', '서울동작구', '서울마포구', '서울서대문구',
       '서울서초구', '서울성동구', '서울성북구', '서울송파구', '서울양천구', '서울영등포구', '서울용산구',
       '서울은평구', '서울종로구', '서울중구', '서울중랑구'], dtype=object)

In [675]:
covid2.loc[covid2['시도'] == '세종특별자치시', '시군구'] = covid2.loc[covid2['시도'] == '세종특별자치시', '시군구'] + '시'
covid2[covid2['시도'] == '세종특별자치시']['시군구'].unique()

array(['세종시'], dtype=object)

In [676]:
covid2[covid2['시도'] == '울산광역시']['시군구'].unique()
covid2.loc[covid2['시도'] == '울산광역시', '시군구'] = '울산' + covid2.loc[covid2['시도'] == '울산광역시', '시군구']
print(len(covid2[covid2['시도'] == '울산광역시']['시군구'].unique()))
covid2[covid2['시도'] == '울산광역시']['시군구'].unique()

5

array(['울산남구', '울산동구', '울산북구', '울산울주군', '울산중구'], dtype=object)

In [677]:
covid2.loc[covid2['시도'] == '인천광역시', '시군구'] = '인천' + covid2.loc[covid2['시도'] == '인천광역시', '시군구']
print(len(covid2[covid2['시도'] == '인천광역시']['시군구'].unique()))
covid2[covid2['시도'] == '인천광역시']['시군구'].unique()

10

array(['인천강화군', '인천계양구', '인천남동구', '인천동구', '인천미추홀구', '인천부평구', '인천서구',
       '인천연수구', '인천옹진군', '인천중구'], dtype=object)

In [678]:
covid2.loc[covid2['시도'] == '전라남도', '시군구'] = '전남' + covid2.loc[covid2['시도'] == '전라남도', '시군구']
print(len(covid2[covid2['시도'] == '전라남도']['시군구'].unique()))
covid2[covid2['시도'] == '전라남도']['시군구'].unique()

22

array(['전남강진군', '전남고흥군', '전남곡성군', '전남광양시', '전남구례군', '전남나주시', '전남담양군',
       '전남목포시', '전남무안군', '전남보성군', '전남순천시', '전남신안군', '전남여수시', '전남영광군',
       '전남영암군', '전남완도군', '전남장성군', '전남장흥군', '전남진도군', '전남함평군', '전남해남군',
       '전남화순군'], dtype=object)

In [679]:
covid2.loc[covid2['시도'] == '전라북도', '시군구'] = '전북' + covid2.loc[covid2['시도'] == '전라북도', '시군구']
print(len(covid2[covid2['시도'] == '전라북도']['시군구'].unique()))
covid2[covid2['시도'] == '전라북도']['시군구'].unique()

15

array(['전북고창군', '전북군산시', '전북김제시', '전북남원시', '전북무주군', '전북부안군', '전북순창군',
       '전북완주군', '전북익산시', '전북임실군', '전북장수군', '전북전주시 덕진구', '전북전주시 완산구',
       '전북정읍시', '전북진안군'], dtype=object)

In [680]:
covid2.loc[covid2['시도'] == '전라북도', '시군구'] = covid2.loc[covid2['시도'] == '전라북도', '시군구'].str.replace('시 ', '')
print(len(covid2[covid2['시도'] == '전라북도']['시군구'].unique()))
covid2[covid2['시도'] == '전라북도']['시군구'].unique()

15

array(['전북고창군', '전북군산시', '전북김제시', '전북남원시', '전북무주군', '전북부안군', '전북순창군',
       '전북완주군', '전북익산시', '전북임실군', '전북장수군', '전북전주덕진구', '전북전주완산구', '전북정읍시',
       '전북진안군'], dtype=object)

In [681]:
covid2.loc[covid2['시도'] == '제주특별자치도', '시군구'] = '제주' + covid2.loc[covid2['시도'] == '제주특별자치도', '시군구']
print(len(covid2[covid2['시도'] == '제주특별자치도']['시군구'].unique()))
covid2[covid2['시도'] == '제주특별자치도']['시군구'].unique()

2

array(['제주서귀포시', '제주제주시'], dtype=object)

In [682]:
covid2.loc[covid2['시도'] == '충청남도', '시군구'] = '충남' + covid2.loc[covid2['시도'] == '충청남도', '시군구']
print(len(covid2[covid2['시도'] == '충청남도']['시군구'].unique()))
covid2[covid2['시도'] == '충청남도']['시군구'].unique()

16

array(['충남계룡시', '충남공주시', '충남금산군', '충남논산시', '충남당진시', '충남보령시', '충남부여군',
       '충남서산시', '충남서천군', '충남아산시', '충남예산군', '충남천안시 동남구', '충남천안시 서북구',
       '충남청양군', '충남태안군', '충남홍성군'], dtype=object)

In [683]:
covid2.loc[covid2['시도'] == '충청남도', '시군구'] = covid2.loc[covid2['시도'] == '충청남도', '시군구'].str.replace('시 ', '')
print(len(covid2[covid2['시도'] == '충청남도']['시군구'].unique()))
covid2[covid2['시도'] == '충청남도']['시군구'].unique()

16

array(['충남계룡시', '충남공주시', '충남금산군', '충남논산시', '충남당진시', '충남보령시', '충남부여군',
       '충남서산시', '충남서천군', '충남아산시', '충남예산군', '충남천안동남구', '충남천안서북구', '충남청양군',
       '충남태안군', '충남홍성군'], dtype=object)

In [684]:
covid2.loc[covid2['시도'] == '충청북도', '시군구'] = '충북' + covid2.loc[covid2['시도'] == '충청북도', '시군구']
print(len(covid2[covid2['시도'] == '충청북도']['시군구'].unique()))
covid2[covid2['시도'] == '충청북도']['시군구'].unique()

14

array(['충북괴산군', '충북단양군', '충북보은군', '충북영동군', '충북옥천군', '충북음성군', '충북제천시',
       '충북증평군', '충북진천군', '충북청주시 상당구', '충북청주시 서원구', '충북청주시 청원구',
       '충북청주시 흥덕구', '충북충주시'], dtype=object)

In [685]:
covid2.loc[covid2['시도'] == '충청북도', '시군구'] = covid2.loc[covid2['시도'] == '충청북도', '시군구'].str.replace('시 ', '')
print(len(covid2[covid2['시도'] == '충청북도']['시군구'].unique()))
covid2[covid2['시도'] == '충청북도']['시군구'].unique()

14

array(['충북괴산군', '충북단양군', '충북보은군', '충북영동군', '충북옥천군', '충북음성군', '충북제천시',
       '충북증평군', '충북진천군', '충북청주상당구', '충북청주서원구', '충북청주청원구', '충북청주흥덕구',
       '충북충주시'], dtype=object)

In [686]:
covid2

       시도      시군구    코로나확진자수
0     강원도    강원강릉시       117
1     강원도    강원고성군         2
2     강원도    강원동해시       133
3     강원도    강원삼척시         7
4     강원도    강원속초시        55
..    ...      ...        ...
246  충청북도  충북청주상당구   119,361
247  충청북도  충북청주서원구   115,280
248  충청북도  충북청주청원구   113,752
249  충청북도  충북청주흥덕구   151,830
250  충청북도    충북충주시   117,838

[750 rows x 3 columns]

In [687]:
covid2 = covid2.reset_index(drop=True)
covid2['년도'] = 0
covid2.loc[:249, '년도'] = 2020
covid2.loc[250:499, '년도'] = 2021
covid2.loc[500:, '년도'] = 2022
covid2

       시도      시군구    코로나확진자수    년도
0     강원도    강원강릉시       117   2020
1     강원도    강원고성군         2   2020
2     강원도    강원동해시       133   2020
3     강원도    강원삼척시         7   2020
4     강원도    강원속초시        55   2020
..    ...      ...        ...   ...
745  충청북도  충북청주상당구   119,361   2022
746  충청북도  충북청주서원구   115,280   2022
747  충청북도  충북청주청원구   113,752   2022
748  충청북도  충북청주흥덕구   151,830   2022
749  충청북도    충북충주시   117,838   2022

[750 rows x 4 columns]

In [688]:
covid2018 = covid2.copy()
covid2018 = covid2018.loc[0:499]
covid2018.loc[0:250, '년도'] = 2018
covid2018.loc[250:500, '년도'] = 2019
covid2018['코로나확진자수'] = 0
covid2018

       시도      시군구  코로나확진자수    년도
0     강원도    강원강릉시        0  2018
1     강원도    강원고성군        0  2018
2     강원도    강원동해시        0  2018
3     강원도    강원삼척시        0  2018
4     강원도    강원속초시        0  2018
..    ...      ...      ...   ...
495  충청북도  충북청주상당구        0  2019
496  충청북도  충북청주서원구        0  2019
497  충청북도  충북청주청원구        0  2019
498  충청북도  충북청주흥덕구        0  2019
499  충청북도    충북충주시        0  2019

[500 rows x 4 columns]

In [689]:
covid_result = pd.concat([covid2, covid2018], axis = 0)
covid_result

       시도      시군구 코로나확진자수    년도
0     강원도    강원강릉시    117   2020
1     강원도    강원고성군      2   2020
2     강원도    강원동해시    133   2020
3     강원도    강원삼척시      7   2020
4     강원도    강원속초시     55   2020
..    ...      ...     ...   ...
495  충청북도  충북청주상당구       0  2019
496  충청북도  충북청주서원구       0  2019
497  충청북도  충북청주청원구       0  2019
498  충청북도  충북청주흥덕구       0  2019
499  충청북도    충북충주시       0  2019

[1250 rows x 4 columns]

In [704]:
covid_result = covid_result.sort_values(by=['년도','시도', '시군구'], ascending=True).reset_index(drop=True)
neorder = ['시도', '시군구', '년도', '코로나확진자수']
covid_result = covid_result[neorder]
covid_result

        시도      시군구    년도    코로나확진자수
0      강원도    강원강릉시  2018          0
1      강원도    강원고성군  2018          0
2      강원도    강원동해시  2018          0
3      강원도    강원삼척시  2018          0
4      강원도    강원속초시  2018          0
...    ...      ...   ...        ...
1245  충청북도  충북청주상당구  2022   119,361
1246  충청북도  충북청주서원구  2022   115,280
1247  충청북도  충북청주청원구  2022   113,752
1248  충청북도  충북청주흥덕구  2022   151,830
1249  충청북도    충북충주시  2022   117,838

[1250 rows x 4 columns]

In [703]:
result

        시도      시군구    년도  우울증환자수  1인당 정신건강예산(원)  공공시설개수
0      강원도    강원강릉시  2018    4360           7147     163
1      강원도    강원고성군  2018       0           7147      59
2      강원도    강원동해시  2018    1337           7147      11
3      강원도    강원삼척시  2018    1059           7147      49
4      강원도    강원속초시  2018    1459           7147      92
...    ...      ...   ...     ...            ...     ...
1245  충청북도  충북청주상당구  2022    7205          11335      89
1246  충청북도  충북청주서원구  2022    4694          11335      89
1247  충청북도  충북청주청원구  2022    4188          11335     104
1248  충청북도  충북청주흥덕구  2022    5430          11335     152
1249  충청북도    충북충주시  2022    3921          11335     121

[1250 rows x 6 columns]

In [705]:
result_013491011 = result.merge(covid_result, how='left', on=['시도', '시군구', '년도'])
result_013491011

        시도      시군구    년도  우울증환자수  1인당 정신건강예산(원)  공공시설개수    코로나확진자수
0      강원도    강원강릉시  2018    4360           7147     163          0
1      강원도    강원고성군  2018       0           7147      59          0
2      강원도    강원동해시  2018    1337           7147      11          0
3      강원도    강원삼척시  2018    1059           7147      49          0
4      강원도    강원속초시  2018    1459           7147      92          0
...    ...      ...   ...     ...            ...     ...        ...
1245  충청북도  충북청주상당구  2022    7205          11335      89   119,361
1246  충청북도  충북청주서원구  2022    4694          11335      89   115,280
1247  충청북도  충북청주청원구  2022    4188          11335     104   113,752
1248  충청북도  충북청주흥덕구  2022    5430          11335     152   151,830
1249  충청북도    충북충주시  2022    3921          11335     121   117,838

[1250 rows x 7 columns]

In [707]:
number = pd.read_csv(r'C:\Users\soobin\coding_excuse\지자체구분(최종).csv')
number

        시군구        행정번호
0     서울종로구  1111000000
1      서울중구  1114000000
2     서울용산구  1117000000
3     서울성동구  1120000000
4     서울광진구  1121500000
..      ...         ...
245   경남함양군  4887000000
246   경남거창군  4888000000
247   경남합천군  4889000000
248   제주제주시  5011000000
249  제주서귀포시  5013000000

[250 rows x 2 columns]

In [708]:
number = number.sort_values(by=['시군구'], ascending=True).reset_index(drop=True)
number

         시군구        행정번호
0      강원강릉시  4215000000
1      강원고성군  4282000000
2      강원동해시  4217000000
3      강원삼척시  4223000000
4      강원속초시  4221000000
..       ...         ...
245  충북청주상당구  4311100000
246  충북청주서원구  4311200000
247  충북청주청원구  4311400000
248  충북청주흥덕구  4311300000
249    충북충주시  4313000000

[250 rows x 2 columns]

In [722]:
numbers = number.copy()
numbers = pd.concat([numbers] * 5, ignore_index=True)
numbers = numbers['행정번호']
numbers

0       4215000000
1       4282000000
2       4217000000
3       4223000000
4       4221000000
           ...
1245    4311100000
1246    4311200000
1247    4311400000
1248    4311300000
1249    4313000000
Name: 행정번호, Length: 1250, dtype: int64

In [723]:
result_0123491011 = pd.concat([result_013491011, numbers], axis = 1)
result_0123491011

,시도,시군구,년도,우울증환자수,1인당 정신건강예산(원),공공시설개수,코로나확진자수,행정번호
0,강원도,강원강릉시,2018,4360,7147,163,0,4215000000
1,강원도,강원고성군,2018,0,7147,59,0,4282000000
2,강원도,강원동해시,2018,1337,7147,11,0,4217000000
3,강원도,강원삼척시,2018,1059,7147,49,0,4223000000
4,강원도,강원속초시,2018,1459,7147,92,0,4221000000
...,...,...,...,...,...,...,...,...
1245,충청북도,충북청주상당구,2022,7205,11335,89,"119,361",4311100000
1246,충청북도,충북청주서원구,2022,4694,11335,89,"115,280",4311200000
1247,충청북도,충북청주청원구,2022,4188,11335,104,"113,752",4311400000
1248,충청북도,충북청주흥덕구,2022,5430,11335,152,"151,830",4311300000
1249,충청북도,충북충주시,2022,3921,11335,121,"117,838",4313000000

In [724]:
len(result_0123491011['행정번호'].unique())

250

In [725]:
neworder_r = ['시도', '시군구', '행정번호', '년도', '우울증환자수', '코로나확진자수', '1인당 정신건강예산(원)', '공공시설개수']
result_0123491011 = result_0123491011[neworder_r]
result_0123491011

,시도,시군구,행정번호,년도,우울증환자수,코로나확진자수,1인당 정신건강예산(원),공공시설개수
0,강원도,강원강릉시,4215000000,2018,4360,0,7147,163
1,강원도,강원고성군,4282000000,2018,0,0,7147,59
2,강원도,강원동해시,4217000000,2018,1337,0,7147,11
3,강원도,강원삼척시,4223000000,2018,1059,0,7147,49
4,강원도,강원속초시,4221000000,2018,1459,0,7147,92
...,...,...,...,...,...,...,...,...
1245,충청북도,충북청주상당구,4311100000,2022,7205,"119,361",11335,89
1246,충청북도,충북청주서원구,4311200000,2022,4694,"115,280",11335,89
1247,충청북도,충북청주청원구,4311400000,2022,4188,"113,752",11335,104
1248,충청북도,충북청주흥덕구,4311300000,2022,5430,"151,830",11335,152
1249,충청북도,충북충주시,4313000000,2022,3921,"117,838",11335,121

In [728]:
result_0123491011.to_csv(r'C:\Users\soobin\coding_excuse\soobin\0_Data\result_0123491011.csv',index=False, encoding='utf-8-sig')
result_0123491011.to_csv(r'C:\Users\soobin\coding_excuse\result_0123491011.csv',index=False, encoding='utf-8-sig')