## **자치구별 전체 인구수**

### **필요한 라이브러리 Import**

In [465]:
import pandas as pd
import numpy as np
from functools import reduce

In [466]:
import os
print(os.getcwd())

C:\Users\Gong\Desktop\project2

### **데이터 확인하기**

In [1021]:
pop_2018 = pd.read_csv('raw_data/201812_201812_주민등록인구및세대현황_연간.csv', encoding='CP949')
pop_2019 = pd.read_csv('raw_data/201912_201912_주민등록인구및세대현황_연간.csv', encoding='CP949')
pop_2020 = pd.read_csv('raw_data/202012_202012_주민등록인구및세대현황_연간.csv', encoding='CP949')
pop_2021 = pd.read_csv('raw_data/202112_202112_주민등록인구및세대현황_연간.csv', encoding='CP949')
pop_2022 = pd.read_csv('raw_data/202212_202212_주민등록인구및세대현황_연간.csv', encoding='CP949')

In [1022]:
pop_2018.head()

,행정구역,2018년_총인구수,2018년_세대수,2018년_세대당 인구,2018년_남자 인구수,2018년_여자 인구수,2018년_남여 비율
0,서울특별시 (1100000000),"9,765,623","4,263,868",2.29,"4,773,899","4,991,724",0.96
1,서울특별시 종로구 (1111000000),"153,065","73,735",2.08,"74,825","78,240",0.96
2,서울특별시 중구 (1114000000),"125,725","61,502",2.04,"61,947","63,778",0.97
3,서울특별시 용산구 (1117000000),"228,999","108,974",2.10,"110,640","118,359",0.93
4,서울특별시 성동구 (1120000000),"308,221","137,209",2.25,"151,359","156,862",0.96

#### **행정구역, 20xx_총인구수 컬럼만 추출**

In [1023]:
pop_2018 = pop_2018[['행정구역', '2018년_총인구수']]
pop_2018.head()

                     행정구역 2018년_총인구수
0     서울특별시  (1100000000)  9,765,623
1  서울특별시 종로구 (1111000000)    153,065
2   서울특별시 중구 (1114000000)    125,725
3  서울특별시 용산구 (1117000000)    228,999
4  서울특별시 성동구 (1120000000)    308,221

In [1024]:
pop_2019 = pop_2019[['행정구역', '2019년_총인구수']]
pop_2019.head()

                     행정구역 2019년_총인구수
0     서울특별시  (1100000000)  9,729,107
1  서울특별시 종로구 (1111000000)    151,290
2   서울특별시 중구 (1114000000)    126,171
3  서울특별시 용산구 (1117000000)    228,670
4  서울특별시 성동구 (1120000000)    300,889

In [1025]:
pop_2020 = pop_2020[['행정구역', '2020년_총인구수']]
pop_2020.head()

                     행정구역 2020년_총인구수
0     서울특별시  (1100000000)  9,668,465
1  서울특별시 종로구 (1111000000)    149,384
2   서울특별시 중구 (1114000000)    125,240
3  서울특별시 용산구 (1117000000)    230,040
4  서울특별시 성동구 (1120000000)    293,556

In [1026]:
pop_2021 = pop_2021[['행정구역', '2021년_총인구수']]
pop_2021.head()

                     행정구역 2021년_총인구수
0     서울특별시  (1100000000)  9,509,458
1  서울특별시 종로구 (1111000000)    144,683
2   서울특별시 중구 (1114000000)    122,499
3  서울특별시 용산구 (1117000000)    222,953
4  서울특별시 성동구 (1120000000)    285,990

In [1027]:
pop_2022 = pop_2022[['행정구역', '2022년_총인구수']]
pop_2022.head()

                     행정구역 2022년_총인구수
0     서울특별시  (1100000000)  9,428,372
1  서울특별시 종로구 (1111000000)    141,379
2   서울특별시 중구 (1114000000)    120,437
3  서울특별시 용산구 (1117000000)    218,650
4  서울특별시 성동구 (1120000000)    281,000

#### **데이터 정보 확인**

In [1028]:
pop_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2018년_총인구수  278 non-null    object
dtypes: object(2)
memory usage: 4.5+ KB

In [1029]:
pop_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2019년_총인구수  278 non-null    object
dtypes: object(2)
memory usage: 4.5+ KB

In [1030]:
pop_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        291 non-null    object
 1   2020년_총인구수  291 non-null    object
dtypes: object(2)
memory usage: 4.7+ KB

In [1031]:
pop_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        291 non-null    object
 1   2021년_총인구수  291 non-null    object
dtypes: object(2)
memory usage: 4.7+ KB

In [1032]:
pop_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        291 non-null    object
 1   2022년_총인구수  291 non-null    object
dtypes: object(2)
memory usage: 4.7+ KB

#### **컬럼 불일치 확인**

In [1033]:
# 행정구역 컬럼의 고유값 추출
unique_2019 = set(pop_2019['행정구역'].unique())
unique_2020 = set(pop_2020['행정구역'].unique())

# 2020년 데이터에만 있는 행정구역
pop_2020_2019 = unique_2020 - unique_2019

# 결과 출력
print("2020년 데이터에만 있는 행정구역:", pop_2020_2019)

2020년 데이터에만 있는 행정구역: {'경상남도 양산시웅상출장소 (4833200000)', '인천광역시 서구검단출장소 (2826500000)', '경기도 화성시동부출장소 (4159200000)', '인천광역시 중구영종출장소 (2811400000)', '경기도 송탄출장소 (4122200000)', '경상남도 사천남양출장소 (4824500000)', '전라북도 전주시효자출장소 (4511800000)', '경기도 화성시동탄출장소 (4159400000)', '경기도 안중출장소 (4122400000)', '경상남도 장유출장소 (4825200000)', '경기도 풍양출장소 (4136200000)', '인천광역시 중구용유출장소 (2811800000)', '전라북도 익산시함열출장소 (4514500000)'}

In [1034]:
# 2020년 데이터에만 있는 행정구역을 리스트로 변환
plus_regions = list(pop_2020_2019)

# pop_2020에서 다른 행정구역 확인
check_data = pop_2020[pop_2020['행정구역'].isin(plus_regions)]

# 결과 출력
check_data

                           행정구역 2020년_총인구수
54   인천광역시 중구영종출장소 (2811400000)          0
55   인천광역시 중구용유출장소 (2811800000)          0
63   인천광역시 서구검단출장소 (2826500000)          0
103      경기도 송탄출장소 (4122200000)          0
104      경기도 안중출장소 (4122400000)          0
116      경기도 풍양출장소 (4136200000)          0
131   경기도 화성시동부출장소 (4159200000)          0
132   경기도 화성시동탄출장소 (4159400000)          0
197  전라북도 전주시효자출장소 (4511800000)          0
200  전라북도 익산시함열출장소 (4514500000)          0
271   경상남도 사천남양출장소 (4824500000)          0
273     경상남도 장유출장소 (4825200000)          0
277  경상남도 양산시웅상출장소 (4833200000)          0

In [1035]:
# 0 값을 NaN으로 대체
pop_2020.replace('0', np.nan, inplace=True)

# NaN 값을 포함하는 행 제거
pop_2020.dropna(inplace=True)

# 결과 확인
pop_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2020년_총인구수  278 non-null    object
dtypes: object(2)
memory usage: 6.5+ KB

In [1036]:
# pop_2021에서 다른 행정구역 확인
check_data = pop_2021[pop_2021['행정구역'].isin(plus_regions)]

# 결과 출력
check_data

                           행정구역 2021년_총인구수
54   인천광역시 중구영종출장소 (2811400000)          0
55   인천광역시 중구용유출장소 (2811800000)          0
63   인천광역시 서구검단출장소 (2826500000)          0
103      경기도 송탄출장소 (4122200000)          0
104      경기도 안중출장소 (4122400000)          0
116      경기도 풍양출장소 (4136200000)          0
131   경기도 화성시동부출장소 (4159200000)          0
132   경기도 화성시동탄출장소 (4159400000)          0
197  전라북도 전주시효자출장소 (4511800000)          0
200  전라북도 익산시함열출장소 (4514500000)          0
271   경상남도 사천남양출장소 (4824500000)          0
273     경상남도 장유출장소 (4825200000)          0
277  경상남도 양산시웅상출장소 (4833200000)          0

In [1037]:
# 0 값을 NaN으로 대체
pop_2021.replace('0', np.nan, inplace=True)

# NaN 값을 포함하는 행 제거
pop_2021.dropna(inplace=True)

# 결과 확인
pop_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2021년_총인구수  278 non-null    object
dtypes: object(2)
memory usage: 6.5+ KB

In [1038]:
# pop_2022에서 다른 행정구역 확인
check_data = pop_2022[pop_2022['행정구역'].isin(plus_regions)]

# 결과 출력
check_data

                           행정구역 2022년_총인구수
54   인천광역시 중구영종출장소 (2811400000)          0
55   인천광역시 중구용유출장소 (2811800000)          0
63   인천광역시 서구검단출장소 (2826500000)          0
103      경기도 송탄출장소 (4122200000)          0
104      경기도 안중출장소 (4122400000)          0
116      경기도 풍양출장소 (4136200000)          0
131   경기도 화성시동부출장소 (4159200000)          0
132   경기도 화성시동탄출장소 (4159400000)          0
197  전라북도 전주시효자출장소 (4511800000)          0
200  전라북도 익산시함열출장소 (4514500000)          0
271   경상남도 사천남양출장소 (4824500000)          0
273     경상남도 장유출장소 (4825200000)          0
277  경상남도 양산시웅상출장소 (4833200000)          0

In [1039]:
# 0 값을 NaN으로 대체
pop_2022.replace('0', np.nan, inplace=True)

# NaN 값을 포함하는 행 제거
pop_2022.dropna(inplace=True)
pop_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2022년_총인구수  278 non-null    object
dtypes: object(2)
memory usage: 6.5+ KB

#### **행정구역을 기준으로 2018 ~ 2022 데이터 join**

In [1040]:
pop_list = [pop_2018, pop_2019, pop_2020, pop_2021, pop_2022]
new_pop = reduce(lambda x, y : pd.merge(x, y, on='행정구역'), pop_list)
new_pop

,행정구역,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수
0,서울특별시 (1100000000),"9,765,623","9,729,107","9,668,465","9,509,458","9,428,372"
1,서울특별시 종로구 (1111000000),"153,065","151,290","149,384","144,683","141,379"
2,서울특별시 중구 (1114000000),"125,725","126,171","125,240","122,499","120,437"
3,서울특별시 용산구 (1117000000),"228,999","228,670","230,040","222,953","218,650"
4,서울특별시 성동구 (1120000000),"308,221","300,889","293,556","285,990","281,000"
...,...,...,...,...,...,...
273,경상남도 거창군 (4888000000),"62,455","62,179","61,502","61,073","60,387"
274,경상남도 합천군 (4889000000),"45,916","45,204","44,006","42,935","42,142"
275,제주특별자치도 (5000000000),"667,191","670,989","674,635","676,759","678,159"
276,제주특별자치도 제주시 (5011000000),"485,946","489,405","492,466","493,096","493,389"
277,제주특별자치도 서귀포시 (5013000000),"181,245","181,584","182,169","183,663","184,770"

In [1041]:
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2018년_총인구수  278 non-null    object
 2   2019년_총인구수  278 non-null    object
 3   2020년_총인구수  278 non-null    object
 4   2021년_총인구수  278 non-null    object
 5   2022년_총인구수  278 non-null    object
dtypes: object(6)
memory usage: 15.2+ KB

In [1042]:
# '행정구역' 컬럼을 제외한 모든 컬럼 쉼표 제거 후 숫자형으로 변환
for col in new_pop.columns:
    if col != '행정구역':
        new_pop[col] = new_pop[col].str.replace(',', '').astype(int)

new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2018년_총인구수  278 non-null    int32
 2   2019년_총인구수  278 non-null    int32
 3   2020년_총인구수  278 non-null    int32
 4   2021년_총인구수  278 non-null    int32
 5   2022년_총인구수  278 non-null    int32
dtypes: int32(5), object(1)
memory usage: 9.8+ KB

In [1043]:
# '행정구역' 컬럼 분리(정규표현식)
new_pop[['행정명', '행정코드']] = new_pop['행정구역'].str.extract(r'^(.*?)\s*\((\d+)\)$')
new_pop[['행정명', '행정코드']]

              행정명        행정코드
0           서울특별시  1100000000
1       서울특별시 종로구  1111000000
2        서울특별시 중구  1114000000
3       서울특별시 용산구  1117000000
4       서울특별시 성동구  1120000000
..            ...         ...
273      경상남도 거창군  4888000000
274      경상남도 합천군  4889000000
275       제주특별자치도  5000000000
276   제주특별자치도 제주시  5011000000
277  제주특별자치도 서귀포시  5013000000

[278 rows x 2 columns]

In [1044]:
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2018년_총인구수  278 non-null    int32
 2   2019년_총인구수  278 non-null    int32
 3   2020년_총인구수  278 non-null    int32
 4   2021년_총인구수  278 non-null    int32
 5   2022년_총인구수  278 non-null    int32
 6   행정명         278 non-null    object
 7   행정코드        278 non-null    object
dtypes: int32(5), object(3)
memory usage: 14.1+ KB

In [1045]:
new_pop = new_pop[['행정명', '행정코드', '2018년_총인구수', '2019년_총인구수', '2020년_총인구수', '2021년_총인구수', '2022년_총인구수']]
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정명         278 non-null    object
 1   행정코드        278 non-null    object
 2   2018년_총인구수  278 non-null    int32
 3   2019년_총인구수  278 non-null    int32
 4   2020년_총인구수  278 non-null    int32
 5   2021년_총인구수  278 non-null    int32
 6   2022년_총인구수  278 non-null    int32
dtypes: int32(5), object(2)
memory usage: 11.9+ KB

In [1046]:
new_pop.head()

,행정명,행정코드,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수
0,서울특별시,1100000000,9765623,9729107,9668465,9509458,9428372
1,서울특별시 종로구,1111000000,153065,151290,149384,144683,141379
2,서울특별시 중구,1114000000,125725,126171,125240,122499,120437
3,서울특별시 용산구,1117000000,228999,228670,230040,222953,218650
4,서울특별시 성동구,1120000000,308221,300889,293556,285990,281000

In [1047]:
# Initialize new columns
new_pop['도'] = None
new_pop['시'] = None
new_pop['군/구'] = None

# Function to assign values to new columns based on the last character
def assign_region(row):
    parts = row['행정명'].split()
    for part in parts:
        if part.endswith('도'):
            row['도'] = part
        elif part.endswith('시'):
            row['시'] = part
        elif part.endswith('군') or part.endswith('구'):
            row['군/구'] = part
    return row

new_pop = new_pop.apply(assign_region, axis=1)
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정명         278 non-null    object
 1   행정코드        278 non-null    object
 2   2018년_총인구수  278 non-null    int64
 3   2019년_총인구수  278 non-null    int64
 4   2020년_총인구수  278 non-null    int64
 5   2021년_총인구수  278 non-null    int64
 6   2022년_총인구수  278 non-null    int64
 7   도           195 non-null    object
 8   시           192 non-null    object
 9   군/구         183 non-null    object
dtypes: int64(5), object(5)
memory usage: 23.9+ KB

In [1048]:
new_pop

,행정명,행정코드,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수,도,시,군/구
0,서울특별시,1100000000,9765623,9729107,9668465,9509458,9428372,None,서울특별시,None
1,서울특별시 종로구,1111000000,153065,151290,149384,144683,141379,None,서울특별시,종로구
2,서울특별시 중구,1114000000,125725,126171,125240,122499,120437,None,서울특별시,중구
3,서울특별시 용산구,1117000000,228999,228670,230040,222953,218650,None,서울특별시,용산구
4,서울특별시 성동구,1120000000,308221,300889,293556,285990,281000,None,서울특별시,성동구
...,...,...,...,...,...,...,...,...,...,...
273,경상남도 거창군,4888000000,62455,62179,61502,61073,60387,경상남도,None,거창군
274,경상남도 합천군,4889000000,45916,45204,44006,42935,42142,경상남도,None,합천군
275,제주특별자치도,5000000000,667191,670989,674635,676759,678159,제주특별자치도,None,None
276,제주특별자치도 제주시,5011000000,485946,489405,492466,493096,493389,제주특별자치도,제주시,None
277,제주특별자치도 서귀포시,5013000000,181245,181584,182169,183663,184770,제주특별자치도,서귀포시,None

In [1049]:
new_pop = new_pop[['도', '시', '군/구', '행정코드','2018년_총인구수','2019년_총인구수', '2020년_총인구수', '2021년_총인구수', '2022년_총인구수']]
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   도           195 non-null    object
 1   시           192 non-null    object
 2   군/구         183 non-null    object
 3   행정코드        278 non-null    object
 4   2018년_총인구수  278 non-null    int64
 5   2019년_총인구수  278 non-null    int64
 6   2020년_총인구수  278 non-null    int64
 7   2021년_총인구수  278 non-null    int64
 8   2022년_총인구수  278 non-null    int64
dtypes: int64(5), object(4)
memory usage: 21.7+ KB

In [1050]:
# 세종특별자치시는 두 컬럼이 똑같은 행정명이므로 중복되는 첫번째 컬럼 삭제 
new_pop = new_pop[new_pop['행정코드'] != '3600000000']
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 277 entries, 0 to 277
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   도           195 non-null    object
 1   시           191 non-null    object
 2   군/구         183 non-null    object
 3   행정코드        277 non-null    object
 4   2018년_총인구수  277 non-null    int64
 5   2019년_총인구수  277 non-null    int64
 6   2020년_총인구수  277 non-null    int64
 7   2021년_총인구수  277 non-null    int64
 8   2022년_총인구수  277 non-null    int64
dtypes: int64(5), object(4)
memory usage: 21.6+ KB

In [1051]:
# 도단위
new_pop['도'].unique()

array([None, '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도',
       '제주특별자치도'], dtype=object)

In [1052]:
do = ['경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도']
new_pop = new_pop[~((new_pop['도'].isin(do)) & (new_pop['시'].isnull()) & (new_pop['군/구'].isnull()))]
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268 entries, 0 to 277
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   도           186 non-null    object
 1   시           191 non-null    object
 2   군/구         183 non-null    object
 3   행정코드        268 non-null    object
 4   2018년_총인구수  268 non-null    int64
 5   2019년_총인구수  268 non-null    int64
 6   2020년_총인구수  268 non-null    int64
 7   2021년_총인구수  268 non-null    int64
 8   2022년_총인구수  268 non-null    int64
dtypes: int64(5), object(4)
memory usage: 20.9+ KB

In [1053]:
new_pop

,도,시,군/구,행정코드,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수
0,None,서울특별시,None,1100000000,9765623,9729107,9668465,9509458,9428372
1,None,서울특별시,종로구,1111000000,153065,151290,149384,144683,141379
2,None,서울특별시,중구,1114000000,125725,126171,125240,122499,120437
3,None,서울특별시,용산구,1117000000,228999,228670,230040,222953,218650
4,None,서울특별시,성동구,1120000000,308221,300889,293556,285990,281000
...,...,...,...,...,...,...,...,...,...
272,경상남도,None,함양군,4887000000,40044,39637,39080,38310,37708
273,경상남도,None,거창군,4888000000,62455,62179,61502,61073,60387
274,경상남도,None,합천군,4889000000,45916,45204,44006,42935,42142
276,제주특별자치도,제주시,None,5011000000,485946,489405,492466,493096,493389
277,제주특별자치도,서귀포시,None,5013000000,181245,181584,182169,183663,184770

In [1054]:
si = ['서울특별시','부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
       '울산광역시','수원시', '성남시', '안양시', '안산시', '고양시', '용인시', '청주시', 
      '천안시', '전주시', '포항시', '창원시']

In [1055]:
len(si)

18

In [1056]:
# 'si' 리스트와 정확히 일치하는 값 &'군/구' 컬럼은 null값 삭제
new_pop = new_pop[~((new_pop['시'].isin(si)) &  (new_pop['군/구'].isnull()))]
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 1 to 277
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   도           175 non-null    object
 1   시           173 non-null    object
 2   군/구         183 non-null    object
 3   행정코드        250 non-null    object
 4   2018년_총인구수  250 non-null    int64
 5   2019년_총인구수  250 non-null    int64
 6   2020년_총인구수  250 non-null    int64
 7   2021년_총인구수  250 non-null    int64
 8   2022년_총인구수  250 non-null    int64
dtypes: int64(5), object(4)
memory usage: 19.5+ KB

### **마지막 행에 총인구수 합이 일치한지 확인하기 위한 총 합계 데이터 추가**

In [1059]:
# 5개 컬럼의 합계를 계산
sum_row = new_pop[["2018년_총인구수", "2019년_총인구수", "2020년_총인구수", "2021년_총인구수", "2022년_총인구수"]].sum()

# 계산된 합계를 데이터프레임의 마지막 행으로 추가
new_pop = new_pop.append(sum_row, ignore_index=True)
new_pop.tail(1)

C:\Users\Gong\AppData\Local\Temp\ipykernel_9092\4256305120.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_pop = new_pop.append(sum_row, ignore_index=True)

,도,시,군/구,행정코드,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수
250,NaN,NaN,NaN,NaN,51826059,51849861,51829023,51638809,51439038

In [1060]:
# new_pop 데이터프레임 저장
new_pop.to_csv('tot_pop.csv', encoding='CP949', index=False)