## **자치구별 전체 인구수**

### **필요한 라이브러리 Import**

In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
import os
print(os.getcwd())

C:\Users\Gong\Desktop\project2

### **데이터 확인하기**

In [340]:
pop_2018 = pd.read_csv('raw_data/201812_201812_주민등록인구및세대현황_연간.csv', encoding='CP949')
pop_2019 = pd.read_csv('raw_data/201912_201912_주민등록인구및세대현황_연간.csv', encoding='CP949')
pop_2020 = pd.read_csv('raw_data/202012_202012_주민등록인구및세대현황_연간.csv', encoding='CP949')
pop_2021 = pd.read_csv('raw_data/202112_202112_주민등록인구및세대현황_연간.csv', encoding='CP949')
pop_2022 = pd.read_csv('raw_data/202212_202212_주민등록인구및세대현황_연간.csv', encoding='CP949')

In [341]:
pop_2018.head()

,행정구역,2018년_총인구수,2018년_세대수,2018년_세대당 인구,2018년_남자 인구수,2018년_여자 인구수,2018년_남여 비율
0,서울특별시 (1100000000),"9,765,623","4,263,868",2.29,"4,773,899","4,991,724",0.96
1,서울특별시 종로구 (1111000000),"153,065","73,735",2.08,"74,825","78,240",0.96
2,서울특별시 중구 (1114000000),"125,725","61,502",2.04,"61,947","63,778",0.97
3,서울특별시 용산구 (1117000000),"228,999","108,974",2.10,"110,640","118,359",0.93
4,서울특별시 성동구 (1120000000),"308,221","137,209",2.25,"151,359","156,862",0.96

#### **행정구역, 20xx_총인구수 컬럼만 추출**

In [342]:
pop_2018 = pop_2018[['행정구역', '2018년_총인구수']]
pop_2018.head()

                     행정구역 2018년_총인구수
0     서울특별시  (1100000000)  9,765,623
1  서울특별시 종로구 (1111000000)    153,065
2   서울특별시 중구 (1114000000)    125,725
3  서울특별시 용산구 (1117000000)    228,999
4  서울특별시 성동구 (1120000000)    308,221

In [343]:
pop_2019 = pop_2019[['행정구역', '2019년_총인구수']]
pop_2019.head()

                     행정구역 2019년_총인구수
0     서울특별시  (1100000000)  9,729,107
1  서울특별시 종로구 (1111000000)    151,290
2   서울특별시 중구 (1114000000)    126,171
3  서울특별시 용산구 (1117000000)    228,670
4  서울특별시 성동구 (1120000000)    300,889

In [344]:
pop_2020 = pop_2020[['행정구역', '2020년_총인구수']]
pop_2020.head()

                     행정구역 2020년_총인구수
0     서울특별시  (1100000000)  9,668,465
1  서울특별시 종로구 (1111000000)    149,384
2   서울특별시 중구 (1114000000)    125,240
3  서울특별시 용산구 (1117000000)    230,040
4  서울특별시 성동구 (1120000000)    293,556

In [345]:
pop_2021 = pop_2021[['행정구역', '2021년_총인구수']]
pop_2021.head()

                     행정구역 2021년_총인구수
0     서울특별시  (1100000000)  9,509,458
1  서울특별시 종로구 (1111000000)    144,683
2   서울특별시 중구 (1114000000)    122,499
3  서울특별시 용산구 (1117000000)    222,953
4  서울특별시 성동구 (1120000000)    285,990

In [346]:
pop_2022 = pop_2022[['행정구역', '2022년_총인구수']]
pop_2022.head()

                     행정구역 2022년_총인구수
0     서울특별시  (1100000000)  9,428,372
1  서울특별시 종로구 (1111000000)    141,379
2   서울특별시 중구 (1114000000)    120,437
3  서울특별시 용산구 (1117000000)    218,650
4  서울특별시 성동구 (1120000000)    281,000

#### **데이터 정보 확인**

In [347]:
pop_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2018년_총인구수  278 non-null    object
dtypes: object(2)
memory usage: 4.5+ KB

In [348]:
pop_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2019년_총인구수  278 non-null    object
dtypes: object(2)
memory usage: 4.5+ KB

In [349]:
pop_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        291 non-null    object
 1   2020년_총인구수  291 non-null    object
dtypes: object(2)
memory usage: 4.7+ KB

In [350]:
pop_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        291 non-null    object
 1   2021년_총인구수  291 non-null    object
dtypes: object(2)
memory usage: 4.7+ KB

In [351]:
pop_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        291 non-null    object
 1   2022년_총인구수  291 non-null    object
dtypes: object(2)
memory usage: 4.7+ KB

#### **컬럼 불일치 확인**

In [352]:
# 행정구역 컬럼의 고유값 추출
unique_2019 = set(pop_2019['행정구역'].unique())
unique_2020 = set(pop_2020['행정구역'].unique())

# 2020년 데이터에만 있는 행정구역
pop_2020_2019 = unique_2020 - unique_2019

# 결과 출력
print("2020년 데이터에만 있는 행정구역:", pop_2020_2019)

2020년 데이터에만 있는 행정구역: {'전라북도 익산시함열출장소 (4514500000)', '경기도 송탄출장소 (4122200000)', '경기도 화성시동부출장소 (4159200000)', '경기도 안중출장소 (4122400000)', '경기도 풍양출장소 (4136200000)', '경상남도 양산시웅상출장소 (4833200000)', '경기도 화성시동탄출장소 (4159400000)', '인천광역시 서구검단출장소 (2826500000)', '경상남도 장유출장소 (4825200000)', '인천광역시 중구용유출장소 (2811800000)', '인천광역시 중구영종출장소 (2811400000)', '경상남도 사천남양출장소 (4824500000)', '전라북도 전주시효자출장소 (4511800000)'}

In [353]:
# 2020년 데이터에만 있는 행정구역을 리스트로 변환
plus_regions = list(pop_2020_2019)

# pop_2020에서 다른 행정구역 확인
check_data = pop_2020[pop_2020['행정구역'].isin(plus_regions)]

# 결과 출력
check_data

                           행정구역 2020년_총인구수
54   인천광역시 중구영종출장소 (2811400000)          0
55   인천광역시 중구용유출장소 (2811800000)          0
63   인천광역시 서구검단출장소 (2826500000)          0
103      경기도 송탄출장소 (4122200000)          0
104      경기도 안중출장소 (4122400000)          0
116      경기도 풍양출장소 (4136200000)          0
131   경기도 화성시동부출장소 (4159200000)          0
132   경기도 화성시동탄출장소 (4159400000)          0
197  전라북도 전주시효자출장소 (4511800000)          0
200  전라북도 익산시함열출장소 (4514500000)          0
271   경상남도 사천남양출장소 (4824500000)          0
273     경상남도 장유출장소 (4825200000)          0
277  경상남도 양산시웅상출장소 (4833200000)          0

In [354]:
# 0 값을 NaN으로 대체
pop_2020.replace('0', np.nan, inplace=True)

# NaN 값을 포함하는 행 제거
pop_2020.dropna(inplace=True)

# 결과 확인
pop_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2020년_총인구수  278 non-null    object
dtypes: object(2)
memory usage: 6.5+ KB

In [355]:
# pop_2021에서 다른 행정구역 확인
check_data = pop_2021[pop_2021['행정구역'].isin(plus_regions)]

# 결과 출력
check_data

                           행정구역 2021년_총인구수
54   인천광역시 중구영종출장소 (2811400000)          0
55   인천광역시 중구용유출장소 (2811800000)          0
63   인천광역시 서구검단출장소 (2826500000)          0
103      경기도 송탄출장소 (4122200000)          0
104      경기도 안중출장소 (4122400000)          0
116      경기도 풍양출장소 (4136200000)          0
131   경기도 화성시동부출장소 (4159200000)          0
132   경기도 화성시동탄출장소 (4159400000)          0
197  전라북도 전주시효자출장소 (4511800000)          0
200  전라북도 익산시함열출장소 (4514500000)          0
271   경상남도 사천남양출장소 (4824500000)          0
273     경상남도 장유출장소 (4825200000)          0
277  경상남도 양산시웅상출장소 (4833200000)          0

In [356]:
# 0 값을 NaN으로 대체
pop_2021.replace('0', np.nan, inplace=True)

# NaN 값을 포함하는 행 제거
pop_2021.dropna(inplace=True)

# 결과 확인
pop_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2021년_총인구수  278 non-null    object
dtypes: object(2)
memory usage: 6.5+ KB

In [357]:
# pop_2022에서 다른 행정구역 확인
check_data = pop_2022[pop_2022['행정구역'].isin(plus_regions)]

# 결과 출력
check_data

                           행정구역 2022년_총인구수
54   인천광역시 중구영종출장소 (2811400000)          0
55   인천광역시 중구용유출장소 (2811800000)          0
63   인천광역시 서구검단출장소 (2826500000)          0
103      경기도 송탄출장소 (4122200000)          0
104      경기도 안중출장소 (4122400000)          0
116      경기도 풍양출장소 (4136200000)          0
131   경기도 화성시동부출장소 (4159200000)          0
132   경기도 화성시동탄출장소 (4159400000)          0
197  전라북도 전주시효자출장소 (4511800000)          0
200  전라북도 익산시함열출장소 (4514500000)          0
271   경상남도 사천남양출장소 (4824500000)          0
273     경상남도 장유출장소 (4825200000)          0
277  경상남도 양산시웅상출장소 (4833200000)          0

In [358]:
# 0 값을 NaN으로 대체
pop_2022.replace('0', np.nan, inplace=True)

# NaN 값을 포함하는 행 제거
pop_2022.dropna(inplace=True)
pop_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 290
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2022년_총인구수  278 non-null    object
dtypes: object(2)
memory usage: 6.5+ KB

#### **행정구역을 기준으로 2018 ~ 2022 데이터 join**

In [359]:
pop_list = [pop_2018, pop_2019, pop_2020, pop_2021, pop_2022]
new_pop = reduce(lambda x, y : pd.merge(x, y, on='행정구역'), pop_list)
new_pop

,행정구역,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수
0,서울특별시 (1100000000),"9,765,623","9,729,107","9,668,465","9,509,458","9,428,372"
1,서울특별시 종로구 (1111000000),"153,065","151,290","149,384","144,683","141,379"
2,서울특별시 중구 (1114000000),"125,725","126,171","125,240","122,499","120,437"
3,서울특별시 용산구 (1117000000),"228,999","228,670","230,040","222,953","218,650"
4,서울특별시 성동구 (1120000000),"308,221","300,889","293,556","285,990","281,000"
...,...,...,...,...,...,...
273,경상남도 거창군 (4888000000),"62,455","62,179","61,502","61,073","60,387"
274,경상남도 합천군 (4889000000),"45,916","45,204","44,006","42,935","42,142"
275,제주특별자치도 (5000000000),"667,191","670,989","674,635","676,759","678,159"
276,제주특별자치도 제주시 (5011000000),"485,946","489,405","492,466","493,096","493,389"
277,제주특별자치도 서귀포시 (5013000000),"181,245","181,584","182,169","183,663","184,770"

In [360]:
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2018년_총인구수  278 non-null    object
 2   2019년_총인구수  278 non-null    object
 3   2020년_총인구수  278 non-null    object
 4   2021년_총인구수  278 non-null    object
 5   2022년_총인구수  278 non-null    object
dtypes: object(6)
memory usage: 15.2+ KB

In [361]:
# '행정구역' 컬럼을 제외한 모든 컬럼 쉼표 제거 후 숫자형으로 변환
for col in new_pop.columns:
    if col != '행정구역':
        new_pop[col] = new_pop[col].str.replace(',', '').astype(int)

new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2018년_총인구수  278 non-null    int32
 2   2019년_총인구수  278 non-null    int32
 3   2020년_총인구수  278 non-null    int32
 4   2021년_총인구수  278 non-null    int32
 5   2022년_총인구수  278 non-null    int32
dtypes: int32(5), object(1)
memory usage: 9.8+ KB

In [362]:
# '행정구역' 컬럼 분리(정규표현식)
new_pop[['행정명', '행정코드']] = new_pop['행정구역'].str.extract(r'^(.*?)\s*\((\d+)\)$')
new_pop[['행정명', '행정코드']]

              행정명        행정코드
0           서울특별시  1100000000
1       서울특별시 종로구  1111000000
2        서울특별시 중구  1114000000
3       서울특별시 용산구  1117000000
4       서울특별시 성동구  1120000000
..            ...         ...
273      경상남도 거창군  4888000000
274      경상남도 합천군  4889000000
275       제주특별자치도  5000000000
276   제주특별자치도 제주시  5011000000
277  제주특별자치도 서귀포시  5013000000

[278 rows x 2 columns]

In [363]:
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역        278 non-null    object
 1   2018년_총인구수  278 non-null    int32
 2   2019년_총인구수  278 non-null    int32
 3   2020년_총인구수  278 non-null    int32
 4   2021년_총인구수  278 non-null    int32
 5   2022년_총인구수  278 non-null    int32
 6   행정명         278 non-null    object
 7   행정코드        278 non-null    object
dtypes: int32(5), object(3)
memory usage: 14.1+ KB

In [364]:
new_pop = new_pop[['행정명', '행정코드', '2018년_총인구수', '2019년_총인구수', '2020년_총인구수', '2021년_총인구수', '2022년_총인구수']]
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정명         278 non-null    object
 1   행정코드        278 non-null    object
 2   2018년_총인구수  278 non-null    int32
 3   2019년_총인구수  278 non-null    int32
 4   2020년_총인구수  278 non-null    int32
 5   2021년_총인구수  278 non-null    int32
 6   2022년_총인구수  278 non-null    int32
dtypes: int32(5), object(2)
memory usage: 11.9+ KB

In [365]:
new_pop.head()

,행정명,행정코드,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수
0,서울특별시,1100000000,9765623,9729107,9668465,9509458,9428372
1,서울특별시 종로구,1111000000,153065,151290,149384,144683,141379
2,서울특별시 중구,1114000000,125725,126171,125240,122499,120437
3,서울특별시 용산구,1117000000,228999,228670,230040,222953,218650
4,서울특별시 성동구,1120000000,308221,300889,293556,285990,281000

In [366]:
# 초기화 
new_pop['도'] = None
new_pop['시'] = None
new_pop['군/구'] = None

# 행정명에서 도, 시, 군/구로 파생변수 생성
def assign_region(row):
    parts = row['행정명'].split()
    for part in parts:
        if part.endswith('도'):
            row['도'] = part
        elif part.endswith('시'):
            row['시'] = part
        elif part.endswith('군') or part.endswith('구'):
            row['군/구'] = part
    return row

new_pop = new_pop.apply(assign_region, axis=1)
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정명         278 non-null    object
 1   행정코드        278 non-null    object
 2   2018년_총인구수  278 non-null    int64
 3   2019년_총인구수  278 non-null    int64
 4   2020년_총인구수  278 non-null    int64
 5   2021년_총인구수  278 non-null    int64
 6   2022년_총인구수  278 non-null    int64
 7   도           195 non-null    object
 8   시           192 non-null    object
 9   군/구         183 non-null    object
dtypes: int64(5), object(5)
memory usage: 23.9+ KB

In [367]:
new_pop

,행정명,행정코드,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수,도,시,군/구
0,서울특별시,1100000000,9765623,9729107,9668465,9509458,9428372,None,서울특별시,None
1,서울특별시 종로구,1111000000,153065,151290,149384,144683,141379,None,서울특별시,종로구
2,서울특별시 중구,1114000000,125725,126171,125240,122499,120437,None,서울특별시,중구
3,서울특별시 용산구,1117000000,228999,228670,230040,222953,218650,None,서울특별시,용산구
4,서울특별시 성동구,1120000000,308221,300889,293556,285990,281000,None,서울특별시,성동구
...,...,...,...,...,...,...,...,...,...,...
273,경상남도 거창군,4888000000,62455,62179,61502,61073,60387,경상남도,None,거창군
274,경상남도 합천군,4889000000,45916,45204,44006,42935,42142,경상남도,None,합천군
275,제주특별자치도,5000000000,667191,670989,674635,676759,678159,제주특별자치도,None,None
276,제주특별자치도 제주시,5011000000,485946,489405,492466,493096,493389,제주특별자치도,제주시,None
277,제주특별자치도 서귀포시,5013000000,181245,181584,182169,183663,184770,제주특별자치도,서귀포시,None

In [368]:
new_pop = new_pop[['행정명','도', '시', '군/구', '행정코드','2018년_총인구수','2019년_총인구수', '2020년_총인구수', '2021년_총인구수', '2022년_총인구수']]
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 0 to 277
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정명         278 non-null    object
 1   도           195 non-null    object
 2   시           192 non-null    object
 3   군/구         183 non-null    object
 4   행정코드        278 non-null    object
 5   2018년_총인구수  278 non-null    int64
 6   2019년_총인구수  278 non-null    int64
 7   2020년_총인구수  278 non-null    int64
 8   2021년_총인구수  278 non-null    int64
 9   2022년_총인구수  278 non-null    int64
dtypes: int64(5), object(5)
memory usage: 23.9+ KB

In [369]:
# 세종특별자치시는 두 컬럼이 똑같은 행정명이므로 중복되는 첫번째 컬럼 삭제 
new_pop = new_pop[new_pop['행정코드'] != '3600000000']
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 277 entries, 0 to 277
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정명         277 non-null    object
 1   도           195 non-null    object
 2   시           191 non-null    object
 3   군/구         183 non-null    object
 4   행정코드        277 non-null    object
 5   2018년_총인구수  277 non-null    int64
 6   2019년_총인구수  277 non-null    int64
 7   2020년_총인구수  277 non-null    int64
 8   2021년_총인구수  277 non-null    int64
 9   2022년_총인구수  277 non-null    int64
dtypes: int64(5), object(5)
memory usage: 23.8+ KB

In [370]:
# 도단위
new_pop['도'].unique()

array([None, '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도',
       '제주특별자치도'], dtype=object)

In [371]:
do = ['경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도']
new_pop = new_pop[~((new_pop['도'].isin(do)) & (new_pop['시'].isnull()) & (new_pop['군/구'].isnull()))]
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268 entries, 0 to 277
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정명         268 non-null    object
 1   도           186 non-null    object
 2   시           191 non-null    object
 3   군/구         183 non-null    object
 4   행정코드        268 non-null    object
 5   2018년_총인구수  268 non-null    int64
 6   2019년_총인구수  268 non-null    int64
 7   2020년_총인구수  268 non-null    int64
 8   2021년_총인구수  268 non-null    int64
 9   2022년_총인구수  268 non-null    int64
dtypes: int64(5), object(5)
memory usage: 23.0+ KB

In [372]:
new_pop.head()

,행정명,도,시,군/구,행정코드,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수
0,서울특별시,None,서울특별시,None,1100000000,9765623,9729107,9668465,9509458,9428372
1,서울특별시 종로구,None,서울특별시,종로구,1111000000,153065,151290,149384,144683,141379
2,서울특별시 중구,None,서울특별시,중구,1114000000,125725,126171,125240,122499,120437
3,서울특별시 용산구,None,서울특별시,용산구,1117000000,228999,228670,230040,222953,218650
4,서울특별시 성동구,None,서울특별시,성동구,1120000000,308221,300889,293556,285990,281000

In [373]:
new_pop['시'].unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '수원시', '성남시', '의정부시', '안양시', '부천시', '광명시', '평택시',
       '동두천시', '안산시', '고양시', '과천시', '구리시', '남양주시', '오산시', '시흥시', '군포시',
       '의왕시', '하남시', '용인시', '파주시', '이천시', '안성시', '김포시', '화성시', '광주시',
       '양주시', '포천시', '여주시', None, '춘천시', '원주시', '강릉시', '동해시', '태백시',
       '속초시', '삼척시', '청주시', '충주시', '제천시', '천안시', '공주시', '보령시', '아산시',
       '서산시', '논산시', '계룡시', '당진시', '전주시', '군산시', '익산시', '정읍시', '남원시',
       '김제시', '목포시', '여수시', '순천시', '나주시', '광양시', '포항시', '경주시', '김천시',
       '안동시', '구미시', '영주시', '영천시', '상주시', '문경시', '경산시', '창원시', '진주시',
       '통영시', '사천시', '김해시', '밀양시', '거제시', '양산시', '제주시', '서귀포시'],
      dtype=object)

In [374]:
si = ['서울특별시','부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
       '울산광역시','수원시', '성남시', '안양시', '안산시', '고양시', '용인시', '청주시', 
      '천안시', '전주시', '포항시', '창원시']

In [375]:
len(si)

18

In [376]:
# 'si' 리스트와 정확히 일치하는 값 &'군/구' 컬럼은 null값 삭제
new_pop = new_pop[~((new_pop['시'].isin(si)) &  (new_pop['군/구'].isnull()))]
new_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 1 to 277
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정명         250 non-null    object
 1   도           175 non-null    object
 2   시           173 non-null    object
 3   군/구         183 non-null    object
 4   행정코드        250 non-null    object
 5   2018년_총인구수  250 non-null    int64
 6   2019년_총인구수  250 non-null    int64
 7   2020년_총인구수  250 non-null    int64
 8   2021년_총인구수  250 non-null    int64
 9   2022년_총인구수  250 non-null    int64
dtypes: int64(5), object(5)
memory usage: 21.5+ KB

### **마지막 행에 총인구수 합이 일치한지 확인하기 위한 총 합계 데이터 추가**

In [377]:
# 5개 컬럼의 합계를 계산
sum_row = new_pop[["2018년_총인구수", "2019년_총인구수", "2020년_총인구수", "2021년_총인구수", "2022년_총인구수"]].sum()

# 계산된 합계를 데이터프레임의 마지막 행으로 추가
new_pop = new_pop.append(sum_row, ignore_index=True)
new_pop.tail(1)

C:\Users\Gong\AppData\Local\Temp\ipykernel_6284\4256305120.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_pop = new_pop.append(sum_row, ignore_index=True)

,행정명,도,시,군/구,행정코드,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수
250,NaN,NaN,NaN,NaN,NaN,51826059,51849861,51829023,51638809,51439038

### **시도, 시군구 컬럼 추가**

In [378]:
# 특별시 
new_si = ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시']

# '시도' 컬럼
new_pop['시도'] = new_pop.apply(lambda row: row['시'] if row['시'] in new_si else row['도'], axis=1)

In [379]:
new_pop['시도'].unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도', nan], dtype=object)

In [380]:
# '시군구' 컬럼을 생성
def sigungu(row):
    if row in ['충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도']:
        return row[0] + row[2]
    elif row in ['서울특별시', '경기도', '강원도', '제주특별자치도', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시']:
        return row[:2]
    else:
        return row  # 나머지 경우에는 원본 값

# '시군구' 컬럼 생성
new_pop['시군구'] = new_pop['시도'].apply(sigungu)

In [381]:
new_pop['시군구'].unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북',
       '충남', '전북', '전남', '경북', '경남', '제주', nan], dtype=object)

In [382]:
new_si2 = ['수원시', '성남시', '의정부시', '안양시', '부천시', '광명시', '평택시',
       '동두천시', '안산시', '고양시', '과천시', '구리시', '남양주시', '오산시', '시흥시', '군포시',
       '의왕시', '하남시', '용인시', '파주시', '이천시', '안성시', '김포시', '화성시', '광주시',
       '양주시', '포천시', '여주시', '춘천시', '원주시', '강릉시', '동해시', '태백시',
       '속초시', '삼척시', '청주시', '충주시', '제천시', '천안시', '공주시', '보령시', '아산시',
       '서산시', '논산시', '계룡시', '당진시', '전주시', '군산시', '익산시', '정읍시', '남원시',
       '김제시', '목포시', '여수시', '순천시', '나주시', '광양시', '포항시', '경주시', '김천시',
       '안동시', '구미시', '영주시', '영천시', '상주시', '문경시', '경산시', '창원시', '진주시',
       '통영시', '사천시', '김해시', '밀양시', '거제시', '양산시', '제주시', '서귀포시']

def new_sigungu(row):
    if row['시'] in new_si2:
        # ''시군구' 값='시도'+'시'
        return row['시군구'] + row['시'][:-1]
    else:
        # 그 외, '시군구' 
        return row['시군구']

new_pop['시군구'] = new_pop.apply(new_sigungu, axis=1)

In [383]:
new_pop['시군구'].unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기수원', '경기성남',
       '경기의정부', '경기안양', '경기부천', '경기광명', '경기평택', '경기동두천', '경기안산', '경기고양',
       '경기과천', '경기구리', '경기남양주', '경기오산', '경기시흥', '경기군포', '경기의왕', '경기하남',
       '경기용인', '경기파주', '경기이천', '경기안성', '경기김포', '경기화성', '경기광주', '경기양주',
       '경기포천', '경기여주', '경기', '강원춘천', '강원원주', '강원강릉', '강원동해', '강원태백',
       '강원속초', '강원삼척', '강원', '충북청주', '충북충주', '충북제천', '충북', '충남천안', '충남공주',
       '충남보령', '충남아산', '충남서산', '충남논산', '충남계룡', '충남당진', '충남', '전북전주',
       '전북군산', '전북익산', '전북정읍', '전북남원', '전북김제', '전북', '전남목포', '전남여수',
       '전남순천', '전남나주', '전남광양', '전남', '경북포항', '경북경주', '경북김천', '경북안동',
       '경북구미', '경북영주', '경북영천', '경북상주', '경북문경', '경북경산', '경북', '경남창원',
       '경남진주', '경남통영', '경남사천', '경남김해', '경남밀양', '경남거제', '경남양산', '경남',
       '제주제주', '제주서귀포', nan], dtype=object)

In [384]:
new_pop['군/구'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '서구', '동구',
       '영도구', '부산진구', '동래구', '남구', '북구', '해운대구', '사하구', '금정구', '연제구',
       '수영구', '사상구', '기장군', '수성구', '달서구', '달성군', '미추홀구', '연수구', '남동구',
       '부평구', '계양구', '강화군', '옹진군', '광산구', '유성구', '대덕구', '울주군', None,
       '장안구', '권선구', '팔달구', '영통구', '수정구', '중원구', '분당구', '만안구', '동안구',
       '상록구', '단원구', '덕양구', '일산동구', '일산서구', '처인구', '기흥구', '수지구', '연천군',
       '가평군', '양평군', '홍천군', '횡성군', '영월군', '평창군', '정선군', '철원군', '화천군',
       '양구군', '인제군', '고성군', '양양군', '상당구', '서원구', '흥덕구', '청원구', '보은군',
       '옥천군', '영동군', '증평군', '진천군', '괴산군', '음성군', '단양군', '동남구', '서북구',
       '금산군', '부여군', '서천군', '청양군', '홍성군', '예산군', '태안군', '완산구', '덕진구',
       '완주군', '진안군', '무주군', '장수군', '임실군', '순창군', '고창군', '부안군', '담양군',
       '곡성군', '구례군', '고흥군', '보성군', '화순군', '장흥군', '강진군', '해남군', '영암군',
       '무안군', '함평군', '영광군', '장성군', '완도군', '진도군', '신안군', '군위군', '의성군',
       '청송군', '영양군', '영덕군', '청도군', '고령군', '성주군', '칠곡군', '예천군', '봉화군',
       '울진군', '울릉군', '의창구', '성산구', '마산합포구', '마산회원구', '진해구', '의령군', '함안군',
       '창녕군', '남해군', '하동군', '산청군', '함양군', '거창군', '합천군', nan], dtype=object)

In [385]:
gu = ['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '서구', '동구',
       '영도구', '부산진구', '동래구', '남구', '북구', '해운대구', '사하구', '금정구', '연제구',
       '수영구', '사상구', '기장군', '수성구', '달서구', '달성군', '미추홀구', '연수구', '남동구',
       '부평구', '계양구', '강화군', '옹진군', '광산구', '유성구', '대덕구', '울주군',
       '장안구', '권선구', '팔달구', '영통구', '수정구', '중원구', '분당구', '만안구', '동안구',
       '상록구', '단원구', '덕양구', '일산동구', '일산서구', '처인구', '기흥구', '수지구', '연천군',
       '가평군', '양평군', '홍천군', '횡성군', '영월군', '평창군', '정선군', '철원군', '화천군',
       '양구군', '인제군', '고성군', '양양군', '상당구', '서원구', '흥덕구', '청원구', '보은군',
       '옥천군', '영동군', '증평군', '진천군', '괴산군', '음성군', '단양군', '동남구', '서북구',
       '금산군', '부여군', '서천군', '청양군', '홍성군', '예산군', '태안군', '완산구', '덕진구',
       '완주군', '진안군', '무주군', '장수군', '임실군', '순창군', '고창군', '부안군', '담양군',
       '곡성군', '구례군', '고흥군', '보성군', '화순군', '장흥군', '강진군', '해남군', '영암군',
       '무안군', '함평군', '영광군', '장성군', '완도군', '진도군', '신안군', '군위군', '의성군',
       '청송군', '영양군', '영덕군', '청도군', '고령군', '성주군', '칠곡군', '예천군', '봉화군',
       '울진군', '울릉군', '의창구', '성산구', '마산합포구', '마산회원구', '진해구', '의령군', '함안군',
       '창녕군', '남해군', '하동군', '산청군', '함양군', '거창군', '합천군']

def new_sigungu_2(row):
    if row['군/구'] in gu:
        #'시군구' +  '군/구'
        return row['시군구'] + row['군/구']
    else:
        # 그 외, '시군구' 
        return row['시군구']

new_pop['시군구'] = new_pop.apply(new_sigungu_2, axis=1)

In [386]:
new_pop['시군구'].unique()

array(['서울종로구', '서울중구', '서울용산구', '서울성동구', '서울광진구', '서울동대문구', '서울중랑구',
       '서울성북구', '서울강북구', '서울도봉구', '서울노원구', '서울은평구', '서울서대문구', '서울마포구',
       '서울양천구', '서울강서구', '서울구로구', '서울금천구', '서울영등포구', '서울동작구', '서울관악구',
       '서울서초구', '서울강남구', '서울송파구', '서울강동구', '부산중구', '부산서구', '부산동구',
       '부산영도구', '부산부산진구', '부산동래구', '부산남구', '부산북구', '부산해운대구', '부산사하구',
       '부산금정구', '부산강서구', '부산연제구', '부산수영구', '부산사상구', '부산기장군', '대구중구',
       '대구동구', '대구서구', '대구남구', '대구북구', '대구수성구', '대구달서구', '대구달성군', '인천중구',
       '인천동구', '인천미추홀구', '인천연수구', '인천남동구', '인천부평구', '인천계양구', '인천서구',
       '인천강화군', '인천옹진군', '광주동구', '광주서구', '광주남구', '광주북구', '광주광산구', '대전동구',
       '대전중구', '대전서구', '대전유성구', '대전대덕구', '울산중구', '울산남구', '울산동구', '울산북구',
       '울산울주군', '세종', '경기수원장안구', '경기수원권선구', '경기수원팔달구', '경기수원영통구',
       '경기성남수정구', '경기성남중원구', '경기성남분당구', '경기의정부', '경기안양만안구', '경기안양동안구',
       '경기부천', '경기광명', '경기평택', '경기동두천', '경기안산상록구', '경기안산단원구', '경기고양덕양구',
       '경기고양일산동구', '경기고양일산서구', '경기과천', '경기구리', '경기남양주', '경기오산', '경기시흥',
       '경기군포', '경기의왕', '경기하남', '경기용인처인구', '경기용인기흥구', '경기용인수지구', '경기파주',
       '경기이천', '경기안성', '경기김포', '경기화성', '경기광주', '경기양주', '경기포천', '경기여주',
       '경기연천군', '경기가평군', '경기양평군', '강원춘천', '강원원주', '강원강릉', '강원동해', '강원태백',
       '강원속초', '강원삼척', '강원홍천군', '강원횡성군', '강원영월군', '강원평창군', '강원정선군',
       '강원철원군', '강원화천군', '강원양구군', '강원인제군', '강원고성군', '강원양양군', '충북청주상당구',
       '충북청주서원구', '충북청주흥덕구', '충북청주청원구', '충북충주', '충북제천', '충북보은군', '충북옥천군',
       '충북영동군', '충북증평군', '충북진천군', '충북괴산군', '충북음성군', '충북단양군', '충남천안동남구',
       '충남천안서북구', '충남공주', '충남보령', '충남아산', '충남서산', '충남논산', '충남계룡', '충남당진',
       '충남금산군', '충남부여군', '충남서천군', '충남청양군', '충남홍성군', '충남예산군', '충남태안군',
       '전북전주완산구', '전북전주덕진구', '전북군산', '전북익산', '전북정읍', '전북남원', '전북김제',
       '전북완주군', '전북진안군', '전북무주군', '전북장수군', '전북임실군', '전북순창군', '전북고창군',
       '전북부안군', '전남목포', '전남여수', '전남순천', '전남나주', '전남광양', '전남담양군', '전남곡성군',
       '전남구례군', '전남고흥군', '전남보성군', '전남화순군', '전남장흥군', '전남강진군', '전남해남군',
       '전남영암군', '전남무안군', '전남함평군', '전남영광군', '전남장성군', '전남완도군', '전남진도군',
       '전남신안군', '경북포항남구', '경북포항북구', '경북경주', '경북김천', '경북안동', '경북구미',
       '경북영주', '경북영천', '경북상주', '경북문경', '경북경산', '경북군위군', '경북의성군', '경북청송군',
       '경북영양군', '경북영덕군', '경북청도군', '경북고령군', '경북성주군', '경북칠곡군', '경북예천군',
       '경북봉화군', '경북울진군', '경북울릉군', '경남창원의창구', '경남창원성산구', '경남창원마산합포구',
       '경남창원마산회원구', '경남창원진해구', '경남진주', '경남통영', '경남사천', '경남김해', '경남밀양',
       '경남거제', '경남양산', '경남의령군', '경남함안군', '경남창녕군', '경남고성군', '경남남해군',
       '경남하동군', '경남산청군', '경남함양군', '경남거창군', '경남합천군', '제주제주', '제주서귀포', nan],
      dtype=object)

In [387]:
new_pop.columns

Index(['행정명', '도', '시', '군/구', '행정코드', '2018년_총인구수', '2019년_총인구수',
       '2020년_총인구수', '2021년_총인구수', '2022년_총인구수', '시도', '시군구'],
      dtype='object')

In [388]:
new_pop = new_pop[['시도', '시군구', '행정코드','2018년_총인구수','2019년_총인구수', '2020년_총인구수', '2021년_총인구수', '2022년_총인구수']]
new_pop

,시도,시군구,행정코드,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수
0,서울특별시,서울종로구,1111000000,153065,151290,149384,144683,141379
1,서울특별시,서울중구,1114000000,125725,126171,125240,122499,120437
2,서울특별시,서울용산구,1117000000,228999,228670,230040,222953,218650
3,서울특별시,서울성동구,1120000000,308221,300889,293556,285990,281000
4,서울특별시,서울광진구,1121500000,355559,351350,346682,339996,337416
...,...,...,...,...,...,...,...,...
246,경상남도,경남거창군,4888000000,62455,62179,61502,61073,60387
247,경상남도,경남합천군,4889000000,45916,45204,44006,42935,42142
248,제주특별자치도,제주제주,5011000000,485946,489405,492466,493096,493389
249,제주특별자치도,제주서귀포,5013000000,181245,181584,182169,183663,184770
250,NaN,NaN,NaN,51826059,51849861,51829023,51638809,51439038

In [389]:
new_pop.head()

,시도,시군구,행정코드,2018년_총인구수,2019년_총인구수,2020년_총인구수,2021년_총인구수,2022년_총인구수
0,서울특별시,서울종로구,1111000000,153065,151290,149384,144683,141379
1,서울특별시,서울중구,1114000000,125725,126171,125240,122499,120437
2,서울특별시,서울용산구,1117000000,228999,228670,230040,222953,218650
3,서울특별시,서울성동구,1120000000,308221,300889,293556,285990,281000
4,서울특별시,서울광진구,1121500000,355559,351350,346682,339996,337416

In [390]:
# melt 함수를 사용하여 데이터프레임 재구성
tot_pop = new_pop.melt(id_vars=['시도', '시군구', '행정코드'], 
                              var_name='년도', 
                              value_name='총인구수')

# '년도' 컬럼에서 '년_총인구수' 문자열 제거
tot_pop['년도'] = tot_pop['년도'].str.replace('년_총인구수', '').astype(int)
tot_pop.tail()

           시도    시군구        행정코드    년도      총인구수
1250     경상남도  경남거창군  4888000000  2022     60387
1251     경상남도  경남합천군  4889000000  2022     42142
1252  제주특별자치도   제주제주  5011000000  2022    493389
1253  제주특별자치도  제주서귀포  5013000000  2022    184770
1254      NaN    NaN         NaN  2022  51439038

In [393]:
tot_pop['시군구'] = tot_pop['시군구'].apply(lambda x: x if pd.isna(x) or x.endswith('군') or x.endswith('구') else x + '시')
tot_pop

           시도     시군구        행정코드    년도      총인구수
0       서울특별시   서울종로구  1111000000  2018    153065
1       서울특별시    서울중구  1114000000  2018    125725
2       서울특별시   서울용산구  1117000000  2018    228999
3       서울특별시   서울성동구  1120000000  2018    308221
4       서울특별시   서울광진구  1121500000  2018    355559
...       ...     ...         ...   ...       ...
1250     경상남도   경남거창군  4888000000  2022     60387
1251     경상남도   경남합천군  4889000000  2022     42142
1252  제주특별자치도   제주제주시  5011000000  2022    493389
1253  제주특별자치도  제주서귀포시  5013000000  2022    184770
1254      NaN     NaN         NaN  2022  51439038

[1255 rows x 5 columns]

In [394]:
tot_pop['시군구'].unique()

array(['서울종로구', '서울중구', '서울용산구', '서울성동구', '서울광진구', '서울동대문구', '서울중랑구',
       '서울성북구', '서울강북구', '서울도봉구', '서울노원구', '서울은평구', '서울서대문구', '서울마포구',
       '서울양천구', '서울강서구', '서울구로구', '서울금천구', '서울영등포구', '서울동작구', '서울관악구',
       '서울서초구', '서울강남구', '서울송파구', '서울강동구', '부산중구', '부산서구', '부산동구',
       '부산영도구', '부산부산진구', '부산동래구', '부산남구', '부산북구', '부산해운대구', '부산사하구',
       '부산금정구', '부산강서구', '부산연제구', '부산수영구', '부산사상구', '부산기장군', '대구중구',
       '대구동구', '대구서구', '대구남구', '대구북구', '대구수성구', '대구달서구', '대구달성군', '인천중구',
       '인천동구', '인천미추홀구', '인천연수구', '인천남동구', '인천부평구', '인천계양구', '인천서구',
       '인천강화군', '인천옹진군', '광주동구', '광주서구', '광주남구', '광주북구', '광주광산구', '대전동구',
       '대전중구', '대전서구', '대전유성구', '대전대덕구', '울산중구', '울산남구', '울산동구', '울산북구',
       '울산울주군', '세종시', '경기수원장안구', '경기수원권선구', '경기수원팔달구', '경기수원영통구',
       '경기성남수정구', '경기성남중원구', '경기성남분당구', '경기의정부시', '경기안양만안구', '경기안양동안구',
       '경기부천시', '경기광명시', '경기평택시', '경기동두천시', '경기안산상록구', '경기안산단원구',
       '경기고양덕양구', '경기고양일산동구', '경기고양일산서구', '경기과천시', '경기구리시', '경기남양주시',
       '경기오산시', '경기시흥시', '경기군포시', '경기의왕시', '경기하남시', '경기용인처인구', '경기용인기흥구',
       '경기용인수지구', '경기파주시', '경기이천시', '경기안성시', '경기김포시', '경기화성시', '경기광주시',
       '경기양주시', '경기포천시', '경기여주시', '경기연천군', '경기가평군', '경기양평군', '강원춘천시',
       '강원원주시', '강원강릉시', '강원동해시', '강원태백시', '강원속초시', '강원삼척시', '강원홍천군',
       '강원횡성군', '강원영월군', '강원평창군', '강원정선군', '강원철원군', '강원화천군', '강원양구군',
       '강원인제군', '강원고성군', '강원양양군', '충북청주상당구', '충북청주서원구', '충북청주흥덕구',
       '충북청주청원구', '충북충주시', '충북제천시', '충북보은군', '충북옥천군', '충북영동군', '충북증평군',
       '충북진천군', '충북괴산군', '충북음성군', '충북단양군', '충남천안동남구', '충남천안서북구', '충남공주시',
       '충남보령시', '충남아산시', '충남서산시', '충남논산시', '충남계룡시', '충남당진시', '충남금산군',
       '충남부여군', '충남서천군', '충남청양군', '충남홍성군', '충남예산군', '충남태안군', '전북전주완산구',
       '전북전주덕진구', '전북군산시', '전북익산시', '전북정읍시', '전북남원시', '전북김제시', '전북완주군',
       '전북진안군', '전북무주군', '전북장수군', '전북임실군', '전북순창군', '전북고창군', '전북부안군',
       '전남목포시', '전남여수시', '전남순천시', '전남나주시', '전남광양시', '전남담양군', '전남곡성군',
       '전남구례군', '전남고흥군', '전남보성군', '전남화순군', '전남장흥군', '전남강진군', '전남해남군',
       '전남영암군', '전남무안군', '전남함평군', '전남영광군', '전남장성군', '전남완도군', '전남진도군',
       '전남신안군', '경북포항남구', '경북포항북구', '경북경주시', '경북김천시', '경북안동시', '경북구미시',
       '경북영주시', '경북영천시', '경북상주시', '경북문경시', '경북경산시', '경북군위군', '경북의성군',
       '경북청송군', '경북영양군', '경북영덕군', '경북청도군', '경북고령군', '경북성주군', '경북칠곡군',
       '경북예천군', '경북봉화군', '경북울진군', '경북울릉군', '경남창원의창구', '경남창원성산구',
       '경남창원마산합포구', '경남창원마산회원구', '경남창원진해구', '경남진주시', '경남통영시', '경남사천시',
       '경남김해시', '경남밀양시', '경남거제시', '경남양산시', '경남의령군', '경남함안군', '경남창녕군',
       '경남고성군', '경남남해군', '경남하동군', '경남산청군', '경남함양군', '경남거창군', '경남합천군',
       '제주제주시', '제주서귀포시', nan], dtype=object)

In [395]:
# new_pop 데이터프레임 저장
tot_pop.to_csv('sigungu_tot_pop.csv', encoding='CP949', index=False)